Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Wuestengecko, @vik378, @ewuerger

.github/CODEOWNERS:

# SPDX-FileCopyrightText: Copyright DB InfraGO AG
# SPDX-License-Identifier: CC0-1.0

*	@Wuestengecko @vik378

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko
/capellambse/repl.py	@Wuestengecko

/capellambse/svg/	@ewuerger

# vim:set ts=32 sw=0 noet:

feat(decl): Implement `sync:*:extend`
  capellambse/decl.py
  tests/test_decl.py
Owners: @Wuestengecko, @vik378

fix(svg): Use the same font definitions everywhere
  capellambse/svg/drawing.py
  capellambse/svg/symbols.py
Owners: @ewuerger

fix(model): Unify naming schema for min/max_value
  capellambse/model/crosslayer/information/__init__.py
Owners: @Wuestengecko

feat(model): Implement delete for RoleTagAccessors
  capellambse/model/common/accessors.py
Owners: @Wuestengecko

fix(decl): Delete lists using `clear`
  capellambse/decl.py
Owners: @Wuestengecko, @vik378

refactor(decl): Rename sync set to modify
  capellambse/decl.py
Owners: @Wuestengecko, @vik378

fix(git): Resolve default branch
  capellambse/filehandler/git.py
  tests/test_filehandler_git.py
Owners: @Wuestengecko, @vik378

feat(diagram): Allow multiple floating Box labels
  capellambse/aird/_box_factories.py
  capellambse/aird/_common.py
  capellambse/aird/_edge_factories.py
  capellambse/aird/_filters/global.py
  capellambse/aird/_visual.py
  capellambse/diagram/_diagram.py
  capellambse/diagram/_json_enc.py
  capellambse/helpers.py
  capellambse/model/diagram.py
  capellambse/svg/decorations.py
  capellambse/svg/drawing.py
  tests/data/melodymodel/5_2/Melody Model Test.aird
  tests/test_aird_filters.py
Owners: @Wuestengecko, @vik378, @ewuerger

feat(diagram): Add additional diagram parameters
  capellambse/diagram/_diagram.py
  capellambse/diagram/_json_enc.py
  capellambse/svg/drawing.py
  capellambse/svg/generate.py
Owners: @Wuestengecko, @vik378, @ewuerger

fix(svg): Fix label size and position calculations
  capellambse/helpers.py
  capellambse/svg/drawing.py
  capellambse/svg/helpers.py
  tests/test_svg.py
Owners: @Wuestengecko, @vik378, @ewuerger

feat(diagram): Split up "Box.labels"
  capellambse/aird/_box_factories.py
  capellambse/aird/_common.py
  capellambse/aird/_edge_factories.py
  capellambse/aird/_filters/global.py
  capellambse/aird/_visual.py
  capellambse/diagram/_diagram.py
  capellambse/diagram/_json_enc.py
  capellambse/model/diagram.py
  capellambse/svg/drawing.py
  capellambse/svg/helpers.py
  tests/test_aird_filters.py
Owners: @Wuestengecko, @vik378, @ewuerger

feat(model): Implement System/LogicalFunction.involved_in
  capellambse/model/layers/ctx.py
  capellambse/model/layers/la.py
Owners: @Wuestengecko

refactor(decl): Rename modify to set
  capellambse/decl.py
  docs/source/start/declarative.rst
Owners: @Wuestengecko, @vik378

feat: Implement replacing model objects for RoleTagAccessors
  capellambse/model/common/accessors.py
Owners: @Wuestengecko

fix(git): Resolve default branch
  capellambse/filehandler/git.py
  tests/test_filehandler_git.py
  tests/test_model_loading.py
Owners: @Wuestengecko, @vik378

test: Move git-specific test over to git test file
  tests/test_filehandler_git.py
  tests/test_model_loading.py
Owners: @Wuestengecko, @vik378

perf(git): Use tree-less partial clones
  capellambse/filehandler/git.py
Owners: @Wuestengecko, @vik378

docs: Update `load_model_extensions` docstring
  capellambse/__init__.py
Owners: @Wuestengecko, @vik378

refactor: Type-check with `types-lxml`
  .pre-commit-config.yaml
  capellambse/aird/__init__.py
  capellambse/aird/_box_factories.py
  capellambse/aird/_edge_factories.py
  capellambse/aird/_filters/__init__.py
  capellambse/aird/_filters/global.py
  capellambse/aird/_semantic.py
  capellambse/aird/_styling.py
  capellambse/aird/_visual.py
  capellambse/decl.py
  capellambse/diagram/_diagram.py
  capellambse/diagram/_vector2d.py
  capellambse/extensions/reqif/_capellareq.py
  capellambse/extensions/reqif/exporter.py
  capellambse/helpers.py
  capellambse/loader/core.py
  capellambse/loader/exs.py
  capellambse/model/common/accessors.py
  tests/static_assertions.py
Owners: @Wuestengecko, @vik378

feat(model): Expose the representation path on diagrams
  capellambse/model/diagram.py
Owners: @Wuestengecko

chore: Fix some mypy/pylint issues
  capellambse/sphinx.py
  pyproject.toml
Owners: @Wuestengecko, @vik378

ci: Add pyupgrade hook
  .pre-commit-config.yaml
  capellambse/_namespaces.py
  capellambse/diagram/_styleclass.py
  capellambse/loader/exs.py
  capellambse/model/common/element.py
  capellambse/model/crosslayer/fa.py
  capellambse/pvmt/validation.py
  tests/test_model_loading.py
  tests/test_pvmt.py
Owners: @Wuestengecko, @vik378

feat(model): Expose SA metamodel as `model.sa`
  capellambse/model/__init__.py
Owners: @Wuestengecko

feat: Add a helper for transforming `hlink://` URLs
  capellambse/helpers.py
Owners: @Wuestengecko, @vik378

fix(model): Add stop-gap to use old diagram IDs downstream
  capellambse/model/diagram.py
Owners: @Wuestengecko

docs: Use markdown for README and CONTRIBUTING
  CONTRIBUTING.md
  CONTRIBUTING.rst
  README.md
  README.rst
Owners: @Wuestengecko, @vik378

feat(model): Generate hlink URLs in `_short_html_`
  capellambse/extensions/reqif/_requirements.py
  capellambse/helpers.py
  capellambse/model/common/element.py
Owners: @Wuestengecko, @vik378

build: Use README.md as package description
  pyproject.toml
Owners: @Wuestengecko, @vik378

feat(model): Recognize wildcard classes in search
  capellambse/model/__init__.py
Owners: @Wuestengecko

fix(model): Fix links to owned functions
  capellambse/model/crosslayer/fa.py
  capellambse/model/layers/pa.py
Owners: @Wuestengecko

fix(model): Fix functional allocations and deployment links
  capellambse/model/crosslayer/cs.py
  capellambse/model/layers/ctx.py
  capellambse/model/layers/la.py
  capellambse/model/layers/oa.py
  capellambse/model/layers/pa.py
Owners: @Wuestengecko

feat(model): Allow specifying classes on RoleTagAccessor
  capellambse/model/common/accessors.py
Owners: @Wuestengecko

fix(model): Use correct XML tags for `*Function` classes
  capellambse/model/layers/ctx.py
  capellambse/model/layers/la.py
Owners: @Wuestengecko

feat(repl): Add a little fzf wrapper function
  capellambse/repl.py
Owners: @Wuestengecko

docs(repl): Improve documentation of the REPL
  capellambse/repl.py
Owners: @Wuestengecko

fix(svg): Fix labels of objects with feature lines
  capellambse/svg/drawing.py
Owners: @ewuerger

fix: Remove broken `Association.source_role`
  capellambse/model/crosslayer/information/__init__.py
Owners: @Wuestengecko

feat: Add viewpoint names to known namespaces
  capellambse/_namespaces.py
Owners: @Wuestengecko, @vik378

feat: Add methods for viewpoint management
  capellambse/loader/core.py
  capellambse/model/__init__.py
Owners: @Wuestengecko

refactor: Simplify namespace version checks
  capellambse/_namespaces.py
  capellambse/helpers.py
  capellambse/pvmt/validation.py
Owners: @Wuestengecko, @vik378
