Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DSD-DBS/se-toolchain, @Wuestengecko, @ewuerger

.github/CODEOWNERS:

*	@DSD-DBS/se-toolchain

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko

/capellambse/svg/	@ewuerger

xmltools: Improve AttributeProperty behavior
  capellambse/loader/xmltools.py
  tests/test_reqif.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

xmltools: Add a DatetimeAttributeProperty
  capellambse/loader/xmltools.py
Owners: @Wuestengecko

reqif: Make a subpackage
  capellambse/extensions/reqif/__init__.py
  capellambse/extensions/reqif/elements.py
Owners: @DSD-DBS/se-toolchain

Migrate mypy settings into pyproject.toml
  mypy.ini
  pyproject.toml
Owners: @DSD-DBS/se-toolchain

reqif: Implement a ReqIF 1.1 compatible exporter
  capellambse/extensions/reqif/elements.py
  capellambse/extensions/reqif/exporter.py
Owners: @DSD-DBS/se-toolchain

Export the `get_filehandler` function from top level
  capellambse/__init__.py
Owners: @DSD-DBS/se-toolchain

filehandler: Implement support for `subdir=` parameter
  capellambse/loader/filehandler/__init__.py
  capellambse/loader/filehandler/gitfilehandler.py
  capellambse/loader/filehandler/http.py
  capellambse/loader/filehandler/localfilehandler.py
Owners: @Wuestengecko

loader: Support multiple resource locations
  capellambse/loader/core.py
Owners: @Wuestengecko

loader: More meaningful exceptions for missing resource locations
  capellambse/loader/core.py
Owners: @Wuestengecko

README: Fix broken myBinder link
  README.md
Owners: @DSD-DBS/se-toolchain

aird: Improve edge snapping behavior
  capellambse/aird/parser/_edge_factories.py
  tests/test_aird_vector2d.py
Owners: @DSD-DBS/se-toolchain

Added method _short_html_ to class AbstracDiagram to list diagrams and corresponding uuid
  capellambse/model/diagram.py
Owners: @Wuestengecko

aird: Strip HTML tags from label text
  capellambse/aird/parser/_common.py
Owners: @DSD-DBS/se-toolchain

loader: Accept `str` or `dict` as resources
  capellambse/loader/core.py
Owners: @Wuestengecko

loader: Unquote fragment refs in follow_link
  capellambse/loader/core.py
Owners: @Wuestengecko

model: Register architecture layers as xtype_handlers
  capellambse/model/layers/ctx.py
  capellambse/model/layers/la.py
  capellambse/model/layers/oa.py
  capellambse/model/layers/pa.py
Owners: @Wuestengecko

pre-commit: autoupdate
  .pre-commit-config.yaml
  capellambse/_namespaces.py
  capellambse/aird/capstyle.py
  capellambse/aird/diagram.py
  capellambse/aird/parser/_common.py
  capellambse/aird/vector2d.py
  capellambse/helpers.py
  capellambse/loader/filehandler/http.py
  capellambse/model/common/accessors.py
  capellambse/model/common/element.py
  capellambse/model/modeltypes.py
  capellambse/svg/drawing.py
  capellambse/svg/generate.py
  capellambse/svg/style.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko, @ewuerger

Adjust short html function
  capellambse/model/diagram.py
Owners: @Wuestengecko

To have an id that fits what we set in line 250
  capellambse/extensions/reqif/exporter.py
Owners: @DSD-DBS/se-toolchain

Fix type annotation
  capellambse/model/diagram.py
Owners: @Wuestengecko

Write enumeration value definitions
  capellambse/extensions/reqif/exporter.py
Owners: @DSD-DBS/se-toolchain

Add Auditing feature
  capellambse/auditing.py
  capellambse/loader/xmltools.py
  capellambse/model/common/accessors.py
  tests/test_auditing.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

Fix PVMT tests
  capellambse/auditing.py
Owners: @DSD-DBS/se-toolchain

reqif: Simplify writing of output files
  capellambse/extensions/reqif/exporter.py
Owners: @DSD-DBS/se-toolchain

reqif: Fix +/- infinity in export
  capellambse/extensions/reqif/exporter.py
Owners: @DSD-DBS/se-toolchain

reqif: Export `SPECIFICATION` and `SPEC-HIERARCHY`
  capellambse/extensions/reqif/exporter.py
Owners: @DSD-DBS/se-toolchain

Add XHTML namespace
  capellambse/extensions/reqif/exporter.py
Owners: @DSD-DBS/se-toolchain

Add std attributes & simple specification type
  capellambse/extensions/reqif/exporter.py
Owners: @DSD-DBS/se-toolchain

Add demo notebook for Capella Libraries
  examples/05 Introduction to Libraries.ipynb
  tests/data/Library Project/.project
  tests/data/Library Project/Library Project.afm
  tests/data/Library Project/Library Project.aird
  tests/data/Library Project/Library Project.capella
  tests/data/Library Test/.project
  tests/data/Library Test/Library Test.afm
  tests/data/Library Test/Library Test.aird
  tests/data/Library Test/Library Test.capella
Owners: @DSD-DBS/se-toolchain

why a long name, when the func is so short
  capellambse/extensions/reqif/exporter.py
Owners: @DSD-DBS/se-toolchain

aird: Snap boxes to new parent when reparenting
  capellambse/aird/diagram.py
Owners: @DSD-DBS/se-toolchain

aird: Fix sequencing error when deserializing boxes
  capellambse/aird/parser/_box_factories.py
Owners: @DSD-DBS/se-toolchain

aird: Invert the direction of `Vector2D.angleto()`
  capellambse/aird/parser/_edge_factories.py
  capellambse/aird/vector2d.py
Owners: @DSD-DBS/se-toolchain

aird: Clean up unused Box methods
  capellambse/aird/diagram.py
Owners: @DSD-DBS/se-toolchain

aird: Default to 5px `width`/`height` on `diag_element`
  capellambse/aird/parser/_box_factories.py
Owners: @DSD-DBS/se-toolchain

aird: Rewrite edge/box snapping
  capellambse/aird/diagram.py
  capellambse/aird/parser/_common.py
  capellambse/aird/parser/_edge_factories.py
  capellambse/aird/vector2d.py
  tests/test_aird_vector2d.py
  tests/test_svg.py
Owners: @DSD-DBS/se-toolchain

aird: Add factory for edge type 'exchange item elememt'
  capellambse/aird/parser/_edge_factories.py
  capellambse/aird/parser/_semantic.py
Owners: @DSD-DBS/se-toolchain

svg: Justify diamond and arrow shape
  capellambse/svg/style.py
  capellambse/svg/symbols.py
Owners: @ewuerger

Add pylint suppression
  capellambse/aird/diagram.py
Owners: @DSD-DBS/se-toolchain

Minor code style / docs cleanup
  capellambse/aird/diagram.py
  capellambse/aird/parser/_common.py
  capellambse/aird/parser/_edge_factories.py
Owners: @DSD-DBS/se-toolchain
