Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Wuestengecko, @vik378, @ewuerger

docs(diagram-cache): Update docstring of the `create_index` parameter
  capellambse/model/__init__.py
Owners: @Wuestengecko

docs(model): Fix wrong description of "uuid" key in diagram cache index
  capellambse/model/__init__.py
Owners: @Wuestengecko

chore: Update pre-commit hooks
  .pre-commit-config.yaml
  tests/test_cli_helpers.py
  tests/test_decl.py
  tests/test_model_creation_deletion.py
  tests/test_model_layers.py
  tests/test_model_loading.py
Owners: @Wuestengecko, @vik378

feat(model): Add 'kind' to Function and ComponentExchange
  capellambse/model/crosslayer/fa.py
  capellambse/model/modeltypes.py
Owners: @Wuestengecko

feat(model): Add all_functional_chains convience shortcuts
  capellambse/model/layers/ctx.py
  capellambse/model/layers/la.py
  capellambse/model/layers/oa.py
  capellambse/model/layers/pa.py
Owners: @Wuestengecko

feat(model): Add missing features for functional chains
  capellambse/model/crosslayer/fa.py
Owners: @Wuestengecko

feat(model): Enable RoleTagAccessor to create objects
  capellambse/model/common/accessors.py
  capellambse/model/common/element.py
  capellambse/model/crosslayer/information/__init__.py
Owners: @Wuestengecko

feat(model): Enable creating new objects on non-list attributes
  capellambse/__init__.py
  capellambse/extensions/reqif/_capellareq.py
  capellambse/model/__init__.py
  capellambse/model/common/__init__.py
  capellambse/model/common/accessors.py
  capellambse/model/common/element.py
Owners: @Wuestengecko, @vik378

feat(http): Add more percent-escapes
  capellambse/filehandler/http.py
  tests/test_model_loading.py
Owners: @Wuestengecko, @vik378

fix(diagram): Add missing end markers and fix ref point
  capellambse/diagram/capstyle.py
  capellambse/svg/symbols.py
Owners: @Wuestengecko, @vik378, @ewuerger

feat(diagram): Add Property styling
  capellambse/diagram/_styleclass.py
Owners: @Wuestengecko, @vik378

test: Fix influence of Gitlab-specific env vars on tests
  tests/test_model_loading.py
Owners: @Wuestengecko, @vik378

fix(loader): Ignore specified target file in cross-fragment links
  capellambse/loader/core.py
  tests/test_model_loading.py
Owners: @Wuestengecko, @vik378

fix(aird): Don't crash if there are no diagrams in the model
  capellambse/aird/__init__.py
Owners: @Wuestengecko, @vik378

fix: Add missing representation links
  capellambse/aird/__init__.py
  tests/data/melodymodel/6_0/Melody Model Test.aird
Owners: @Wuestengecko, @vik378

feat: Added `RepresentationLinkSymbol`
  capellambse/svg/style.py
  capellambse/svg/symbols.py
  tests/data/melodymodel/6_0/Melody Model Test.aird
Owners: @ewuerger, @Wuestengecko, @vik378

feat: Add `(has|iter)_children` methods
  capellambse/model/common/element.py
Owners: @Wuestengecko

feat: Added 2 labels for Representation Link
  capellambse/aird/_visual.py
  capellambse/diagram/_diagram.py
  capellambse/diagram/_json_enc.py
  capellambse/diagram/capstyle.py
  capellambse/svg/decorations.py
  capellambse/svg/drawing.py
  capellambse/svg/style.py
Owners: @Wuestengecko, @vik378, @ewuerger

feat(model): Enable access to the `resources` dictionary
  capellambse/model/__init__.py
Owners: @Wuestengecko

fix(git): Silence "file not found" logs
  capellambse/filehandler/git.py
Owners: @Wuestengecko, @vik378

fix(filehandler): Fix local files' opening mode
  capellambse/filehandler/local.py
Owners: @Wuestengecko, @vik378

fix(metrics): Don't crash if there are no diagrams or semantic objects
  capellambse/extensions/metrics/composer.py
  tests/test_aird_parser.py
Owners: @Wuestengecko, @vik378

feat: Add missing attributes and default styling
  capellambse/diagram/_styleclass.py
  capellambse/diagram/capstyle.py
  capellambse/model/crosslayer/capellacore.py
  capellambse/model/crosslayer/information/__init__.py
  capellambse/svg/decorations.py
Owners: @Wuestengecko, @vik378, @ewuerger

refactor: Rename diagram cache to diagram image cache
  capellambse/_diagram_image_cache.py
  capellambse/cli_helpers.py
  capellambse/diagram_image_cache.py
  capellambse/model/__init__.py
  capellambse/model/diagram.py
  capellambse/model/layers/ctx.py
  capellambse/model/layers/la.py
  capellambse/model/layers/oa.py
  capellambse/model/layers/pa.py
  capellambse/repl.py
  tests/test_model_loading.py
Owners: @Wuestengecko, @vik378

feat: Add missing attributes and default styling
  capellambse/diagram/_styleclass.py
  capellambse/diagram/capstyle.py
  capellambse/model/crosslayer/capellacore.py
  capellambse/model/crosslayer/information/__init__.py
  capellambse/svg/decorations.py
Owners: @Wuestengecko, @vik378, @ewuerger

feat: add icons for physical layer
  capellambse/aird/_box_factories.py
  capellambse/svg/decorations.py
  capellambse/svg/style.py
  capellambse/svg/symbols.py
Owners: @Wuestengecko, @vik378, @ewuerger

test: Add a PAB to diagram rendering test suite
  tests/test_svg.py
Owners: @Wuestengecko, @vik378

chore: Re-render PA notebook
  docs/source/examples/02 Intro to Physical Architecture API.ipynb
Owners: @Wuestengecko, @vik378

fix(aird): Add a missing f to a string
  capellambse/aird/__init__.py
Owners: @Wuestengecko, @vik378

fix(helpers): Detect a trailing next_xtype in split_links
  capellambse/helpers.py
Owners: @Wuestengecko, @vik378

fix(cli_helpers): Export ModelInfoCLI as well
  capellambse/cli_helpers.py
Owners: @Wuestengecko, @vik378

fix(helpers): Be more strict about the format in split_links
  capellambse/helpers.py
  capellambse/loader/core.py
Owners: @Wuestengecko, @vik378

feat(loader): Enable creating cross-fragments links without xtype prefix
  capellambse/loader/core.py
Owners: @Wuestengecko

refactor: Dynamically create decorations
  capellambse/svg/drawing.py
  capellambse/svg/style.py
  tests/test_svg.py
Owners: @ewuerger, @Wuestengecko, @vik378

feat: Add caching to the Gitlab Artifacts file handler
  capellambse/filehandler/gitlab_artifacts.py
  pyproject.toml
Owners: @Wuestengecko, @vik378

fix(loader): Write to the correct file handlers on save
  capellambse/loader/core.py
Owners: @Wuestengecko

fix(aird): Default size for boxes and added proper default size for notes
  capellambse/aird/_visual.py
  capellambse/diagram/_diagram.py
  docs/source/examples/02 Intro to Physical Architecture API.ipynb
Owners: @Wuestengecko, @vik378

fix(model): Fix `States.functions`
  capellambse/model/__init__.py
  capellambse/model/crosslayer/capellacommon.py
  capellambse/model/crosslayer/fa.py
Owners: @Wuestengecko

feat(model): Introduce the DataType subclasses from information.datatype
  capellambse/model/crosslayer/information/__init__.py
  capellambse/model/crosslayer/information/datatype.py
  capellambse/model/crosslayer/information/datavalue.py
  capellambse/model/modeltypes.py
Owners: @Wuestengecko

feat: Enable manually setting EnumLiteral value
  capellambse/model/crosslayer/information/datavalue.py
Owners: @Wuestengecko

.github/CODEOWNERS:

# SPDX-FileCopyrightText: Copyright DB Netz AG and the capellambse contributors
# SPDX-License-Identifier: CC0-1.0

*	@Wuestengecko @vik378

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko
/capellambse/repl.py	@Wuestengecko

/capellambse/svg/	@ewuerger

# vim:set ts=32 sw=0 noet:
