Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DSD-DBS/se-toolchain, @Wuestengecko, @ewuerger

Python 3.8 fix
  capellambse/model/common/element.py
Owners: @Wuestengecko

Ignore Class features that are an aggregation
  capellambse/aird/parser/_box_factories.py
Owners: @DSD-DBS/se-toolchain

model: Fix bad type annotation
  capellambse/model/layers/la.py
Owners: @Wuestengecko

LA ORM fix
  docs/capella-python-api/capella-python-api.aird
  docs/capella-python-api/capella-python-api.capella
Owners: @DSD-DBS/se-toolchain

ci: Make pylint errors/warnings actually fail the pipeline
  .github/workflows/lint.yml
  capellambse/aird/diagram.py
  capellambse/helpers.py
  capellambse/loader/filehandler/__init__.py
  capellambse/loader/filehandler/gitfilehandler.py
  capellambse/loader/filehandler/http.py
  capellambse/loader/filehandler/localfilehandler.py
  capellambse/model/common/accessors.py
  capellambse/model/layers/oa.py
  capellambse/svg/drawing.py
  capellambse/svg/generate.py
  capellambse/svg/style.py
  capellambse/svg/symbols.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko, @ewuerger

Split package build and verify step
  .github/workflows/build-test-publish.yml
Owners: @DSD-DBS/se-toolchain

Fix issue with absense of default attribute value
  capellambse/extensions/reqif.py
Owners: @DSD-DBS/se-toolchain

Make GenericElement hashable
  capellambse/model/common/element.py
Owners: @Wuestengecko

tests: Also check the searched file handler name
  tests/test_model_loading.py
Owners: @DSD-DBS/se-toolchain

Add missing license header
  capellambse/loader/filehandler/http.py
Owners: @Wuestengecko

Use set in GenericElement filter iterator
  capellambse/model/common/element.py
Owners: @Wuestengecko

Draw features line on Classes and Enumerations
  capellambse/svg/decorations.py
  capellambse/svg/drawing.py
Owners: @ewuerger

Test that plain file paths are properly handled
  tests/test_model_loading.py
Owners: @DSD-DBS/se-toolchain

Add separate test output for linux and windows
  tests/data/melodymodel/1_3/MelodyModelTest.[MSM] States of Functional Human Being.win32.json
  tests/data/parser/TestItems.repr.txt
  tests/data/parser/TestItems.repr.win32.txt
  tests/data/parser/TestItems.win32.json
  tests/test_aird_parser.py
Owners: @DSD-DBS/se-toolchain

filehandler: Recognize scp-style URLs as git protocol (#5)
  capellambse/loader/filehandler/__init__.py
  tests/test_model_loading.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

model: Add the HTTPFileHandler to see-also
  capellambse/model/__init__.py
Owners: @Wuestengecko

docs: Add `__init__` docstring to autodoc-ed classes
  docs/source/conf.py
Owners: @DSD-DBS/se-toolchain

model: Remove "from the filesystem" from MelodyModel's docstring
  capellambse/model/__init__.py
Owners: @Wuestengecko

model: Mention SCP-style URLs in MelodyModel `__init__`
  capellambse/model/__init__.py
Owners: @Wuestengecko

model: Improve docs of `MelodyModel.__init__` args
  capellambse/model/__init__.py
Owners: @Wuestengecko

ci: Add missing sphinx-apidoc step in docs.yml
  .github/workflows/docs.yml
Owners: @DSD-DBS/se-toolchain

Revert "Add a bit of docs for the high-level API"
  docs/source/api.rst
  docs/source/api/la.rst
  docs/source/api/model.rst
  docs/source/api/oa.rst
  docs/source/api/pa.rst
  docs/source/api/sa.rst
  docs/source/index.rst
Owners: @DSD-DBS/se-toolchain

removed obsolete contributors.rst
  docs/source/start/contributors.rst
Owners: @DSD-DBS/se-toolchain

ci: Don't keep historic docs around
  .github/workflows/docs.yml
Owners: @DSD-DBS/se-toolchain

aird: Honor floating labels in `Box.bounds`
  capellambse/aird/diagram.py
Owners: @DSD-DBS/se-toolchain

aird: Remove `include_hidden` flag from `Diagram.calculate_viewport`
  capellambse/aird/diagram.py
Owners: @DSD-DBS/se-toolchain

aird: Parse out all `semanticElements` into a list
  capellambse/aird/parser/_box_factories.py
  capellambse/aird/parser/_common.py
  capellambse/aird/parser/_edge_factories.py
  capellambse/aird/parser/_semantic.py
Owners: @DSD-DBS/se-toolchain

aird: Make `features` and `styleoverrides` mutable in-place
  capellambse/aird/diagram.py
  capellambse/aird/parser/_box_factories.py
  capellambse/aird/parser/_edge_factories.py
  capellambse/aird/parser/_styling.py
  capellambse/aird/parser/_visual.py
Owners: @DSD-DBS/se-toolchain

aird: Support multiple labels per Edge
  capellambse/aird/diagram.py
  capellambse/aird/json_enc.py
  capellambse/aird/parser/_edge_factories.py
  capellambse/aird/parser/_filters/global.py
  capellambse/svg/drawing.py
Owners: @DSD-DBS/se-toolchain, @ewuerger

aird: Default to 1px stroke-width
  capellambse/aird/capstyle.py
Owners: @DSD-DBS/se-toolchain

aird: Parse out all edge labels, not just the first
  capellambse/aird/parser/_edge_factories.py
Owners: @DSD-DBS/se-toolchain

aird: Apply `minsize` last in size calculations
  capellambse/aird/diagram.py
Owners: @DSD-DBS/se-toolchain

aird: Minor style improvements
  capellambse/aird/diagram.py
  capellambse/aird/parser/_box_factories.py
  capellambse/aird/parser/_edge_factories.py
  capellambse/aird/parser/_semantic.py
Owners: @DSD-DBS/se-toolchain

aird: Improve `class_factory`
  capellambse/aird/parser/_box_factories.py
Owners: @DSD-DBS/se-toolchain

aird: Add an `association_factory`
  capellambse/aird/parser/_edge_factories.py
  capellambse/aird/parser/_semantic.py
Owners: @DSD-DBS/se-toolchain

svg: Add `Enumeration` to `always_top_label` boxes
  capellambse/svg/decorations.py
Owners: @ewuerger

updated installation instructions and doc config
  docs/source/conf.py
  docs/source/index.rst
  docs/source/start/installation.rst
  setup.cfg
Owners: @DSD-DBS/se-toolchain

updated API model
  docs/capella-python-api/capella-python-api.afm
  docs/capella-python-api/capella-python-api.aird
  docs/capella-python-api/capella-python-api.capella
Owners: @DSD-DBS/se-toolchain

temp fix for sphinx ext failure
  capellambse/svg/generate.py
Owners: @ewuerger

diagram name updated to match model
  capellambse/model/crosslayer/__init__.py
Owners: @Wuestengecko

.github/CODEOWNERS:

*	@DSD-DBS/se-toolchain

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko

/capellambse/svg/	@ewuerger
