Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Wuestengecko, @vik378, @ewuerger

docs(git): Move cache_dir docstring to the attribute
  capellambse/filehandler/git.py
Owners: @Wuestengecko, @vik378

build: Simplify dependency management
  pyproject.toml
Owners: @Wuestengecko, @vik378

docs: Treat Sphinx warnings as errors
  .github/workflows/docs.yml
  docs/Makefile
Owners: @Wuestengecko, @vik378

ci: Enforce `pre-commit` version >= 3.2.0
  .pre-commit-config.yaml
Owners: @Wuestengecko, @vik378

fix: Replace references to deprecated `capella/cli` image
  capellambse/model/__init__.py
  ci-templates/gitlab/filter-derive.yml
Owners: @Wuestengecko, @vik378

fix(loader): Handle resources in write_tmp_project_dir
  capellambse/_diagram_cache.py
  capellambse/_native.py
  capellambse/extensions/filtering.py
  capellambse/loader/core.py
Owners: @Wuestengecko, @vik378

ci: Update pre-commit hooks
  .pre-commit-config.yaml
  capellambse/diagram/_diagram.py
Owners: @Wuestengecko, @vik378

fix(native): Remove destination before copying into container
  capellambse/_native.py
Owners: @Wuestengecko, @vik378

feat(cli): Fall back to treating strings as URLs
  capellambse/cli_helpers.py
Owners: @Wuestengecko, @vik378

feat: Work with DRepresentationDescriptor objects
  capellambse/aird/__init__.py
  capellambse/aird/_common.py
  capellambse/aird/_filters/__init__.py
  capellambse/helpers.py
  capellambse/model/__init__.py
  capellambse/model/common/__init__.py
  capellambse/model/common/element.py
  capellambse/model/diagram.py
  tests/test_aird_parser.py
  tests/test_model_layers.py
Owners: @Wuestengecko, @vik378

test: Shorten code in printed stack traces
  pyproject.toml
Owners: @Wuestengecko, @vik378

feat(http): Log requested URL and response status
  capellambse/filehandler/http.py
Owners: @Wuestengecko, @vik378

feat(filehandler): Allow is_file/dir on FileHandler
  capellambse/filehandler/abc.py
  capellambse/filehandler/git.py
  capellambse/filehandler/http.py
  capellambse/filehandler/local.py
  capellambse/filehandler/memory.py
Owners: @Wuestengecko, @vik378

feat: Add support for loading models from ZIP files
  capellambse/filehandler/abc.py
  capellambse/filehandler/zip.py
  docs/source/start/specifying-models.rst
  pyproject.toml
  tests/test_filehandler_zip.py
Owners: @Wuestengecko, @vik378

feat: Add Capella's demo models as "known models"
  capellambse/known_models/croud-surveillance-demo.json
  capellambse/known_models/croud-surveillance-demo.json.license
  capellambse/known_models/ife-demo.json
  capellambse/known_models/ife-demo.json.license
  capellambse/known_models/level-crossing-demo.json
  capellambse/known_models/level-crossing-demo.json.license
Owners: @Wuestengecko, @vik378

fix(loader): Report `<Project>` name as model title
  capellambse/loader/core.py
Owners: @Wuestengecko

fix(aird): Unquote viewpoint string
  capellambse/aird/__init__.py
Owners: @Wuestengecko, @vik378

feat(decl): Support `capellambse.new_object`
  capellambse/decl.py
Owners: @Wuestengecko, @vik378

feat(decl): Un-deprecate the "create" key
  capellambse/decl.py
Owners: @Wuestengecko, @vik378

feat(decl): Resolve promises for `parent`
  capellambse/decl.py
  tests/test_decl.py
Owners: @Wuestengecko, @vik378

test(model): Fix double-space in function name
  tests/data/melodymodel/5_0/Melody Model Test.aird
  tests/data/melodymodel/5_0/Melody Model Test.capella
  tests/data/melodymodel/5_2/Melody Model Test.aird
  tests/data/melodymodel/5_2/Melody Model Test.capella
  tests/data/melodymodel/6_0/Melody Model Test.aird
  tests/data/melodymodel/6_0/Melody Model Test.capella
Owners: @Wuestengecko, @vik378

feat(decl): Implement `!find`
  capellambse/decl.py
  capellambse/model/common/__init__.py
  docs/source/start/declarative.rst
  tests/test_decl.py
Owners: @Wuestengecko, @vik378

feat(decl): Implement a "sync" operation
  capellambse/decl.py
  docs/source/start/declarative.rst
  tests/test_decl.py
Owners: @Wuestengecko, @vik378

test: Ensure that capellambse is installed
  tests/conftest.py
Owners: @Wuestengecko, @vik378

feat(decl): Implement `sync:*:extend`
  capellambse/decl.py
  tests/test_decl.py
Owners: @Wuestengecko, @vik378

feat(decl): Implement recursive sync
  capellambse/decl.py
  tests/test_decl.py
Owners: @Wuestengecko, @vik378

fix(svg): Use the same font definitions everywhere
  capellambse/svg/drawing.py
  capellambse/svg/symbols.py
Owners: @ewuerger

fix(decl): Delete lists using `clear`
  capellambse/decl.py
Owners: @Wuestengecko, @vik378

fix(model): Unify naming schema for min/max_value
  capellambse/model/crosslayer/information/__init__.py
Owners: @Wuestengecko

feat(model): Implement delete for RoleTagAccessors
  capellambse/model/common/accessors.py
Owners: @Wuestengecko

perf(model): Memoize Diagram.nodes
  capellambse/model/diagram.py
Owners: @Wuestengecko

perf(model): Add more efficient "contains" check
  capellambse/model/common/element.py
Owners: @Wuestengecko

feat(decl): Support `capellambse.new_object`
  capellambse/decl.py
Owners: @Wuestengecko, @vik378

feat(decl): Un-deprecate the "create" key
  capellambse/decl.py
Owners: @Wuestengecko, @vik378

feat(decl): Resolve promises for `parent`
  capellambse/decl.py
  tests/test_decl.py
Owners: @Wuestengecko, @vik378

test(model): Fix double-space in function name
  tests/data/melodymodel/5_0/Melody Model Test.aird
  tests/data/melodymodel/5_0/Melody Model Test.capella
  tests/data/melodymodel/5_2/Melody Model Test.aird
  tests/data/melodymodel/5_2/Melody Model Test.capella
  tests/data/melodymodel/6_0/Melody Model Test.aird
  tests/data/melodymodel/6_0/Melody Model Test.capella
Owners: @Wuestengecko, @vik378

feat(decl): Implement a "sync" operation
  capellambse/decl.py
  docs/source/start/declarative.rst
  tests/test_decl.py
Owners: @Wuestengecko, @vik378

feat(decl): Implement `!find`
  capellambse/decl.py
  capellambse/model/common/__init__.py
  docs/source/start/declarative.rst
  tests/test_decl.py
Owners: @Wuestengecko, @vik378

test: Ensure that capellambse is installed
  tests/conftest.py
Owners: @Wuestengecko, @vik378

feat(decl): Implement recursive sync
  capellambse/decl.py
  tests/test_decl.py
Owners: @Wuestengecko, @vik378

.github/CODEOWNERS:

# SPDX-FileCopyrightText: Copyright DB InfraGO AG
# SPDX-License-Identifier: CC0-1.0

*	@Wuestengecko @vik378

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko
/capellambse/repl.py	@Wuestengecko

/capellambse/svg/	@ewuerger

# vim:set ts=32 sw=0 noet:
