Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DSD-DBS/se-toolchain, @Wuestengecko, @ewuerger

.github/CODEOWNERS:

*	@DSD-DBS/se-toolchain

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko

/capellambse/svg/	@ewuerger

Silence breaking loading tests
  tests/test_model_loading.py
Owners: @DSD-DBS/se-toolchain

Fix rendering of diagram elements w/o descriptions
  capellambse/aird/parser/_visual.py
Owners: @DSD-DBS/se-toolchain

gitfilehandler: Fix erroneously requiring LFS
  capellambse/loader/filehandler/gitfilehandler.py
  tests/test_model_loading.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

Readme: Fix trailing whitespace
  README.md
Owners: @DSD-DBS/se-toolchain

fixed abstract part issue for #37
  capellambse/model/crosslayer/cs.py
  capellambse/model/layers/pa.py
Owners: @Wuestengecko

fixed pylint issues in pa and cs #37
  capellambse/model/crosslayer/cs.py
  capellambse/model/layers/pa.py
Owners: @Wuestengecko

added intro to PA API #23
  examples/02 Intro to Physical Architecture API.ipynb
  tests/data/melodymodel/5_0/MelodyModelTest.aird
  tests/data/melodymodel/5_0/MelodyModelTest.capella
Owners: @DSD-DBS/se-toolchain

Make ReqType hashable
  capellambse/extensions/reqif.py
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain

Make Enumvalue hashable
  capellambse/extensions/reqif.py
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain

Corrected sample model #35
  capellambse/model/layers/ctx.py
  capellambse/model/layers/la.py
  capellambse/model/layers/oa.py
  tests/__init__.py
  tests/data/melodymodel/5_0/Melody Model Test.afm
  tests/data/melodymodel/5_0/Melody Model Test.aird
  tests/data/melodymodel/5_0/Melody Model Test.capella
  tests/data/melodymodel/5_0/MelodyModelTest.aird
  tests/data/melodymodel/5_0/MelodyModelTest.capella
  tests/data/melodymodel/5_1/.project
  tests/data/melodymodel/5_1/MelodyModel Test.afm
  tests/test_model_layers.py
  tests/test_model_loading.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

loader: Accept IDs without leading `#` in `follow_link()`
  capellambse/loader/core.py
Owners: @Wuestengecko

filehandler: Accept `str` as file name for `open()`
  capellambse/loader/filehandler/__init__.py
  capellambse/loader/filehandler/gitfilehandler.py
  capellambse/loader/filehandler/http.py
  capellambse/loader/filehandler/localfilehandler.py
Owners: @Wuestengecko

Improve handling of model files with whitespace
  capellambse/aird/parser/__init__.py
  capellambse/aird/parser/_box_factories.py
  capellambse/aird/parser/_common.py
  capellambse/aird/parser/_edge_factories.py
  capellambse/aird/parser/_filters/global.py
  capellambse/aird/parser/_semantic.py
  capellambse/helpers.py
  capellambse/loader/core.py
  capellambse/model/diagram.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

aird, loader: Minor typing / formatting cleanup
  capellambse/aird/parser/__init__.py
  capellambse/aird/parser/_common.py
  capellambse/loader/core.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

slightly improved rendered PA look-n-feel
  capellambse/aird/capstyle.py
  capellambse/svg/style.py
  examples/02 Intro to Physical Architecture API.ipynb
Owners: @DSD-DBS/se-toolchain, @ewuerger

reverted unwanted test model changes
  tests/data/melodymodel/5_0/Melody Model Test.aird
  tests/data/melodymodel/5_0/Melody Model Test.capella
Owners: @DSD-DBS/se-toolchain

Add a couple of data types and values
  capellambse/model/crosslayer/__init__.py
  capellambse/model/crosslayer/information.py
  examples/02_Datavalues.ipynb
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

Add Wand Class and Harry's Wand to model (LA)
  tests/data/melodymodel/5_0/Melody Model Test.capella
Owners: @DSD-DBS/se-toolchain

Fixed generalization and enum behaviors #45
  capellambse/model/crosslayer/information.py
  tests/data/melodymodel/5_0/Melody Model Test.aird
  tests/data/melodymodel/5_0/Melody Model Test.capella
  tests/test_model_layers.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

Apply suggestions from code review
  capellambse/model/crosslayer/__init__.py
  capellambse/model/crosslayer/information.py
Owners: @Wuestengecko

WIP: Add Properties to Class, extend Complex Value
  capellambse/model/crosslayer/information.py
  examples/02_Datavalues.ipynb
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

WIP information pkg API analysis
  docs/capella-python-api/capella-python-api.aird
  docs/capella-python-api/capella-python-api.capella
Owners: @DSD-DBS/se-toolchain

Updated documentation
  docs/source/index.rst
  docs/source/start/developing-docs.rst
  docs/source/start/how-to-explore-capella-mm.rst
  docs/source/start/img/2021-05-09_10-32.jpg
  docs/source/start/img/2021-05-09_10-36.jpg
  docs/source/start/img/2021-05-09_10-50.jpg
  docs/source/start/img/2021-05-09_17-36.jpg
  docs/source/start/img/2021-05-09_17-38.jpg
  docs/source/start/img/2021-05-09_17-44.jpg
  docs/source/start/img/2021-05-09_17-57.jpg
  docs/source/start/img/2021-05-09_19-50.jpg
  docs/source/start/img/2021-05-09_21-16.jpg
  docs/source/start/img/2021-05-09_21-21.jpg
  docs/source/start/img/2021-05-09_21-46.jpg
  docs/source/start/img/2021-05-09_22-09.jpg
  docs/source/start/img/2021-05-09_22-39.jpg
  docs/source/start/img/2021-05-10_22-35.jpg
  docs/source/start/img/2021-05-10_22-59.jpg
  docs/source/start/img/2021-05-12_18-18.jpg
  docs/source/start/img/2021-05-12_18-51.jpg
  docs/source/start/img/2021-05-12_19-12.jpg
  docs/source/start/img/2021-05-12_20-06.jpg
  docs/source/start/img/2021-05-12_20-10.jpg
  docs/source/start/img/2021-05-12_21-03.jpg
  docs/source/start/img/2021-05-13_20-46.jpg
  docs/source/start/img/2021-05-17_11-50.jpg
  docs/source/start/img/core-pkg-deps-raw.svg
  docs/source/start/img/crosslayer_intro.jpg
  docs/source/start/img/dep-graph-oa.jpg
Owners: @DSD-DBS/se-toolchain

WIP class attributes and methods
  capellambse/model/crosslayer/information.py
  docs/capella-python-api/capella-python-api.aird
  docs/capella-python-api/capella-python-api.capella
  tests/data/melodymodel/5_0/Melody Model Test.aird
  tests/data/melodymodel/5_0/Melody Model Test.capella
  tests/test_model_layers.py
  tests/test_xlayer_information.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

WIP added visibility attr for classes
  capellambse/model/crosslayer/information.py
  capellambse/model/modeltypes.py
  docs/capella-python-api/capella-python-api.aird
  docs/capella-python-api/capella-python-api.capella
  tests/data/melodymodel/5_0/Melody Model Test.aird
  tests/data/melodymodel/5_0/Melody Model Test.capella
  tests/test_xlayer_information.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

WIP fixed generalizations in info layer
  capellambse/model/common/accessors.py
  capellambse/model/crosslayer/information.py
  docs/capella-python-api/capella-python-api.aird
  docs/capella-python-api/capella-python-api.capella
  tests/data/melodymodel/5_0/Melody Model Test.aird
  tests/data/melodymodel/5_0/Melody Model Test.capella
  tests/test_xlayer_information.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

WIP property attributes
  docs/capella-python-api/capella-python-api.aird
  docs/capella-python-api/capella-python-api.capella
  tests/data/melodymodel/5_0/Melody Model Test.aird
  tests/data/melodymodel/5_0/Melody Model Test.capella
  tests/test_xlayer_information.py
Owners: @DSD-DBS/se-toolchain

added test for property bool attrs
  tests/data/melodymodel/5_0/Melody Model Test.aird
  tests/data/melodymodel/5_0/Melody Model Test.capella
  tests/test_xlayer_information.py
Owners: @DSD-DBS/se-toolchain

added support for property bool attrs
  capellambse/model/crosslayer/information.py
Owners: @Wuestengecko

added prop visibility attribute
  capellambse/model/crosslayer/information.py
  docs/capella-python-api/capella-python-api.aird
  docs/capella-python-api/capella-python-api.capella
  tests/data/melodymodel/5_0/Melody Model Test.capella
  tests/test_xlayer_information.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

added some tests
  capellambse/model/common/element.py
  capellambse/model/crosslayer/information.py
  docs/capella-python-api/capella-python-api.aird
  docs/capella-python-api/capella-python-api.capella
  tests/data/melodymodel/5_0/Melody Model Test.aird
  tests/data/melodymodel/5_0/Melody Model Test.capella
  tests/test_xlayer_information.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

added value - unit accessor + tests
  capellambse/model/crosslayer/information.py
  docs/capella-python-api/capella-python-api.aird
  docs/capella-python-api/capella-python-api.capella
  tests/data/melodymodel/5_0/Melody Model Test.capella
  tests/test_xlayer_information.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

Fix #41
  capellambse/model/layers/pa.py
  capellambse/model/modeltypes.py
  tests/test_model_layers.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

Change kind default enum for consistency
  capellambse/model/layers/pa.py
Owners: @Wuestengecko

documentation and test model update for info pkg
  docs/capella-python-api/capella-python-api.aird
  docs/capella-python-api/capella-python-api.capella
  tests/data/melodymodel/5_0/Melody Model Test.aird
  tests/data/melodymodel/5_0/Melody Model Test.capella
Owners: @DSD-DBS/se-toolchain

docs: Fix reST formatting
  docs/source/start/how-to-explore-capella-mm.rst
Owners: @DSD-DBS/se-toolchain

Add System/PhysicalFCD diagram types to modeltypes
  capellambse/model/modeltypes.py
  tests/data/melodymodel/5_0/Melody Model Test.aird
  tests/data/melodymodel/5_0/Melody Model Test.capella
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

model: Improve typing and consistency of attribute names
  capellambse/model/crosslayer/information.py
  capellambse/model/modeltypes.py
Owners: @Wuestengecko

model: Add `.kind` to Union and Collection and fix their enums
  capellambse/model/crosslayer/information.py
  capellambse/model/modeltypes.py
Owners: @Wuestengecko

Remove unused imports
  tests/test_model_loading.py
  tests/test_pvmt.py
  tests/test_svg.py
Owners: @DSD-DBS/se-toolchain
