Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Wuestengecko, @vik378, @ewuerger

.github/CODEOWNERS:

# SPDX-FileCopyrightText: Copyright DB InfraGO AG
# SPDX-License-Identifier: CC0-1.0

*	@Wuestengecko @vik378

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko
/capellambse/repl.py	@Wuestengecko

/capellambse/svg/	@ewuerger

# vim:set ts=32 sw=0 noet:

fix: Add icons and multiplicity to class diagrams
  capellambse/aird/_edge_factories.py
  capellambse/diagram/_icons.py
  capellambse/svg/drawing.py
Owners: @Wuestengecko, @vik378, @ewuerger

fix(aird): Fix snapping of oblique edges
  capellambse/aird/_edge_factories.py
  capellambse/diagram/_diagram.py
  capellambse/svg/drawing.py
Owners: @Wuestengecko, @vik378, @ewuerger

fix(model): Add missing @xtype_handler to LiteralBooleanValue
  capellambse/model/crosslayer/information/datavalue.py
Owners: @Wuestengecko

fix(model): Handle ControlNodes without `kind` in `_get_icon()`
  capellambse/diagram/_styleclass.py
Owners: @Wuestengecko, @vik378

fix(diagram): Fix oblique snapping with straight edges
  capellambse/aird/_edge_factories.py
Owners: @Wuestengecko, @vik378

fix: Don't draw port labels twice
  capellambse/svg/drawing.py
Owners: @ewuerger

feat(diagram): Implement two-point oblique vector snapping
  capellambse/diagram/_diagram.py
Owners: @Wuestengecko, @vik378

fix(model): Improve handling of models without OA
  capellambse/extensions/metrics/collector.py
  capellambse/extensions/validation/_validate.py
  capellambse/metamodel/capellamodeller.py
  capellambse/metamodel/oa.py
Owners: @Wuestengecko, @vik378

ci: Update complexity badge GH action
  ci-templates/github/README.rst
  ci-templates/github/model-complexity-badge/action.yml
Owners: @Wuestengecko, @vik378

fix(validation): Fix type hints for `@rule` decorator
  capellambse/extensions/validation/_validate.py
  capellambse/extensions/validation/rules.py
  tests/test_validation.py
Owners: @Wuestengecko, @vik378

feat(validation): Show Capability as "SystemCapability"
  capellambse/extensions/validation/report-template.html.jinja
  capellambse/extensions/validation/rules.py
Owners: @Wuestengecko, @vik378

feat(model): Add `Diagram.semantic_nodes`
  capellambse/model/diagram.py
Owners: @Wuestengecko

fix(decl): Always honor type hints in `!find`
  capellambse/decl.py
Owners: @Wuestengecko, @vik378

feat(model): Add 'visible_on_diagrams' shortcut property
  capellambse/model/_obj.py
Owners: @Wuestengecko

ci: Switch back to upstream's REUSE tool version
  .pre-commit-config.yaml
Owners: @Wuestengecko, @vik378

feat(model): Add 'sid' to ModelElement
  capellambse/model/_obj.py
Owners: @Wuestengecko

fix(metamodel): Add missing @xtype_handler to LiteralBooleanValue
  capellambse/metamodel/information/datavalue.py
Owners: @Wuestengecko, @vik378

feat(known_models): Add DSD variant of the IFE demo model
  capellambse/known_models/ife-demo-dsd.json.license
Owners: @Wuestengecko, @vik378

fix(loader): Make iteration order of `iterall_xt` stable
  capellambse/loader/core.py
Owners: @Wuestengecko

feat(metamodel): Add incoming and outgoing StateTransitions to State
  capellambse/metamodel/capellacommon.py
  tests/test_metamodel_common.py
Owners: @Wuestengecko, @vik378

feat(modelv2): Add experimental new model implementation
  .pre-commit-config.yaml
  capellambse/metamodel/__init__.py
  capellambse/metamodel/activity.py
  capellambse/metamodel/behavior.py
  capellambse/metamodel/capellacommon.py
  capellambse/metamodel/capellacore.py
  capellambse/metamodel/capellamodeller.py
  capellambse/metamodel/cs.py
  capellambse/metamodel/epbs.py
  capellambse/metamodel/fa.py
  capellambse/metamodel/information/__init__.py
  capellambse/metamodel/information/communication.py
  capellambse/metamodel/information/datatype.py
  capellambse/metamodel/information/datavalue.py
  capellambse/metamodel/interaction.py
  capellambse/metamodel/la.py
  capellambse/metamodel/libraries.py
  capellambse/metamodel/modellingcore.py
  capellambse/metamodel/modeltypes.py
  capellambse/metamodel/namespaces.py
  capellambse/metamodel/oa.py
  capellambse/metamodel/pa.py
  capellambse/metamodel/pa_deployment.py
  capellambse/metamodel/sa.py
  capellambse/modelv2/__init__.py
  capellambse/modelv2/_meta.py
  capellambse/modelv2/_model.py
  capellambse/modelv2/_obj.py
  capellambse/modelv2/_xml.py
  capellambse/repl.py
  docs/source/development/extensions.rst
  docs/source/development/model-loading.rst
  docs/source/index.rst
  pyproject.toml
  tests/test_modelv2.py
Owners: @Wuestengecko, @vik378

build: Bump requested Sphinx and nbsphinx versions
  pyproject.toml
Owners: @Wuestengecko, @vik378

feat(decl): Implement metadata for decl YAML
  .pre-commit-config.yaml
  capellambse/decl.py
  docs/source/start/declarative.rst
  pyproject.toml
  tests/test_decl.py
Owners: @Wuestengecko, @vik378

refactor: Rename basic Accessors to make their roles clearer
  capellambse/extensions/filtering.py
  capellambse/extensions/pvmt/_config.py
  capellambse/extensions/reqif/_capellareq.py
  capellambse/extensions/reqif/_requirements.py
  capellambse/metamodel/__init__.py
  capellambse/metamodel/capellacommon.py
  capellambse/metamodel/capellacore.py
  capellambse/metamodel/capellamodeller.py
  capellambse/metamodel/cs.py
  capellambse/metamodel/fa.py
  capellambse/metamodel/information/__init__.py
  capellambse/metamodel/information/datatype.py
  capellambse/metamodel/information/datavalue.py
  capellambse/metamodel/interaction.py
  capellambse/metamodel/la.py
  capellambse/metamodel/modellingcore.py
  capellambse/metamodel/oa.py
  capellambse/metamodel/pa.py
  capellambse/metamodel/sa.py
  capellambse/model/__init__.py
  capellambse/model/_descriptors.py
  capellambse/model/_model.py
  capellambse/model/_obj.py
  tests/test_model_creation_deletion.py
Owners: @Wuestengecko, @vik378

ci: Constrain pre-commit to v3
  .github/workflows/code-qa.yml
Owners: @Wuestengecko, @vik378

chore: Update pre-commit hooks (and stage names)
  .pre-commit-config.yaml
  capellambse/aird/_common.py
Owners: @Wuestengecko, @vik378

ci: Update docformatter hook
  .github/workflows/code-qa.yml
  .pre-commit-config.yaml
Owners: @Wuestengecko, @vik378

fix(diagram): Move PhysicalLink and -Port styles to `__GLOBAL__`
  capellambse/diagram/capstyle.py
Owners: @Wuestengecko, @vik378

fix: Snap on first intersect
  capellambse/diagram/_diagram.py
Owners: @Wuestengecko, @vik378

feat(validation): Make SystemActor and -Component distinct types
  capellambse/extensions/validation/_validate.py
  capellambse/extensions/validation/rules.py
Owners: @Wuestengecko, @vik378

fix(validation): Consider included Capabilities as involved somewhere
  capellambse/extensions/validation/rules.py
Owners: @Wuestengecko, @vik378

feat(validation): Add rule for Function to Component allocations
  capellambse/extensions/validation/rules.py
Owners: @Wuestengecko, @vik378

refactor: Rename basic Accessors to make their roles clearer
  capellambse/extensions/filtering.py
  capellambse/extensions/pvmt/_config.py
  capellambse/extensions/reqif/_capellareq.py
  capellambse/extensions/reqif/_requirements.py
  capellambse/metamodel/__init__.py
  capellambse/metamodel/capellacommon.py
  capellambse/metamodel/capellacore.py
  capellambse/metamodel/capellamodeller.py
  capellambse/metamodel/cs.py
  capellambse/metamodel/fa.py
  capellambse/metamodel/information/__init__.py
  capellambse/metamodel/information/datatype.py
  capellambse/metamodel/information/datavalue.py
  capellambse/metamodel/interaction.py
  capellambse/metamodel/la.py
  capellambse/metamodel/modellingcore.py
  capellambse/metamodel/oa.py
  capellambse/metamodel/pa.py
  capellambse/metamodel/sa.py
  capellambse/model/__init__.py
  capellambse/model/_descriptors.py
  capellambse/model/_model.py
  capellambse/model/_obj.py
  tests/test_model_creation_deletion.py
Owners: @Wuestengecko, @vik378

feat(metamodel): Add component and functional exchange categories
  capellambse/metamodel/fa.py
  capellambse/metamodel/la.py
  capellambse/metamodel/pa.py
  capellambse/metamodel/sa.py
Owners: @Wuestengecko, @vik378

fix: Migrate metamodel off of deprecated classes
  capellambse/extensions/reqif/_requirements.py
  capellambse/metamodel/activity.py
  capellambse/metamodel/behavior.py
  capellambse/metamodel/capellacommon.py
  capellambse/metamodel/capellacore.py
  capellambse/metamodel/capellamodeller.py
  capellambse/metamodel/cs.py
  capellambse/metamodel/epbs.py
  capellambse/metamodel/fa.py
  capellambse/metamodel/information/__init__.py
  capellambse/metamodel/information/communication.py
  capellambse/metamodel/information/datatype.py
  capellambse/metamodel/information/datavalue.py
  capellambse/metamodel/interaction.py
  capellambse/metamodel/la.py
  capellambse/metamodel/modellingcore.py
  capellambse/metamodel/modeltypes.py
  capellambse/metamodel/namespaces.py
  capellambse/metamodel/oa.py
  capellambse/metamodel/pa.py
  capellambse/metamodel/re.py
  capellambse/metamodel/sa.py
  capellambse/metamodel/sharedmodel.py
  capellambse/model/__init__.py
  capellambse/model/diagram.py
  scripts/ecore2py.py
Owners: @Wuestengecko, @vik378

build: Add a more complete ecore parsing script
  scripts/ecore2py.py
  scripts/generate_enums.py
Owners: @Wuestengecko, @vik378

feat(metamodel): Add component and functional exchange categories
  capellambse/metamodel/cs.py
  capellambse/metamodel/fa.py
  capellambse/metamodel/la.py
  capellambse/metamodel/pa.py
  capellambse/metamodel/sa.py
Owners: @Wuestengecko, @vik378

refactor: Rename basic Accessors to make their roles clearer
  capellambse/extensions/filtering.py
  capellambse/extensions/pvmt/_config.py
  capellambse/extensions/reqif/_capellareq.py
  capellambse/extensions/reqif/_requirements.py
  capellambse/metamodel/__init__.py
  capellambse/metamodel/capellacommon.py
  capellambse/metamodel/capellacore.py
  capellambse/metamodel/capellamodeller.py
  capellambse/metamodel/cs.py
  capellambse/metamodel/fa.py
  capellambse/metamodel/information/__init__.py
  capellambse/metamodel/information/datatype.py
  capellambse/metamodel/information/datavalue.py
  capellambse/metamodel/interaction.py
  capellambse/metamodel/la.py
  capellambse/metamodel/modellingcore.py
  capellambse/metamodel/oa.py
  capellambse/metamodel/pa.py
  capellambse/metamodel/sa.py
  capellambse/model/__init__.py
  capellambse/model/_descriptors.py
  capellambse/model/_model.py
  capellambse/model/_obj.py
  tests/test_model_creation_deletion.py
Owners: @Wuestengecko, @vik378

build: Add a more complete ecore parsing script
  scripts/ecore2py.py
  scripts/generate_enums.py
Owners: @Wuestengecko, @vik378

fix: Migrate metamodel off of deprecated classes
  capellambse/extensions/reqif/_requirements.py
  capellambse/metamodel/activity.py
  capellambse/metamodel/behavior.py
  capellambse/metamodel/capellacommon.py
  capellambse/metamodel/capellacore.py
  capellambse/metamodel/capellamodeller.py
  capellambse/metamodel/cs.py
  capellambse/metamodel/epbs.py
  capellambse/metamodel/fa.py
  capellambse/metamodel/information/__init__.py
  capellambse/metamodel/information/communication.py
  capellambse/metamodel/information/datatype.py
  capellambse/metamodel/information/datavalue.py
  capellambse/metamodel/interaction.py
  capellambse/metamodel/la.py
  capellambse/metamodel/modellingcore.py
  capellambse/metamodel/modeltypes.py
  capellambse/metamodel/namespaces.py
  capellambse/metamodel/oa.py
  capellambse/metamodel/pa.py
  capellambse/metamodel/re.py
  capellambse/metamodel/sa.py
  capellambse/metamodel/sharedmodel.py
  capellambse/model/__init__.py
  capellambse/model/diagram.py
  scripts/ecore2py.py
Owners: @Wuestengecko, @vik378
