Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DSD-DBS/se-toolchain, @Wuestengecko, @ewuerger

fix(model): Fix accessing `description` of Diagrams
  capellambse/aird/parser/__init__.py
  capellambse/model/diagram.py
  tests/test_model_layers.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

refactor: Apply suggestions from code review
  capellambse/model/common/element.py
  tests/test_reqif.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

refactor: Simplify error message
  capellambse/model/common/accessors.py
Owners: @Wuestengecko

fix(tests): Merge tests with parametrization.
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain

test: Add a mixed plain string / dict creation test case
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain

.github/CODEOWNERS:

*	@DSD-DBS/se-toolchain

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko

/capellambse/svg/	@ewuerger
