Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DSD-DBS/se-toolchain, @Wuestengecko, @ewuerger

.github/CODEOWNERS:

*	@DSD-DBS/se-toolchain

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko

/capellambse/svg/	@ewuerger

Fix linter errors preventing merge
  capellambse/aird/parser/_edge_factories.py
  capellambse/model/common/element.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

Reference model uuid in header
  capellambse/extensions/reqif/exporter.py
Owners: @DSD-DBS/se-toolchain

Make code more compact
  capellambse/extensions/reqif/exporter.py
Owners: @DSD-DBS/se-toolchain

crosslayer: Move information into its own package
  capellambse/model/crosslayer/__init__.py
  capellambse/model/crosslayer/information/__init__.py
  capellambse/model/crosslayer/information/datatype.py
  capellambse/model/crosslayer/information/datavalue.py
  capellambse/model/layers/oa.py
Owners: @Wuestengecko

Resolve review changes
  capellambse/auditing.py
  tests/test_auditing.py
Owners: @DSD-DBS/se-toolchain

Make AttributeAuditor importable from capellambse
  capellambse/__init__.py
Owners: @DSD-DBS/se-toolchain

chore: `pre-commit autoupdate`
  .pre-commit-config.yaml
Owners: @DSD-DBS/se-toolchain

ci: Whitelist `lxml.builder` C-extension for pylint analysis
  pyproject.toml
Owners: @DSD-DBS/se-toolchain

reqif: Fix type error in exporter
  capellambse/extensions/reqif/exporter.py
Owners: @DSD-DBS/se-toolchain

loader: return infinity if value is equal to '*'
  capellambse/loader/xmltools.py
Owners: @Wuestengecko

fix(loader): Ignore `None` xtypes in the xtype cache
  capellambse/loader/core.py
Owners: @Wuestengecko

feat(model): Find everything in search() without arguments
  capellambse/loader/core.py
  capellambse/model/__init__.py
Owners: @Wuestengecko

feat(loader): Expose the fragment type on `ModelFile`s
  capellambse/loader/__init__.py
  capellambse/loader/core.py
Owners: @Wuestengecko

fix(model): Restrict `search()` to semantic elements
  capellambse/model/__init__.py
Owners: @Wuestengecko

feat(loader): Allow restricting `iterall_xt` by tree
  capellambse/loader/core.py
Owners: @Wuestengecko

feat(model): Try to honor requested UUIDs when creating elements
  capellambse/loader/core.py
  capellambse/model/common/accessors.py
  tests/__init__.py
  tests/test_reqif.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

add AttributeProperty that handles special character
  capellambse/loader/xmltools.py
  capellambse/model/crosslayer/information/datavalue.py
Owners: @Wuestengecko

refactor(loader): Split up `get_filehandler()`
  capellambse/loader/filehandler/__init__.py
Owners: @Wuestengecko

feat(model): Allow overriding `single=` on filters at call time
  capellambse/model/common/element.py
Owners: @Wuestengecko

feat(model): Make `EnumerationLiteral` comparable to its `.name`
  capellambse/model/crosslayer/information/datavalue.py
Owners: @Wuestengecko

feat: Export the `ModelObject` protocol from the top level module
  capellambse/__init__.py
Owners: @DSD-DBS/se-toolchain

refactor: Rename SpecialAttributeProperty to NumericAttributeProperty
  capellambse/loader/xmltools.py
  capellambse/model/crosslayer/information/datavalue.py
Owners: @Wuestengecko

refactor: Improve super delegation in NumericAttributeProperty
  capellambse/loader/xmltools.py
Owners: @Wuestengecko

feat(xmltools): Optionally disallow floats in NumericAttributeProperty
  capellambse/loader/xmltools.py
  capellambse/model/crosslayer/information/datavalue.py
Owners: @Wuestengecko

feat(xmltools): Extend the NumericAttributeProperty docstring
  capellambse/loader/xmltools.py
Owners: @Wuestengecko

Add PNGFormat with cairosvg
  capellambse/model/diagram.py
  pyproject.toml
  setup.cfg
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

Move deploy_styles to drawing
  capellambse/svg/drawing.py
  capellambse/svg/style.py
Owners: @ewuerger

Fix github SVGs in notebooks
  README.md
  capellambse/model/__init__.py
  capellambse/model/diagram.py
  examples/01 Introduction.ipynb
  setup.cfg
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

Remove obsolete pylint suppression
  capellambse/model/common/__init__.py
Owners: @Wuestengecko

Add overloads for typing
  capellambse/loader/filehandler/gitfilehandler.py
Owners: @Wuestengecko

Keep useful stuff
  capellambse/svg/style.py
Owners: @ewuerger

Rerun all notebooks
  examples/01 Introduction.ipynb
  examples/02 Intro to Physical Architecture API.ipynb
  examples/03 Data Values.ipynb
  examples/04 Intro to Jinja templating.ipynb
  examples/05 Introduction to Libraries.ipynb
  examples/06 Introduction to Requirement access and management with ReqIF extension.ipynb
Owners: @DSD-DBS/se-toolchain

examples: Adjust description of jupyter_trusted
  examples/01 Introduction.ipynb
Owners: @DSD-DBS/se-toolchain

Remove unused import
  capellambse/aird/parser/_filters/__init__.py
Owners: @DSD-DBS/se-toolchain

_filters: Fix ExchangeItem filter
  capellambse/aird/parser/_filters/global.py
Owners: @DSD-DBS/se-toolchain

_filters: Outsource RENDER_PARAMS
  capellambse/aird/__init__.py
  capellambse/aird/parser/_filters/global.py
Owners: @DSD-DBS/se-toolchain

test_aird_filters: Add ExchangeFilter tests
  tests/data/melodymodel/5_2/Melody Model Test.aird
  tests/test_aird_filters.py
Owners: @DSD-DBS/se-toolchain

helpers: Add useful helper
  capellambse/helpers.py
  tests/test_helpers.py
Owners: @DSD-DBS/se-toolchain

aird.parser: Outsource label adjust
  capellambse/aird/parser/_filters/global.py
  tests/test_aird_filters.py
Owners: @DSD-DBS/se-toolchain

model.crosslayer: Make crosslayers importable
  capellambse/model/crosslayer/__init__.py
Owners: @Wuestengecko
