Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DSD-DBS/se-toolchain, @Wuestengecko, @ewuerger

.github/CODEOWNERS:

*	@DSD-DBS/se-toolchain

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko

/capellambse/svg/	@ewuerger

entry to ignore sphynx-generated docs
  .gitignore
Owners: @DSD-DBS/se-toolchain

introduced intro to api docs page
  docs/source/index.rst
  docs/source/start/img/crosslayer_intro.jpg
  docs/source/start/intro-to-api.rst
Owners: @DSD-DBS/se-toolchain

docs update
  .gitignore
  capellambse/svg/generate.py
  docs/source/start/installation.rst
  docs/source/start/intro-to-api.rst
Owners: @DSD-DBS/se-toolchain, @ewuerger

README: Update "Getting started" and fix layouting
  README.md
Owners: @DSD-DBS/se-toolchain

README: Add badge for launching in myBinder
  README.md
Owners: @DSD-DBS/se-toolchain

Use Python 3.8 in myBinder
  runtime.txt
Owners: @DSD-DBS/se-toolchain

examples: Update introduction notebook
  examples/01_Introduction.ipynb
Owners: @DSD-DBS/se-toolchain

docs: Fix inheritance in ORMs
  docs/capella-python-api/capella-python-api.aird
  docs/capella-python-api/capella-python-api.capella
Owners: @DSD-DBS/se-toolchain

aird: Use correct reference points for label positioning
  capellambse/aird/parser/_edge_factories.py
Owners: @DSD-DBS/se-toolchain

Python 3.8 and typing related fixes
  capellambse/aird/parser/_edge_factories.py
  capellambse/aird/parser/_semantic.py
Owners: @DSD-DBS/se-toolchain

aird: Remove invalid expectation
  capellambse/aird/parser/_semantic.py
Owners: @DSD-DBS/se-toolchain

test: Remove currently broken tests
  tests/test_aird_parser.py
  tests/test_svg.py
Owners: @DSD-DBS/se-toolchain

aird: "Fix" pylint warning about unused import
  capellambse/aird/parser/_semantic.py
Owners: @DSD-DBS/se-toolchain

Clean up and reorganize the LA test layer
  tests/data/melodymodel/5_0/MelodyModelTest.aird
  tests/data/melodymodel/5_0/MelodyModelTest.capella
  tests/test_svg.py
Owners: @DSD-DBS/se-toolchain

Small typo fixes
  .gitignore
  docs/source/start/intro-to-api.rst
Owners: @DSD-DBS/se-toolchain

Loader: Unquote references files
  capellambse/loader/core.py
Owners: @Wuestengecko

introduced API overview #23
  docs/source/conf.py
  docs/source/start/intro-to-api.rst
Owners: @DSD-DBS/se-toolchain

added sphynx ext for x-referencing
  docs/source/conf.py
Owners: @DSD-DBS/se-toolchain

updated docs for functional analysis
  capellambse/model/crosslayer/fa.py
  docs/capella-python-api/capella-python-api.aird
  docs/capella-python-api/capella-python-api.capella
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

updated docs - ontology of FA #23
  capellambse/model/crosslayer/fa.py
  docs/capella-python-api/capella-python-api.aird
  docs/capella-python-api/capella-python-api.capella
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

added diagrams for CS pkg #23
  capellambse/model/crosslayer/cs.py
  docs/capella-python-api/capella-python-api.aird
  docs/capella-python-api/capella-python-api.capella
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

updated docs model - FA #28
  docs/capella-python-api/capella-python-api.aird
  docs/capella-python-api/capella-python-api.capella
Owners: @DSD-DBS/se-toolchain

updated test model for #28
  tests/data/melodymodel/5_0/MelodyModelTest.afm
  tests/data/melodymodel/5_0/MelodyModelTest.aird
  tests/data/melodymodel/5_0/MelodyModelTest.capella
Owners: @DSD-DBS/se-toolchain

implements #28
  capellambse/model/crosslayer/fa.py
  tests/data/melodymodel/5_0/MelodyModelTest.aird
  tests/data/melodymodel/5_0/MelodyModelTest.capella
  tests/test_model_layers.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

updated docs model for #29
  docs/capella-python-api/capella-python-api.aird
Owners: @DSD-DBS/se-toolchain

updated test model for #29
  tests/data/melodymodel/5_0/MelodyModelTest.capella
Owners: @DSD-DBS/se-toolchain

introduced AbstractFunction #29
  capellambse/model/crosslayer/fa.py
Owners: @Wuestengecko

rewired layers to use AbstractFunction #29
  capellambse/model/layers/ctx.py
  capellambse/model/layers/la.py
  capellambse/model/layers/oa.py
  capellambse/model/layers/pa.py
Owners: @Wuestengecko

added test for #29
  tests/test_model_layers.py
Owners: @DSD-DBS/se-toolchain

implemented solution & tests for #29
  capellambse/model/crosslayer/capellacommon.py
  capellambse/model/crosslayer/fa.py
  tests/test_model_layers.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

Run git handler test only if git-lfs is installed
  tests/test_model_loading.py
Owners: @DSD-DBS/se-toolchain

Remove unused ignores check in MyPy
  mypy.ini
Owners: @DSD-DBS/se-toolchain

Run git handler test only if git-lfs is installed
  tests/test_model_loading.py
Owners: @DSD-DBS/se-toolchain

Updated README.md
  README.md
Owners: @DSD-DBS/se-toolchain

updated PA of the test model
  tests/data/melodymodel/5_0/MelodyModelTest.aird
  tests/data/melodymodel/5_0/MelodyModelTest.capella
Owners: @DSD-DBS/se-toolchain

Add kind & nature to PhysicalComponents #37
  capellambse/model/layers/pa.py
  capellambse/model/modeltypes.py
  tests/data/melodymodel/5_0/MelodyModelTest.capella
  tests/test_model_layers.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

[WIP] Fix PhysicalComponents #37
  capellambse/model/layers/pa.py
  tests/data/melodymodel/5_0/MelodyModelTest.aird
  tests/data/melodymodel/5_0/MelodyModelTest.capella
  tests/test_model_layers.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

on the way to fix #37
  capellambse/model/crosslayer/cs.py
  capellambse/model/layers/pa.py
  docs/capella-python-api/capella-python-api.aird
  docs/capella-python-api/capella-python-api.capella
  tests/test_model_layers.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

Introduce tests to reproduce issue #35
  tests/conftest.py
  tests/data/melodymodel/5_1/.project
  tests/data/melodymodel/5_1/MelodyModel Test.afm
  tests/data/melodymodel/5_1/MelodyModel Test.aird
  tests/data/melodymodel/5_1/MelodyModel Test.capella
  tests/test_model_loading.py
Owners: @DSD-DBS/se-toolchain

on the way to fix #37
  capellambse/model/crosslayer/cs.py
  capellambse/model/layers/pa.py
  docs/capella-python-api/capella-python-api.aird
  docs/capella-python-api/capella-python-api.capella
  tests/test_model_layers.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain
