Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Wuestengecko, @vik378, @ewuerger

.github/CODEOWNERS:

# SPDX-FileCopyrightText: Copyright DB Netz AG and the capellambse contributors
# SPDX-License-Identifier: CC0-1.0

*	@Wuestengecko @vik378

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko
/capellambse/repl.py	@Wuestengecko

/capellambse/svg/	@ewuerger

# vim:set ts=32 sw=0 noet:

test: Load model extensions before test discovery
  tests/conftest.py
Owners: @Wuestengecko, @vik378

refactor(reqif): Make ReqIF extension standards-compliant
  capellambse/extensions/reqif/__init__.py
  capellambse/extensions/reqif/_capellareq.py
  capellambse/extensions/reqif/_glue.py
  capellambse/extensions/reqif/_requirements.py
  capellambse/extensions/reqif/elements.py
  capellambse/extensions/reqif/exporter.py
  tests/test_reqif.py
Owners: @Wuestengecko, @vik378

feat: Add `PortAllocation` and implement `TraceableElement`
  capellambse/model/crosslayer/capellacommon.py
  capellambse/model/crosslayer/information/__init__.py
  capellambse/model/crosslayer/modellingcore.py
Owners: @Wuestengecko

feat(diagram): Add `get_styleclass` function
  capellambse/diagram/__init__.py
  capellambse/diagram/_styleclass.py
Owners: @Wuestengecko, @vik378

fix(loader): Fix `stacklevel` on raised warning
  capellambse/loader/core.py
Owners: @Wuestengecko

feat(model): Add nesting for OperationalActivity and SystemComponent
  capellambse/model/layers/ctx.py
  capellambse/model/layers/oa.py
Owners: @Wuestengecko

docs: Add svgwrite to Intersphinx
  docs/source/conf.py
Owners: @Wuestengecko, @vik378

build(docs): Add `serve` convenience make target
  docs/Makefile
Owners: @Wuestengecko, @vik378

docs(README): Add more badges
  README.rst
Owners: @Wuestengecko, @vik378

fix(cli): Improve option handling under click
  capellambse/cli_helpers.py
Owners: @Wuestengecko, @vik378

feat(model): Implement the terminal graphics protocol
  capellambse/model/diagram.py
  pyproject.toml
Owners: @Wuestengecko, @vik378

feat: Solution to write project files in tmp dir
  capellambse/loader/core.py
Owners: @Wuestengecko

feat: Add `left_aligned` text rendering from capstyle
  capellambse/diagram/capstyle.py
  capellambse/svg/decorations.py
  capellambse/svg/drawing.py
  capellambse/svg/helpers.py
  tests/test_svg.py
Owners: @Wuestengecko, @vik378, @ewuerger

fix(aird): Add `ChangeEvent` expression text in label of `StateTransition`
  capellambse/aird/_edge_factories.py
  tests/data/melodymodel/5_2/Melody Model Test.aird
  tests/data/melodymodel/5_2/Melody Model Test.capella
Owners: @Wuestengecko, @vik378

test(svg): Add guards to `[MSM] Weather Modes` and add it to tested diagrams
  tests/data/melodymodel/5_0/Melody Model Test.aird
  tests/data/melodymodel/5_0/Melody Model Test.capella
  tests/data/melodymodel/5_2/Melody Model Test.aird
  tests/data/melodymodel/5_2/Melody Model Test.capella
  tests/test_svg.py
Owners: @Wuestengecko, @vik378

feat: Implement diagram cache with native diagrams
  capellambse/_diagram_cache.py
  capellambse/loader/core.py
  capellambse/model/__init__.py
Owners: @Wuestengecko, @vik378

docs(decl): Remove unused import in demo notebook
  docs/source/examples/10 Declarative Modeling.ipynb
Owners: @Wuestengecko, @vik378

feat(reqif): Show value in repr of `*ValueAttribute` classes
  capellambse/extensions/reqif/_requirements.py
  capellambse/loader/xmltools.py
  tests/test_reqif.py
Owners: @Wuestengecko, @vik378

fix: Consistently fire read_attribute audit events
  capellambse/extensions/reqif/_capellareq.py
  capellambse/loader/xmltools.py
  capellambse/model/__init__.py
  capellambse/model/common/accessors.py
  capellambse/model/common/element.py
  tests/test_auditing.py
Owners: @Wuestengecko, @vik378

refactor(audit): Rename `read_attribute` event to `getattr`
  capellambse/auditing.py
  capellambse/extensions/reqif/_capellareq.py
  capellambse/loader/xmltools.py
  capellambse/model/common/accessors.py
  tests/test_auditing.py
Owners: @Wuestengecko, @vik378

feat(audit): Add audit events for modifying a model
  capellambse/extensions/reqif/_requirements.py
  capellambse/model/__init__.py
  capellambse/model/common/__init__.py
  capellambse/model/common/accessors.py
  capellambse/model/common/element.py
  capellambse/model/common/properties.py
  capellambse/model/crosslayer/cs.py
  capellambse/model/crosslayer/fa.py
  capellambse/model/crosslayer/information/__init__.py
  capellambse/model/crosslayer/information/datavalue.py
  capellambse/model/crosslayer/interaction.py
  capellambse/model/layers/pa.py
  docs/source/index.rst
  docs/source/start/audit-events.rst
  tests/test_auditing.py
Owners: @Wuestengecko, @vik378

feat(audit): Add example class that write-protects a model
  capellambse/__init__.py
  capellambse/auditing.py
  docs/source/start/audit-events.rst
Owners: @Wuestengecko, @vik378

feat(reqif): Implement write support for requirements relations
  capellambse/extensions/reqif/_capellareq.py
Owners: @Wuestengecko, @vik378

fix(model): Don't return None from HTML attributes
  capellambse/model/common/properties.py
Owners: @Wuestengecko

docs(audit): Fix added/deprecated version numbers
  docs/source/start/audit-events.rst
Owners: @Wuestengecko, @vik378

fix: Ignore .DS_Store and vscode user settings
  .gitignore
Owners: @Wuestengecko, @vik378

docs: Add notes on commit requirements
  CONTRIBUTING.rst
Owners: @Wuestengecko, @vik378

feat: Introduce model summary badge
  capellambse/extensions/metrics/__init__.py
  capellambse/extensions/metrics/collector.py
  capellambse/extensions/metrics/composer.py
  capellambse/model/__init__.py
  docs/source/examples/11 Complexity Assessment.ipynb
  docs/source/examples/11 Complexity Assessment.ipynb.license
Owners: @Wuestengecko, @vik378

ci: Update pre-commit config
  .pre-commit-config.yaml
  capellambse/auditing.py
  capellambse/model/diagram.py
Owners: @Wuestengecko, @vik378

fix(model): Add missing delete methods and audit events
  capellambse/extensions/reqif/_capellareq.py
  capellambse/model/common/accessors.py
  tests/test_auditing.py
Owners: @Wuestengecko, @vik378

fix: Fix `AttrProxyAccessor.__set__` method signature
  capellambse/model/common/accessors.py
Owners: @Wuestengecko

test: Add testcase for setting `.values` on `EnumValueAttribute`
  tests/test_reqif.py
Owners: @Wuestengecko, @vik378

fix(pvmt): Raise correct exception for not-yet-implemented
  capellambse/pvmt/types.py
Owners: @Wuestengecko, @vik378

docs(examples): Add missing header to Complexity Assessment notebook
  docs/source/examples/11 Complexity Assessment.ipynb
Owners: @Wuestengecko, @vik378

fix(metrics): Fix casing of SVG root element
  capellambse/extensions/metrics/composer.py
  docs/source/examples/11 Complexity Assessment.ipynb
Owners: @Wuestengecko, @vik378

ci: Update black to 23.1.0
  .pre-commit-config.yaml
  capellambse/_diagram_cache.py
  capellambse/_namespaces.py
  capellambse/aird/_common.py
  capellambse/aird/_edge_factories.py
  capellambse/aird/_styling.py
  capellambse/diagram/_diagram.py
  capellambse/diagram/_json_enc.py
  capellambse/extensions/metrics/composer.py
  capellambse/extensions/reqif/__init__.py
  capellambse/extensions/reqif/exporter.py
  capellambse/filehandler/git.py
  capellambse/model/common/element.py
  capellambse/model/crosslayer/interaction.py
  capellambse/model/diagram.py
  capellambse/pvmt/types.py
  capellambse/sphinx.py
  capellambse/svg/drawing.py
  pyproject.toml
  tests/test_model_layers.py
  tests/test_svg.py
Owners: @Wuestengecko, @vik378, @ewuerger

docs(reqif): Add deprecation notice to `reqif.elements`
  capellambse/extensions/reqif/elements.py
Owners: @Wuestengecko, @vik378

docs(apidoc): Put module contents before submodules
  docs/Makefile
Owners: @Wuestengecko, @vik378

feat: Add property-value related attributes to `MelodyModel`
  capellambse/model/__init__.py
  capellambse/model/common/accessors.py
  capellambse/model/crosslayer/capellacore.py
  docs/source/examples/08 Property Values.ipynb
  docs/source/examples/08 Property Values.ipynb.license
  tests/data/melodymodel/5_0/Melody Model Test.capella
  tests/test_model_layers.py
Owners: @Wuestengecko, @vik378

fix(model): Fix typing for `ElementList.__getitem__`
  capellambse/extensions/reqif/_capellareq.py
  capellambse/model/common/element.py
Owners: @Wuestengecko, @vik378
