Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DSD-DBS/se-toolchain, @Wuestengecko, @ewuerger

feat(decl): Add a small CLI for applying declarative YAML
  capellambse/decl.py
  pyproject.toml
  tests/test_decl.py
Owners: @DSD-DBS/se-toolchain

docs(decl): Add documentation about declarative modelling
  .gitattributes
  capellambse/decl.py
  docs/source/index.rst
  docs/source/start/declarative.rst
Owners: @DSD-DBS/se-toolchain

docs: Add a demo notebook for declarative modeling
  examples/10 Declarative Modeling.ipynb
  examples/10 Declarative Modeling.ipynb.license
  tests/data/decl/empty_project_52/.project
  tests/data/decl/empty_project_52/.project.license
  tests/data/decl/empty_project_52/empty_project_52.afm
  tests/data/decl/empty_project_52/empty_project_52.afm.license
  tests/data/decl/empty_project_52/empty_project_52.aird
  tests/data/decl/empty_project_52/empty_project_52.aird.license
  tests/data/decl/empty_project_52/empty_project_52.capella
  tests/data/decl/empty_project_52/empty_project_52.capella.license
Owners: @DSD-DBS/se-toolchain

docs: Move "declarative" page up where it makes sense
  docs/source/index.rst
Owners: @DSD-DBS/se-toolchain

docs(decl): Improve documentation for declarative modelling
  docs/source/start/declarative.rst
Owners: @DSD-DBS/se-toolchain

refactor: Hide NAMESPACES and nskey, plugin pair getter
  capellambse/_namespaces.py
  capellambse/aird/parser/__init__.py
  capellambse/aird/parser/_common.py
  capellambse/helpers.py
  capellambse/loader/core.py
  capellambse/pvmt/model.py
  capellambse/pvmt/types.py
  capellambse/pvmt/validation.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

refactor: Remove unnecessary message in `UnsupportedPluginError`
  capellambse/_namespaces.py
Owners: @DSD-DBS/se-toolchain

refactor: Change raised exception and reformulate docstring
  capellambse/_namespaces.py
Owners: @DSD-DBS/se-toolchain

refactor: Simplify `UnsupportedPluginVersionError`
  capellambse/_namespaces.py
Owners: @DSD-DBS/se-toolchain

fix: Docstring formatting
  capellambse/_namespaces.py
Owners: @DSD-DBS/se-toolchain

fix: Remove assert statements from Raises section in docstring
  capellambse/_namespaces.py
Owners: @DSD-DBS/se-toolchain

refactor: Improve parameter names and docstring
  capellambse/_namespaces.py
Owners: @DSD-DBS/se-toolchain

fix: Fix lint errors
  capellambse/pvmt/validation.py
Owners: @DSD-DBS/se-toolchain

refactor: Apply suggestions from code review for unified codestyle
  capellambse/_namespaces.py
  capellambse/aird/parser/__init__.py
  capellambse/aird/parser/_common.py
  capellambse/helpers.py
  capellambse/loader/core.py
  capellambse/pvmt/model.py
  capellambse/pvmt/types.py
  capellambse/pvmt/validation.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

fix(tests): Escape periods in version string of indirect fixture
  tests/test_model_loading.py
Owners: @DSD-DBS/se-toolchain

refactor(tests): Fix docstring of indirect fixture
  tests/test_model_loading.py
Owners: @DSD-DBS/se-toolchain

refactor: Remove period from exception message
  capellambse/_namespaces.py
Owners: @DSD-DBS/se-toolchain

refactor: Address review comments
  capellambse/__init__.py
  capellambse/_namespaces.py
  capellambse/helpers.py
  capellambse/loader/core.py
  capellambse/pvmt/validation.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

fix: Please isort
  capellambse/aird/parser/_common.py
  capellambse/pvmt/model.py
  capellambse/pvmt/validation.py
Owners: @DSD-DBS/se-toolchain

chore: Update project infrastructure
  CONTRIBUTING.rst
  docs/source/conf.py
Owners: @DSD-DBS/se-toolchain

ci: Add `docformatter` and `pydocstyle` pre-commit checks
  .pre-commit-config.yaml
  capellambse/aird/diagram.py
  capellambse/aird/json_enc.py
  capellambse/aird/parser/__init__.py
  capellambse/aird/parser/_edge_factories.py
  capellambse/aird/parser/_filters/__init__.py
  capellambse/extensions/reqif/elements.py
  capellambse/extensions/reqif/exporter.py
  capellambse/helpers.py
  capellambse/loader/core.py
  capellambse/loader/exs.py
  capellambse/loader/filehandler/http.py
  capellambse/loader/xmltools.py
  capellambse/model/common/accessors.py
  capellambse/model/common/element.py
  capellambse/model/crosslayer/capellacore.py
  capellambse/model/crosslayer/cs.py
  capellambse/model/crosslayer/information/__init__.py
  capellambse/model/crosslayer/information/datavalue.py
  capellambse/model/layers/oa.py
  capellambse/model/modeltypes.py
  capellambse/sphinx.py
  capellambse/svg/drawing.py
  capellambse/svg/style.py
  capellambse/svg/symbols.py
  pyproject.toml
  tests/conftest.py
  tests/test_aird_filters.py
  tests/test_aird_vector2d.py
  tests/test_model_creation_deletion.py
  tests/test_pvmt.py
  tests/test_reqif.py
  tests/test_svg.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko, @ewuerger

docs: Add an `apidoc` convenience make target
  .github/workflows/docs.yml
  docs/Makefile
  docs/make.bat
  docs/source/start/developing-docs.rst
Owners: @DSD-DBS/se-toolchain

docs: Auto-reflow all reST files
  docs/source/start/developing-docs.rst
  docs/source/start/how-to-explore-capella-mm.rst
  docs/source/start/installation.rst
  docs/source/start/intro-to-api.rst
Owners: @DSD-DBS/se-toolchain

fix: Add pyyaml to `[docs]` dependency group
  pyproject.toml
Owners: @DSD-DBS/se-toolchain

ci: Always build docs (but only deploy on master)
  .github/workflows/docs.yml
Owners: @DSD-DBS/se-toolchain

docs: Remove autolabel extension
  docs/source/conf.py
  docs/source/start/intro-to-api.rst
Owners: @DSD-DBS/se-toolchain

docs: Fix typo in section title
  capellambse/cli_helpers.py
  capellambse/helpers.py
Owners: @DSD-DBS/se-toolchain

fix: Fix DeprecationWarning on Python 3.10+
  capellambse/__init__.py
  capellambse/loader/filehandler/__init__.py
  tests/test_model_loading.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

feat: Add `hide.role.names.filter` global filter
  capellambse/aird/parser/_filters/global.py
Owners: @DSD-DBS/se-toolchain

docs: Fix many sphinx warnings
  capellambse/_namespaces.py
  capellambse/aird/diagram.py
  capellambse/loader/filehandler/gitfilehandler.py
  capellambse/model/common/accessors.py
  docs/source/_static/.gitkeep
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

fix: Association factory
  capellambse/aird/parser/_edge_factories.py
Owners: @DSD-DBS/se-toolchain

feat: Add `hide.association.labels.filter` global filter
  capellambse/aird/parser/_filters/global.py
Owners: @DSD-DBS/se-toolchain

feat: Add `Aggregation` and `Composition` markers
  capellambse/aird/capstyle.py
  capellambse/svg/drawing.py
  capellambse/svg/symbols.py
Owners: @DSD-DBS/se-toolchain, @ewuerger

chore: pre-commit autoupdate
  .pre-commit-config.yaml
  capellambse/aird/parser/_box_factories.py
  capellambse/extensions/reqif/elements.py
  capellambse/model/common/accessors.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

ci: Update Github workflows
  .github/workflows/build-test-publish.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
Owners: @DSD-DBS/se-toolchain

fix: Fix `exchanges` situation on `OperationalActivity`s
  capellambse/model/layers/oa.py
Owners: @Wuestengecko

refactor: Apply suggestions from code review
  capellambse/aird/parser/_filters/global.py
Owners: @DSD-DBS/se-toolchain

docs: Add type hints to MelodyModel constructor docstring
  capellambse/model/__init__.py
Owners: @Wuestengecko

docs: Add Python version badge to README and install guide
  README.rst
  docs/source/start/installation.rst
Owners: @DSD-DBS/se-toolchain

docs: Add windows installation guide
  docs/source/start/installation.rst
Owners: @DSD-DBS/se-toolchain

.github/CODEOWNERS:

# SPDX-FileCopyrightText: Copyright DB Netz AG and the capellambse contributors
# SPDX-License-Identifier: CC0-1.0

*	@DSD-DBS/se-toolchain

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko
/capellambse/repl.py	@Wuestengecko

/capellambse/svg/	@ewuerger
