Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DSD-DBS/se-toolchain, @Wuestengecko, @ewuerger

.github/CODEOWNERS:

# SPDX-FileCopyrightText: Copyright DB Netz AG and the capellambse contributors
# SPDX-License-Identifier: CC0-1.0

*	@DSD-DBS/se-toolchain

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko
/capellambse/repl.py	@Wuestengecko

/capellambse/svg/	@ewuerger

revert: Rename `pvmt` back to `_pvmt`
  capellambse/extensions/pvmt.py
  capellambse/model/__init__.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

chore: Add missing period in docstring
  capellambse/model/crosslayer/capellacore.py
Owners: @Wuestengecko

feat: Add new attributes to the `MelodyModel`
  capellambse/model/__init__.py
  capellambse/model/common/accessors.py
  capellambse/model/crosslayer/capellacore.py
Owners: @Wuestengecko

feat: Add PVMT showcase notebook
  examples/08 Introduction to PVMT.ipynb
  examples/08 Introduction to PVMT.ipynb.license
  tests/data/melodymodel/5_2/Melody Model Test.aird
  tests/data/melodymodel/5_2/Melody Model Test.capella
Owners: @DSD-DBS/se-toolchain

tests: Add 6.0 Test model and remove obsolete code
  tests/conftest.py
  tests/data/melodymodel/1_3/.user.af
  tests/data/melodymodel/1_3/MelodyModelTest.afm
  tests/data/melodymodel/1_3/MelodyModelTest.aird
  tests/data/melodymodel/1_3/MelodyModelTest.melodymodeller
  tests/data/melodymodel/1_3/MelodyModelTest.melodymodeller.license
  tests/data/melodymodel/1_4/.project
  tests/data/melodymodel/1_4/.project.license
  tests/data/melodymodel/1_4/MelodyModelTest.afm
  tests/data/melodymodel/1_4/MelodyModelTest.afm.license
  tests/data/melodymodel/1_4/MelodyModelTest.aird
  tests/data/melodymodel/1_4/MelodyModelTest.aird.license
  tests/data/melodymodel/1_4/MelodyModelTest.melodymodeller.license
  tests/data/melodymodel/6_0/.project
  tests/data/melodymodel/6_0/.project.license
  tests/data/melodymodel/6_0/Melody Model Test.afm
  tests/data/melodymodel/6_0/Melody Model Test.afm.license
  tests/data/melodymodel/6_0/Melody Model Test.aird
  tests/data/melodymodel/6_0/Melody Model Test.aird.license
  tests/data/melodymodel/6_0/Melody Model Test.capella
  tests/data/melodymodel/6_0/Melody Model Test.capella.license
  tests/test_model_layers.py
Owners: @DSD-DBS/se-toolchain

fix: Raise plugin version support
  capellambse/_namespaces.py
Owners: @DSD-DBS/se-toolchain

docs: Add `GitFileHandler` `update_cache` interaction note
  capellambse/loader/core.py
  capellambse/model/__init__.py
Owners: @Wuestengecko

refactor: Remove unused import
  capellambse/loader/filehandler/__init__.py
Owners: @Wuestengecko

fix: Add version field to `.vscode/launch.json`
  .vscode/launch.json
Owners: @DSD-DBS/se-toolchain

docs: Use the numpydocs Notes section where appropriate
  capellambse/loader/core.py
  capellambse/model/__init__.py
Owners: @Wuestengecko

docs(model): Refer to `save` for details about update_cache
  capellambse/model/__init__.py
Owners: @Wuestengecko

tests: Migrate parser and PVMT test models from 1.3 to 5.0
  tests/data/parser/TestItems.afm
  tests/data/parser/TestItems.aird
  tests/data/parser/TestItems.capella
  tests/data/parser/TestItems.capella.license
  tests/data/pvmt/PVMTTest.afm
  tests/data/pvmt/PVMTTest.aird
  tests/data/pvmt/PVMTTest.capella
  tests/data/pvmt/expected-output/apply.capella
Owners: @DSD-DBS/se-toolchain

tests: Remove unused old domain group `EClass`
  tests/data/pvmt/PVMTTest.capella
  tests/data/pvmt/PVMTTest.capella.license
  tests/data/pvmt/expected-output/apply.capella
  tests/data/pvmt/expected-output/apply.capella.license
  tests/test_pvmt.py
Owners: @DSD-DBS/se-toolchain

feat(decl): Implement creating simple objects
  capellambse/decl.py
  tests/test_decl.py
Owners: @DSD-DBS/se-toolchain

refactor: Improve error handling for plugin version check
  capellambse/__init__.py
  capellambse/_namespaces.py
  capellambse/helpers.py
Owners: @DSD-DBS/se-toolchain

tests: Add tests for model loading with unsupported version
  tests/test_model_loading.py
Owners: @DSD-DBS/se-toolchain

docs(model): Update docs for `diagram_cache=` arg of `MelodyModel`
  capellambse/model/__init__.py
Owners: @Wuestengecko

refactor: Standardize PVMT meta model
  capellambse/model/crosslayer/capellacore.py
  capellambse/pvmt/validation.py
  examples/08 Introduction to PVMT.ipynb
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

tests: Formatting from opening PVMT definition in Capella
  tests/data/melodymodel/5_2/Melody Model Test.capella
Owners: @DSD-DBS/se-toolchain

tests: Add scope tests
  tests/test_pvmt.py
Owners: @DSD-DBS/se-toolchain

refactor: Simplify `scope` attribute
  capellambse/model/crosslayer/capellacore.py
  tests/test_pvmt.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

tests: Improve type hints and docstring
  tests/test_model_loading.py
Owners: @DSD-DBS/se-toolchain

tests: Simplify unsupported version model loading test
  tests/test_model_loading.py
Owners: @DSD-DBS/se-toolchain

refactor: Rework plugins & their version support
  capellambse/_namespaces.py
  capellambse/helpers.py
  capellambse/pvmt/validation.py
  tests/test_model_loading.py
Owners: @DSD-DBS/se-toolchain

refactor: Import all needed objects from `_namespaces`
  capellambse/__init__.py
  capellambse/_namespaces.py
Owners: @DSD-DBS/se-toolchain

refactor: Simplify plugin check in `xtype_of`
  capellambse/_namespaces.py
  capellambse/helpers.py
  capellambse/pvmt/validation.py
Owners: @DSD-DBS/se-toolchain

tests: Add test for model loading with an unsupported plugin
  tests/test_model_loading.py
Owners: @DSD-DBS/se-toolchain

chore: Fix black formatting
  capellambse/helpers.py
Owners: @DSD-DBS/se-toolchain

test: Refactor indirect fixture
  tests/test_model_loading.py
Owners: @DSD-DBS/se-toolchain

revert(model): Remove dict-based element creation logic
  capellambse/model/common/accessors.py
  capellambse/model/common/element.py
  tests/test_reqif.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

feat(decl): Implement creation of nested objects
  capellambse/decl.py
  tests/test_decl.py
Owners: @DSD-DBS/se-toolchain

feat(decl): Implement back-referencing promises
  capellambse/decl.py
  tests/test_decl.py
Owners: @DSD-DBS/se-toolchain

feat(decl): Implement the `modify` operation
  capellambse/decl.py
  tests/test_decl.py
Owners: @DSD-DBS/se-toolchain

feat(decl): Implement forward-references via promises
  capellambse/decl.py
  tests/test_decl.py
Owners: @DSD-DBS/se-toolchain

refactor(model)!: Fix `.exchanges` on Components, Functions and Pkgs
  capellambse/model/crosslayer/cs.py
  capellambse/model/crosslayer/fa.py
  capellambse/model/layers/la.py
  capellambse/model/layers/oa.py
  capellambse/model/layers/pa.py
Owners: @Wuestengecko

fix(decl): Resolve promises on simple object attributes
  capellambse/decl.py
  tests/test_decl.py
Owners: @DSD-DBS/se-toolchain

feat(decl): Implement deletion of child objects
  capellambse/decl.py
  tests/test_decl.py
Owners: @DSD-DBS/se-toolchain

feat(decl): Disambiguate mixed element list creation with `_type`
  capellambse/decl.py
  tests/test_decl.py
Owners: @DSD-DBS/se-toolchain

feat(decl): Support creation of simple objects with plain strings
  capellambse/decl.py
  tests/test_decl.py
Owners: @DSD-DBS/se-toolchain

test(decl): Add a more complete example for testing
  .pre-commit-config.yaml
  tests/data/decl/coffee-machine.yml
  tests/test_decl.py
Owners: @DSD-DBS/se-toolchain
