Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DSD-DBS/se-toolchain, @Wuestengecko, @ewuerger

Use type inference and rename import
  tests/test_aird_filters.py
Owners: @DSD-DBS/se-toolchain

Update capellambse/aird/diagram.py
  capellambse/aird/diagram.py
Owners: @DSD-DBS/se-toolchain

Refactor render_params for filters
  capellambse/aird/diagram.py
  capellambse/aird/parser/__init__.py
  capellambse/aird/parser/_filters/__init__.py
  capellambse/aird/parser/_filters/global.py
  capellambse/model/diagram.py
  tests/test_aird_filters.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

Remove obsolete mypy ignore flag
  capellambse/aird/parser/_common.py
Owners: @DSD-DBS/se-toolchain

Update capellambse/aird/parser/_filters/__init__.py
  capellambse/aird/parser/_filters/__init__.py
Owners: @DSD-DBS/se-toolchain

Update capellambse/aird/parser/_filters/__init__.py
  capellambse/aird/parser/_filters/__init__.py
Owners: @DSD-DBS/se-toolchain

Rename parameters
  capellambse/aird/parser/_filters/__init__.py
Owners: @DSD-DBS/se-toolchain

Add type ignore to please pre-commit hooks
  capellambse/aird/parser/_common.py
Owners: @DSD-DBS/se-toolchain

Update tests/test_aird_filters.py
  tests/test_aird_filters.py
Owners: @DSD-DBS/se-toolchain

Update capellambse/model/diagram.py
  capellambse/model/diagram.py
Owners: @Wuestengecko

fix(git): Use `git check-attr` over `git lfs ls-files`
  capellambse/loader/filehandler/gitfilehandler.py
Owners: @Wuestengecko

fix: Add a basic test for #76
  capellambse/loader/xmltools.py
  tests/test_model_layers.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

feat(model): Introduce `search(below=...)`
  capellambse/model/__init__.py
  tests/test_model_layers.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

docs(readme): Expand on the "Documentation and examples"
  README.md
Owners: @DSD-DBS/se-toolchain

fix(model): Actually allow overriding `single=` on filters at call time
  capellambse/model/common/element.py
Owners: @Wuestengecko

Make notebook convention compatible and fix typos
  examples/07 Code Generation.ipynb
Owners: @DSD-DBS/se-toolchain

Adjust minor code issues
  examples/07 Code Generation.ipynb
Owners: @DSD-DBS/se-toolchain

Change notebook prefix
  examples/07 Code Generation.ipynb
Owners: @DSD-DBS/se-toolchain

Fix typos and adjust indent problems
  examples/07 Code Generation.ipynb
Owners: @DSD-DBS/se-toolchain

Add new notebook to readme
  README.md
Owners: @DSD-DBS/se-toolchain

docs(readme): Restructure the README
  README.md
Owners: @DSD-DBS/se-toolchain

docs(readme): Add links to Jupyter
  README.md
Owners: @DSD-DBS/se-toolchain

docs(readme): Improve explanations on example notebooks
  README.md
Owners: @DSD-DBS/se-toolchain

docs(examples): Shorten the Requirements demo notebook name
  README.md
  examples/06 Introduction to Requirement access and management.ipynb
Owners: @DSD-DBS/se-toolchain

fix(tests): Make `test_model_search_finds_elements` actually useful
  tests/test_model_layers.py
Owners: @DSD-DBS/se-toolchain

fix(model): Show error when `search()`-ing an unknown incomplete xtype
  capellambse/model/__init__.py
Owners: @Wuestengecko

docs(examples): Demonstrate exporting to `.reqif`
  examples/06 Introduction to Requirement access and management.ipynb
Owners: @DSD-DBS/se-toolchain

fix(model): Fix `search()` still finding too much
  capellambse/model/__init__.py
Owners: @Wuestengecko

fix(svg): Fix marker self-references
  capellambse/svg/symbols.py
Owners: @ewuerger

docs(examples): Fix Github preview for code-gen example
  examples/07 Code Generation.ipynb
Owners: @DSD-DBS/se-toolchain

model.diagram: Fix missing import
  capellambse/model/diagram.py
Owners: @Wuestengecko

feat(model): Improve repr() of GenericElement/ElementList
  capellambse/model/common/element.py
  tests/test_reqif.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

refactor(model): Drop obsolete `_filter` method from ElementList
  capellambse/model/common/element.py
Owners: @Wuestengecko

refactor(model): Use attribute names in `_Filter` instead of lambdas
  capellambse/model/common/element.py
Owners: @Wuestengecko

feat(model): Enable filtering on sub-attributes
  capellambse/model/common/element.py
Owners: @Wuestengecko

ci: Run linters on Python 3.10
  .github/workflows/lint.yml
Owners: @DSD-DBS/se-toolchain

ci: Pin pylint to 2.13.9
  .github/workflows/lint.yml
Owners: @DSD-DBS/se-toolchain

aird.parser: Remove unused pylint ignore
  capellambse/aird/parser/_common.py
Owners: @DSD-DBS/se-toolchain

tests: Remove obsolete assertions
  tests/test_auditing.py
Owners: @DSD-DBS/se-toolchain

tests: Rename test case
  tests/test_auditing.py
Owners: @DSD-DBS/se-toolchain

.github/CODEOWNERS:

*	@DSD-DBS/se-toolchain

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko

/capellambse/svg/	@ewuerger
