Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Wuestengecko, @vik378, @ewuerger

.github/CODEOWNERS:

# SPDX-FileCopyrightText: Copyright DB Netz AG and the capellambse contributors
# SPDX-License-Identifier: CC0-1.0

*	@Wuestengecko @vik378

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko
/capellambse/repl.py	@Wuestengecko

/capellambse/svg/	@ewuerger

# vim:set ts=32 sw=0 noet:

feat(validation): Introduce "Virtual Types" for rule scoping
  .pre-commit-config.yaml
  capellambse/extensions/validation/_validate.py
  capellambse/extensions/validation/default-template.html.jinja
  capellambse/extensions/validation/rules.py
  capellambse/model/common/__init__.py
Owners: @Wuestengecko, @vik378

fixup! feat(validation): Introduce "Virtual Types" for rule scoping
  capellambse/extensions/validation/_validate.py
  capellambse/extensions/validation/rules.py
  tests/test_validation.py
Owners: @Wuestengecko, @vik378

fix(validation): Fix repr of Result
  capellambse/extensions/validation/_validate.py
Owners: @Wuestengecko, @vik378

fix(validation): Reflow rule descriptions with `black --preview`
  capellambse/extensions/validation/rules.py
Owners: @Wuestengecko, @vik378

fix(validation): Remove double-filtering of result sets
  capellambse/extensions/metrics/collector.py
  capellambse/extensions/validation/default-template.html.jinja
  tests/test_metrics.py
Owners: @Wuestengecko, @vik378

fix(diagram): Filter hidden elements from nodes
  capellambse/model/diagram.py
  tests/data/melodymodel/5_0/Melody Model Test.aird
  tests/test_diagram.py
Owners: @Wuestengecko, @vik378

feat: Push derived models to individual branches
  ci-templates/gitlab/README.rst
  ci-templates/gitlab/filter-derive.yml
  ci-templates/gitlab/model-badge.yml
Owners: @Wuestengecko, @vik378

fix(filehandler): Lock the repo during calls to git
  capellambse/filehandler/git.py
  capellambse/helpers.py
  tests/test_helpers.py
  tests/test_model_loading.py
Owners: @Wuestengecko, @vik378

fix(model): Allow xtype anchors to be prefixes of other anchors
  capellambse/model/common/__init__.py
Owners: @Wuestengecko

fix(model): Fix access to MelodyModel through `.parent` chain
  capellambse/model/__init__.py
  capellambse/model/common/__init__.py
  capellambse/model/common/element.py
Owners: @Wuestengecko

fix: Show namespace warning instead of error
  capellambse/loader/core.py
Owners: @Wuestengecko

fix(ci-templates): Ensure "derived" branch pointers are up to date
  ci-templates/gitlab/filter-derive.yml
Owners: @Wuestengecko, @vik378

fix(svg): Incorporate icon size into label positioning
  capellambse/svg/drawing.py
Owners: @ewuerger

fix(ci-templates): Only push derived branches from the default branch
  ci-templates/gitlab/README.rst
  ci-templates/gitlab/filter-derive.yml
Owners: @Wuestengecko, @vik378

feat(model): Add links attribute to PhysicalPort
  capellambse/model/crosslayer/cs.py
Owners: @Wuestengecko

test(validation): Fix repr test
  tests/test_validation.py
Owners: @Wuestengecko, @vik378

fix(validation): Please pylint and mypy
  capellambse/extensions/validation/_validate.py
Owners: @Wuestengecko, @vik378

fix(diagram): Relax angle assertion to allow 0
  capellambse/diagram/_diagram.py
Owners: @Wuestengecko, @vik378

ci: Rework Code Quality related workflows
  .github/workflows/code-qa.yml
  .github/workflows/lint.yml
  README.rst
Owners: @Wuestengecko, @vik378

ci: Restrict docs workflow to master by default
  .github/workflows/docs.yml
Owners: @Wuestengecko, @vik378

fix(diargam_cache): Add `_sanitize_svg` with new overrides
  capellambse/_diagram_cache.py
Owners: @Wuestengecko, @vik378

fix(diagram_cache): Fix SVG sanitization
  capellambse/_diagram_cache.py
Owners: @Wuestengecko, @vik378

ci: Configure pylint line-too-long ignore regex
  capellambse/_diagram_cache.py
  capellambse/aird/_edge_factories.py
  capellambse/loader/core.py
  capellambse/model/__init__.py
  pyproject.toml
  tests/test_model_loading.py
Owners: @Wuestengecko, @vik378

feat(model): Disable AIRD renderer if diagram_cache was given
  capellambse/model/__init__.py
  capellambse/model/diagram.py
  tests/test_model_loading.py
Owners: @Wuestengecko, @vik378

refactor(validation): Remove unnecessary `ABCMeta` base
  capellambse/extensions/validation/_validate.py
Owners: @Wuestengecko, @vik378

refactor(validation): Tone done import abbreviations a bit
  capellambse/extensions/metrics/collector.py
Owners: @Wuestengecko, @vik378

fix(repl): Disable frozen_modules
  capellambse/repl.py
Owners: @Wuestengecko

feat(diagram_cache): Improve generated index files
  capellambse/_diagram_cache.py
Owners: @Wuestengecko, @vik378

feat(diagram_cache): Use 'capella{VERSION}' executables as fallback
  capellambse/diagram_cache.py
Owners: @Wuestengecko, @vik378

build: Fix wheels including non-code files
  pyproject.toml
Owners: @Wuestengecko, @vik378

fix(model): Skip displaying ReferenceSearchingAccessor attributes
  capellambse/model/common/element.py
Owners: @Wuestengecko

feat: Add an in-memory file handler
  capellambse/filehandler/memory.py
  tests/test_filehandler_memory.py
Owners: @Wuestengecko, @vik378

feat(cli): Search for known models in user config dir
  capellambse/cli_helpers.py
  capellambse/repl.py
Owners: @Wuestengecko, @vik378

feat(helpers): Factor out HTML fragment processing
  capellambse/helpers.py
  tests/test_helpers.py
Owners: @Wuestengecko, @vik378

feat(aird): Add a faster way to get visible diagram elements
  capellambse/aird/__init__.py
  capellambse/model/diagram.py
  tests/test_aird_parser.py
Owners: @Wuestengecko, @vik378

build: Add missing 'Typed' trove classifier
  pyproject.toml
Owners: @Wuestengecko, @vik378

fix(filehandler): Move lockfile into $GITDIR
  capellambse/filehandler/git.py
  tests/test_model_loading.py
Owners: @Wuestengecko, @vik378

fix(model): Fix default renderability of diagrams
  capellambse/model/diagram.py
Owners: @Wuestengecko

docs(model): Mark `AbstractDiagram._allow_render` as public
  capellambse/model/diagram.py
Owners: @Wuestengecko

docs(model): Document `_create_diagram`
  capellambse/model/diagram.py
Owners: @Wuestengecko
