Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Wuestengecko, @vik378, @ewuerger

fix: Add missing default styling of `PhysicalComponent`s for natures
  capellambse/aird/capstyle.py
  capellambse/aird/parser/_box_factories.py
  capellambse/aird/parser/_semantic.py
Owners: @Wuestengecko, @vik378

refactor: Remove unnecessary parantheses
  capellambse/aird/parser/_box_factories.py
Owners: @Wuestengecko, @vik378

refactor: Merge physical part styleclass patch into `part_factory`
  capellambse/aird/parser/_box_factories.py
  capellambse/aird/parser/_semantic.py
Owners: @Wuestengecko, @vik378

refactor: Apply requested changes from code review
  capellambse/aird/capstyle.py
Owners: @Wuestengecko, @vik378

fix(model): Add back missing Component.functions on LA/PA
  capellambse/model/layers/la.py
  capellambse/model/layers/pa.py
Owners: @Wuestengecko

refactor: Fix type hints on `COLORS` and `STYLES`
  capellambse/aird/capstyle.py
Owners: @Wuestengecko, @vik378

refactor: Simplify styleclass patching in `part_factory`
  capellambse/aird/parser/_box_factories.py
  capellambse/svg/style.py
Owners: @Wuestengecko, @vik378, @ewuerger

refactor(model): Extract deprecated-alias logic to an Accessor
  capellambse/model/common/accessors.py
  capellambse/model/crosslayer/fa.py
  capellambse/model/layers/la.py
  capellambse/model/layers/pa.py
Owners: @Wuestengecko

docs: Set type-hints format to `short`
  docs/source/conf.py
Owners: @Wuestengecko, @vik378

feat(model): Add `StateTransition.effects`
  capellambse/model/crosslayer/capellacommon.py
  tests/data/melodymodel/5_0/Melody Model Test.aird
  tests/data/melodymodel/5_0/Melody Model Test.capella
  tests/test_model_layers.py
Owners: @Wuestengecko, @vik378

feat(model): Make AttrProxyAccessor writable
  capellambse/extensions/reqif/elements.py
  capellambse/model/common/accessors.py
  tests/test_model_layers.py
Owners: @Wuestengecko, @vik378

docs(model): Fix / update docstrings for Accessors
  capellambse/model/common/accessors.py
Owners: @Wuestengecko

fix(model): Fix `del x[-1]` on coupled ElementLists
  capellambse/model/common/accessors.py
Owners: @Wuestengecko

feat: Add `entries` and `exits` attribute to `capellacommon.State`s
  capellambse/model/crosslayer/capellacommon.py
  tests/data/melodymodel/5_2/Melody Model Test.capella
  tests/test_xlayer_common.py
Owners: @Wuestengecko, @vik378

ci: Require Sphinx v5+
  pyproject.toml
Owners: @Wuestengecko, @vik378

feat: Add `kind` attribute to class properties
  capellambse/model/crosslayer/information/__init__.py
  capellambse/model/modeltypes.py
Owners: @Wuestengecko

feat: Add `Association`s to information crosslayer
  capellambse/model/crosslayer/information/__init__.py
Owners: @Wuestengecko

docs: Update `Data Values` intro notebook
  docs/source/_static/img/harrys_wand.png
  docs/source/_static/img/harrys_wand.png.license
  docs/source/_static/img/waypoints.png
  docs/source/_static/img/waypoints.png.license
  docs/source/examples/03 Data Values.ipynb
  tests/data/melodymodel/5_2/Melody Model Test.aird
  tests/data/melodymodel/5_2/Melody Model Test.capella
Owners: @Wuestengecko, @vik378

docs: Add `summary` demo for the association
  docs/source/examples/03 Data Values.ipynb
  tests/data/melodymodel/5_2/Melody Model Test.capella
Owners: @Wuestengecko, @vik378

feat: Add `realization` attributes to `Class`es
  capellambse/model/crosslayer/information/__init__.py
  tests/data/melodymodel/5_2/Melody Model Test.capella
Owners: @Wuestengecko, @vik378

fix: Fill in tag for `LinkAccessor`s
  capellambse/model/crosslayer/information/__init__.py
Owners: @Wuestengecko

docs: Fix typo
  docs/source/examples/03 Data Values.ipynb
Owners: @Wuestengecko, @vik378

refactor: Rename `create` operation to `extend`
  capellambse/decl.py
  docs/source/examples/10 Declarative Modeling.ipynb
  docs/source/start/declarative.rst
  tests/data/decl/coffee-machine.yml
  tests/data/melodymodel/5_0/Melody Model Test.capella
  tests/test_decl.py
Owners: @Wuestengecko, @vik378

docs: Extend documentation of `extend`
  docs/source/start/declarative.rst
Owners: @Wuestengecko, @vik378

docs: Update example notebooks
  docs/source/examples/10 Declarative Modeling.ipynb
Owners: @Wuestengecko, @vik378

fix: Fix definition of `GenericElement.parent`
  capellambse/model/common/element.py
Owners: @Wuestengecko

refactor(aird): Demote "No default style" warnings to DEBUG level
  capellambse/aird/capstyle.py
Owners: @Wuestengecko, @vik378

refactor(model): Improve `Association` property definitions
  capellambse/model/crosslayer/information/__init__.py
Owners: @Wuestengecko

feat(repl): Add more convenience imports and functions
  capellambse/repl.py
Owners: @Wuestengecko

fix(loader): Fix DeprecationWarning when looking for file handlers
  capellambse/loader/filehandler/__init__.py
Owners: @Wuestengecko

fix(model): Fix display of warnings
  capellambse/model/common/accessors.py
  capellambse/model/common/element.py
Owners: @Wuestengecko

build: Officially support Python 3.11
  .github/workflows/build-test-publish.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  pyproject.toml
Owners: @Wuestengecko, @vik378

ci: Disable the "refactorings" checker in GH Actions
  .github/workflows/lint.yml
Owners: @Wuestengecko, @vik378

feat(loader): Allow ignoring CorruptModelError from duplicate UUIDs
  capellambse/loader/core.py
Owners: @Wuestengecko

fix(reqif): Fix repr of relations
  capellambse/extensions/reqif/elements.py
Owners: @Wuestengecko, @vik378

feat(model): Log cache misses when rendering diagrams
  capellambse/model/diagram.py
Owners: @Wuestengecko

refactor: Simplify `_short_repr_` of `ReqIFElement`s and `Relations`
  capellambse/extensions/reqif/elements.py
  tests/data/melodymodel/5_2/Melody Model Test.capella
  tests/test_reqif.py
Owners: @Wuestengecko, @vik378

chore: Pre-commit autoupdate
  .pre-commit-config.yaml
Owners: @Wuestengecko, @vik378

ci: Fix all pylint warnings
  capellambse/aird/diagram.py
  capellambse/aird/parser/_box_factories.py
  capellambse/aird/parser/_edge_factories.py
  capellambse/aird/parser/_filters/__init__.py
  capellambse/aird/parser/_filters/global.py
  capellambse/extensions/pvmt.py
  capellambse/extensions/reqif/elements.py
  capellambse/extensions/reqif/exporter.py
  capellambse/helpers.py
  capellambse/loader/core.py
  capellambse/loader/exs.py
  capellambse/loader/filehandler/gitfilehandler.py
  capellambse/loader/filehandler/http.py
  capellambse/loader/xmltools.py
  capellambse/model/__init__.py
  capellambse/model/common/__init__.py
  capellambse/model/common/accessors.py
  capellambse/model/common/element.py
  capellambse/model/crosslayer/capellacommon.py
  capellambse/model/crosslayer/fa.py
  capellambse/model/crosslayer/interaction.py
  capellambse/model/diagram.py
  capellambse/model/layers/ctx.py
  capellambse/model/layers/oa.py
  capellambse/pvmt/core.py
  capellambse/pvmt/model.py
  capellambse/pvmt/validation.py
  capellambse/sphinx.py
  capellambse/svg/drawing.py
  capellambse/svg/generate.py
  capellambse/svg/style.py
  capellambse/svg/symbols.py
  tests/test_model_layers.py
  tests/test_reqif.py
  tests/test_svg.py
  tests/test_xlayer_information.py
Owners: @Wuestengecko, @vik378, @ewuerger

ci: Warn about unnecessary `type:ignore` comments
  capellambse/aird/parser/_common.py
  capellambse/aird/parser/_filters/__init__.py
  capellambse/aird/vector2d.py
  capellambse/loader/filehandler/__init__.py
  capellambse/loader/xmltools.py
  capellambse/model/common/accessors.py
  capellambse/model/diagram.py
  capellambse/model/layers/ctx.py
  capellambse/model/layers/la.py
  capellambse/model/layers/pa.py
  capellambse/pvmt/core.py
  capellambse/pvmt/types.py
  capellambse/sphinx.py
  capellambse/svg/style.py
  docs/source/conf.py
  pyproject.toml
  tests/test_cli_helpers.py
  tests/test_decl.py
  tests/test_model_layers.py
  tests/test_model_loading.py
  tests/test_reqif.py
  tests/test_xlayer_information.py
Owners: @Wuestengecko, @vik378, @ewuerger

.github/CODEOWNERS:

# SPDX-FileCopyrightText: Copyright DB Netz AG and the capellambse contributors
# SPDX-License-Identifier: CC0-1.0

*	@Wuestengecko @vik378

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko
/capellambse/repl.py	@Wuestengecko

/capellambse/svg/	@ewuerger

# vim:set ts=32 sw=0 noet:
