Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DSD-DBS/se-toolchain, @Wuestengecko, @ewuerger

Fix label positioning of Class
  capellambse/svg/decorations.py
Owners: @ewuerger

Add ClassSymbol decoration
  capellambse/svg/style.py
  capellambse/svg/symbols.py
Owners: @ewuerger

Sort style definition
  capellambse/aird/capstyle.py
Owners: @DSD-DBS/se-toolchain

Add generalization styling
  capellambse/aird/capstyle.py
Owners: @DSD-DBS/se-toolchain

Add StateMachine access to Component/Entity{,Pkg}
  capellambse/model/crosslayer/cs.py
  capellambse/model/layers/ctx.py
  capellambse/model/layers/la.py
  capellambse/model/layers/oa.py
  capellambse/model/layers/pa.py
  tests/data/melodymodel/5_0/MelodyModelTest.capella
  tests/test_model_layers.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

Add typing and prepare MSM tests
  tests/test_model_layers.py
Owners: @DSD-DBS/se-toolchain

Add MSM region access to diagrams test
  tests/data/melodymodel/5_0/MelodyModelTest.aird
  tests/data/melodymodel/5_0/MelodyModelTest.capella
  tests/test_model_layers.py
Owners: @DSD-DBS/se-toolchain

editorial changes to README
  README.md
Owners: @DSD-DBS/se-toolchain

Add SystemCapability realized_capabilities access
  capellambse/model/layers/ctx.py
  tests/data/melodymodel/5_0/MelodyModelTest.capella
  tests/test_model_layers.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

Add logical Capability realized_capabilites access
  capellambse/model/layers/la.py
  tests/test_model_layers.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

updated Iitroduction notebook to use latest API
  examples/01_Introduction.ipynb
Owners: @DSD-DBS/se-toolchain

updated intro to address review comments
  examples/01_Introduction.ipynb
  examples/01_intro_actor_functions.xlsx
Owners: @DSD-DBS/se-toolchain

Add state_machines to Classes
  capellambse/model/crosslayer/information.py
  tests/data/melodymodel/5_0/MelodyModelTest.capella
  tests/test_model_layers.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

Use short "capellambse" name consistently
  capellambse/__init__.py
Owners: @DSD-DBS/se-toolchain

Add inheritance to Class
  capellambse/model/crosslayer/capellacore.py
  capellambse/model/crosslayer/information.py
  tests/data/melodymodel/5_0/MelodyModelTest.capella
  tests/test_model_layers.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

ci: Clean and simplify doc generation
  .github/workflows/docs.yml
  docs/requirements.txt
Owners: @DSD-DBS/se-toolchain

Move `__all__` in the right place (PEP-8)
  capellambse/aird/capstyle.py
  capellambse/aird/diagram.py
  capellambse/aird/json_enc.py
  capellambse/aird/parser/__init__.py
  capellambse/aird/vector2d.py
  capellambse/model/__init__.py
  tests/__init__.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

loader: Remove broken and redundant logic from `ModelInfo`
  capellambse/loader/modelinfo.py
  tests/test_model_layers.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

README: Fix trailing whitespace
  README.md
Owners: @DSD-DBS/se-toolchain

model: Add `__setattr__` / `__getattr__` to `GenericElement`
  capellambse/model/common/element.py
  capellambse/model/crosslayer/information.py
  tests/test_reqif.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

tests: Remove network-dependent model loading tests
  tests/test_model_loading.py
Owners: @DSD-DBS/se-toolchain

model: Introduce `_short_html_()` sunder method
  capellambse/model/common/element.py
Owners: @Wuestengecko

Revert "model: Add `__setattr__` / `__getattr__` to `GenericElement`"
  capellambse/model/common/element.py
  capellambse/model/crosslayer/information.py
  tests/test_reqif.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

Fix html escaping of Specifications
  capellambse/model/common/accessors.py
  tests/data/melodymodel/5_0/MelodyModelTest.capella
  tests/test_model_layers.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

Fix mypy issue
  capellambse/model/layers/pa.py
Owners: @Wuestengecko

Add long_name to RequirementType
  capellambse/extensions/reqif.py
Owners: @DSD-DBS/se-toolchain

Add realizing forward links and tests
  capellambse/model/layers/ctx.py
  capellambse/model/layers/la.py
  tests/data/melodymodel/5_0/MelodyModelTest.capella
  tests/test_model_layers.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

Allow access to AttributeDefinions from RequirementType
  capellambse/extensions/reqif.py
Owners: @DSD-DBS/se-toolchain

Add owner for Requirement
  capellambse/extensions/reqif.py
Owners: @DSD-DBS/se-toolchain

Reduce saving log message to debug level
  capellambse/loader/core.py
Owners: @Wuestengecko

Fix pre-commit errors
  capellambse/loader/filehandler/localfilehandler.py
  tests/test_model_layers.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

We can not assume git+ssh to be set up with every user
  tests/test_model_loading.py
Owners: @DSD-DBS/se-toolchain

Fix funky typing issues
  capellambse/extensions/reqif.py
Owners: @DSD-DBS/se-toolchain

Fix typing errors in model layer test
  tests/test_model_layers.py
Owners: @DSD-DBS/se-toolchain

Remove unused mypy `type: ignore` statements
  capellambse/model/layers/ctx.py
  capellambse/model/layers/la.py
  capellambse/model/layers/oa.py
Owners: @Wuestengecko

Revert 95a13e7 and add test cases
  capellambse/extensions/reqif.py
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain

filehandler: Fix handling of single protocols
  capellambse/loader/filehandler/__init__.py
  tests/test_model_loading.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

Fix twine warning
  setup.cfg
Owners: @DSD-DBS/se-toolchain

model: Add a simple test for `model.search()`
  tests/test_model_layers.py
Owners: @DSD-DBS/se-toolchain

model: Extend `search()` to accept short types
  capellambse/model/__init__.py
  tests/test_model_layers.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

.github/CODEOWNERS:

*	@DSD-DBS/se-toolchain

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko

/capellambse/svg/	@ewuerger
