Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DSD-DBS/se-toolchain, @Wuestengecko, @ewuerger

reqif: Add default names to AttributeValues repr
  capellambse/extensions/reqif/elements.py
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain

test_reqif: Remove unused imports
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain

test_reqif: Divide AttributeValue creation test
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain

xmltools: Revert a604b42 and pass KeyError
  capellambse/loader/xmltools.py
Owners: @Wuestengecko

fix: Only allow PNG in untrusted notebooks
  capellambse/model/diagram.py
Owners: @Wuestengecko

chore: Re-render diagrams in example notebooks
  examples/01 Introduction.ipynb
  examples/02 Intro to Physical Architecture API.ipynb
  examples/04 Intro to Jinja templating.ipynb
  examples/05 Introduction to Libraries.ipynb
Owners: @DSD-DBS/se-toolchain

fix: Improve handling of HTML attributes in the model
  capellambse/extensions/reqif/elements.py
  capellambse/helpers.py
  capellambse/loader/xmltools.py
  capellambse/model/common/__init__.py
  capellambse/model/common/element.py
  capellambse/model/diagram.py
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

test_reqif: Simplify test atom
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain

reqif: Add default names to AttributeValues repr
  capellambse/extensions/reqif/elements.py
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain

test_reqif: Extract reqtype uuid
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain

test_reqif: Add test for attribute filtering
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain

test: Fix ReqIF extension load test
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain

reqif: Refactor split-rejoin
  capellambse/extensions/reqif/elements.py
Owners: @DSD-DBS/se-toolchain

test_reqif: Split testcase
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain

test_reqif: Add missing test params
  capellambse/extensions/reqif/elements.py
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain

fix(xmltools): Fix `_qualname` property of AttributeProperty
  capellambse/loader/xmltools.py
Owners: @Wuestengecko

fix(xmltools): Simplify and fix retrieval of `HTMLAttributeProperty`s
  capellambse/loader/xmltools.py
Owners: @Wuestengecko

fix(model): Fix the `description` of `Diagram`s
  capellambse/model/diagram.py
Owners: @Wuestengecko

test: Add tests for model.Diagram attributes
  tests/test_model_layers.py
Owners: @DSD-DBS/se-toolchain

feat(reqif): Add RequirementTypesFolder accessor to RequirementsModule
  capellambse/extensions/reqif/elements.py
Owners: @DSD-DBS/se-toolchain

refactor(model): Split up the `ProxyAccessor`
  capellambse/extensions/reqif/elements.py
  capellambse/model/__init__.py
  capellambse/model/common/__init__.py
  capellambse/model/common/accessors.py
  capellambse/model/crosslayer/__init__.py
  capellambse/model/crosslayer/capellacommon.py
  capellambse/model/crosslayer/capellacore.py
  capellambse/model/crosslayer/cs.py
  capellambse/model/crosslayer/fa.py
  capellambse/model/crosslayer/information/__init__.py
  capellambse/model/crosslayer/information/datatype.py
  capellambse/model/crosslayer/information/datavalue.py
  capellambse/model/layers/ctx.py
  capellambse/model/layers/la.py
  capellambse/model/layers/oa.py
  capellambse/model/layers/pa.py
  tests/test_xlayer_cs.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

fix(model): Follow established conventions in `__init__`
  capellambse/model/common/accessors.py
Owners: @Wuestengecko

feat: Improve convenience of creation API
  capellambse/extensions/reqif/elements.py
  capellambse/model/common/accessors.py
  capellambse/model/common/element.py
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

fix(tests): Add type annotations and please pylint
  tests/test_model_creation_deletion.py
Owners: @DSD-DBS/se-toolchain

fix(model): Fix passing list of GenericElements during creation
  capellambse/model/common/element.py
  tests/test_reqif.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

feat: Migrate WriteTestModel to Capella 5.2 LTS version.
  tests/data/writemodel/WriteTestModel.afm
  tests/data/writemodel/WriteTestModel.aird
  tests/data/writemodel/WriteTestModel.capella
Owners: @DSD-DBS/se-toolchain

fix: EnumAttributeProperty's __set__
  capellambse/loader/xmltools.py
Owners: @Wuestengecko

fix: Deletion of elements from all_* lookups.
  capellambse/model/common/accessors.py
  tests/test_model_creation_deletion.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

fix(layers): Fix passed Class and rename attribute
  capellambse/model/layers/pa.py
Owners: @Wuestengecko

feat(accessors): Allow create/delete of elements with rootelements
  capellambse/model/common/accessors.py
  capellambse/model/common/element.py
  capellambse/model/crosslayer/information/__init__.py
  tests/test_model_creation_deletion.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

[WIP] feat: Refactor GenericElement construction and add creation from mapping
  capellambse/model/common/element.py
  tests/test_model_creation_deletion.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

test: Add a diagram description
  tests/data/melodymodel/5_0/Melody Model Test.aird
  tests/data/melodymodel/5_2/Melody Model Test.aird
Owners: @DSD-DBS/se-toolchain

fix: EnumAttributeProperty's `__set__`
  capellambse/loader/xmltools.py
Owners: @Wuestengecko

fix(layers): Fix passed Class and rename attribute
  capellambse/model/layers/pa.py
Owners: @Wuestengecko

fix(tests): Remove obsolete import and pylint disable comment
  tests/test_model_creation_deletion.py
Owners: @DSD-DBS/se-toolchain

fix(tests): Simplify EnumValue creation test
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain

fix: Apply requested changes from review.
  capellambse/model/common/accessors.py
  capellambse/model/common/element.py
Owners: @Wuestengecko

fix: Move `__all__` before imports regarding PEP8 and consistency
  capellambse/model/common/accessors.py
Owners: @Wuestengecko

refactor: Simplify initialization from iterable.
  capellambse/model/common/element.py
  tests/test_reqif.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

fix: Remove obsolete "singleattr" from slots
  capellambse/extensions/reqif/elements.py
Owners: @DSD-DBS/se-toolchain

.github/CODEOWNERS:

*	@DSD-DBS/se-toolchain

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko

/capellambse/svg/	@ewuerger
