Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Wuestengecko, @vik378, @ewuerger

.github/CODEOWNERS:

# SPDX-FileCopyrightText: Copyright DB Netz AG and the capellambse contributors
# SPDX-License-Identifier: CC0-1.0

*	@Wuestengecko @vik378

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko
/capellambse/repl.py	@Wuestengecko

/capellambse/svg/	@ewuerger

# vim:set ts=32 sw=0 noet:

feat(model): Implement dict-like setting of values
  capellambse/model/common/accessors.py
  capellambse/model/common/element.py
  docs/source/examples/08 Property Values.ipynb
  tests/test_model_layers.py
Owners: @Wuestengecko, @vik378

feat(decl): Add `!find` parent selector
  capellambse/decl.py
  docs/source/start/declarative.rst
  tests/test_decl.py
Owners: @Wuestengecko, @vik378

fix(model): Add namespaces when creating elements
  capellambse/loader/core.py
  capellambse/model/common/element.py
  tests/data/writemodel/WriteTestModel.afm
  tests/data/writemodel/WriteTestModel.aird
  tests/data/writemodel/WriteTestModel.capella
  tests/test_model_creation_deletion.py
Owners: @Wuestengecko, @vik378

fix(model): Make `model.info` read-only
  capellambse/model/__init__.py
Owners: @Wuestengecko

refactor(loader): Deprecate ModelFile.tree
  capellambse/loader/core.py
  capellambse/loader/exs.py
Owners: @Wuestengecko

feat(loader): Read Capella version from referenced viewpoints
  capellambse/loader/core.py
  capellambse/loader/modelinfo.py
  tests/test_model_loading.py
Owners: @Wuestengecko, @vik378

feat(filehandler): Add a Gitlab artifact file handler
  capellambse/filehandler/gitlab_artifacts.py
  pyproject.toml
Owners: @Wuestengecko, @vik378

ci: Fix inconsistent mypy check results
  .pre-commit-config.yaml
  tests/test_cli_helpers.py
  tests/test_decl.py
  tests/test_model_layers.py
  tests/test_model_loading.py
Owners: @Wuestengecko, @vik378

ci: Add pre-commit hook for pylint
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  capellambse/aird/_common.py
  capellambse/extensions/reqif/elements.py
  capellambse/loader/xmltools.py
  capellambse/pvmt/core.py
  tests/test_cli_helpers.py
  tests/test_decl.py
  tests/test_model_layers.py
  tests/test_model_loading.py
Owners: @Wuestengecko, @vik378

fix(loader): Don't return Nones from `follow_links`
  capellambse/aird/_filters/global.py
  capellambse/loader/core.py
Owners: @Wuestengecko, @vik378

fix(model): Tell mypy about arbitrary `MelodyModel` attributes
  capellambse/model/__init__.py
Owners: @Wuestengecko

refactor(model): Stop using `CustomAccessor`
  capellambse/model/common/accessors.py
  capellambse/model/crosslayer/cs.py
  capellambse/model/crosslayer/fa.py
  capellambse/model/crosslayer/information/__init__.py
  capellambse/model/layers/ctx.py
  capellambse/model/layers/la.py
  capellambse/model/layers/oa.py
  capellambse/model/layers/pa.py
Owners: @Wuestengecko

docs(diagram): Fix autodocs about `capellambse.diagram`
  capellambse/diagram/__init__.py
  capellambse/diagram/_styleclass.py
Owners: @Wuestengecko, @vik378

feat(model): Extend exports at `capellambse.model`
  capellambse/model/__init__.py
Owners: @Wuestengecko

refactor(diagram): Fix typing issues and optimize imports
  capellambse/diagram/_styleclass.py
Owners: @Wuestengecko, @vik378

ci: Update to mypy v1.0.0
  .pre-commit-config.yaml
  capellambse/diagram/_vector2d.py
  capellambse/model/__init__.py
  capellambse/model/common/__init__.py
  capellambse/model/common/accessors.py
  capellambse/model/common/element.py
  tests/static_assertions.py
Owners: @Wuestengecko, @vik378

fix(model): Fix stacking of subdirs in `diagram_cache`
  capellambse/model/__init__.py
Owners: @Wuestengecko

feat: Add Gitlab CI template for model complexity badge
  ci-templates/README.rst
  ci-templates/gitlab/README.rst
  ci-templates/gitlab/model-badge.yml
Owners: @Wuestengecko, @vik378

feat(loader): Support extended `.afm` format
  capellambse/loader/core.py
Owners: @Wuestengecko

refactor(model): Make `GenericElement.__getattr__` type-checking only
  capellambse/model/common/element.py
Owners: @Wuestengecko

fix: Fix message for errors in model extension loading
  capellambse/__init__.py
Owners: @Wuestengecko, @vik378

fix(model): Only warn when accessing values of deprecated attributes
  capellambse/model/common/accessors.py
Owners: @Wuestengecko

feat(model): Add function that searches for all references to an object
  capellambse/model/__init__.py
  tests/test_model_layers.py
Owners: @Wuestengecko, @vik378

feat(glart): Add more debug logging
  capellambse/filehandler/gitlab_artifacts.py
Owners: @Wuestengecko, @vik378

update ExchangeItemElement class
  capellambse/model/crosslayer/information/__init__.py
Owners: @Wuestengecko

fix(glart): Treat 404 as file not found
  capellambse/filehandler/gitlab_artifacts.py
Owners: @Wuestengecko, @vik378

feat(glart): Allow passing tokens with Gitlab CI "File" variables
  capellambse/filehandler/gitlab_artifacts.py
Owners: @Wuestengecko, @vik378

feat: Add `min_card` and `max_card` to `ExchangeItemElement`
  capellambse/model/crosslayer/information/__init__.py
Owners: @Wuestengecko

feat: Implement basic support for the Filtering extension
  capellambse/extensions/filtering.py
  pyproject.toml
  tests/data/filtering/.project
  tests/data/filtering/.project.license
  tests/data/filtering/Filtered Project.afm
  tests/data/filtering/Filtered Project.afm.license
  tests/data/filtering/Filtered Project.aird
  tests/data/filtering/Filtered Project.aird.license
  tests/data/filtering/Filtered Project.capella
  tests/data/filtering/Filtered Project.capella.license
Owners: @Wuestengecko, @vik378

fix(model): Ensure `__doc__` is set on Accessor instances
  capellambse/model/common/accessors.py
Owners: @Wuestengecko

fix(model): Purge dangling references when deleting objects
  capellambse/extensions/reqif/_capellareq.py
  capellambse/model/common/accessors.py
  docs/source/start/audit-events.rst
  tests/test_auditing.py
  tests/test_model_creation_deletion.py
Owners: @Wuestengecko, @vik378

fix(loader): Fix 'ignore_broken' in follow_links
  capellambse/loader/core.py
Owners: @Wuestengecko

feat(model): Enable placing back-references in LinkAccessor elements
  capellambse/model/common/accessors.py
Owners: @Wuestengecko

feat(model): Enable creating new Exchange allocations on PhysicalLink
  capellambse/model/crosslayer/cs.py
Owners: @Wuestengecko

fix(decl): Fix 'promise_id' being lost sometimes
  capellambse/decl.py
  tests/test_decl.py
Owners: @Wuestengecko, @vik378

test: Prevent accidental modifications of the session_shared_model
  tests/conftest.py
Owners: @Wuestengecko, @vik378

fix(filehandler): Recognize SCP-style URLs with empty or absolute path
  capellambse/filehandler/__init__.py
  tests/test_model_loading.py
Owners: @Wuestengecko, @vik378

fix(diagram_cache): Fix exports of diagram images
  capellambse/_diagram_cache.py
  capellambse/loader/core.py
Owners: @Wuestengecko, @vik378

fix(svg): Draw symbols and circles lastly
  capellambse/svg/generate.py
Owners: @ewuerger

fix(model): Ignore `@xtype_handler` in `__main__` module
  capellambse/model/common/__init__.py
Owners: @Wuestengecko
