Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DSD-DBS/se-toolchain, @Wuestengecko, @ewuerger

Update code style
  capellambse/aird/diagram.py
  capellambse/aird/parser/_common.py
  capellambse/aird/vector2d.py
  capellambse/extensions/reqif.py
  capellambse/helpers.py
  capellambse/loader/core.py
  capellambse/loader/xmltools.py
  capellambse/model/common/accessors.py
  capellambse/model/crosslayer/capellacommon.py
  capellambse/svg/drawing.py
  capellambse/svg/symbols.py
  mypy.ini
  tests/test_svg.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko, @ewuerger

mypy: Ignore missing stubs for `cssutils`
  mypy.ini
Owners: @DSD-DBS/se-toolchain

reqif: Add `.value` convenience access to single-valued enums
  capellambse/extensions/reqif.py
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain

model: Add ability for ElementLists to act as mappings
  capellambse/model/common/element.py
Owners: @Wuestengecko

model: Make certain ElementLists act as mappings
  capellambse/extensions/reqif.py
  capellambse/model/common/accessors.py
  capellambse/model/common/element.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

reqif: Make EnumValues behave like their `long_name`
  capellambse/extensions/reqif.py
Owners: @DSD-DBS/se-toolchain

model: Fix a crash when slicing `CachedElementList`s
  capellambse/model/common/element.py
Owners: @Wuestengecko

Remove support for `bytes` paths
  capellambse/loader/core.py
  capellambse/loader/filehandler/__init__.py
  capellambse/loader/filehandler/gitfilehandler.py
  capellambse/loader/filehandler/http.py
  capellambse/loader/filehandler/localfilehandler.py
  capellambse/model/__init__.py
  tests/test_model_loading.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

filehandler: Change how plain local paths are detected
  capellambse/loader/filehandler/__init__.py
Owners: @Wuestengecko

localfilehandler: Fix transactional writing on Windows
  capellambse/loader/filehandler/localfilehandler.py
Owners: @Wuestengecko

gitfilehandler: Fix local cache dir path resolution on Windows
  capellambse/loader/filehandler/gitfilehandler.py
Owners: @Wuestengecko

setup: Fix [build-system] TOML section
  pyproject.toml
Owners: @DSD-DBS/se-toolchain

loader: Simplify and fix `(Boolean)AttributeProperty`
  capellambse/loader/xmltools.py
Owners: @Wuestengecko

Change most `AttributeError`s to something more appropriate
  capellambse/aird/parser/_common.py
  capellambse/extensions/pvmt.py
  capellambse/loader/xmltools.py
  capellambse/model/__init__.py
  capellambse/model/common/accessors.py
  tests/test_model_layers.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

Use absolute links in README
  README.md
Owners: @DSD-DBS/se-toolchain

Break up getting started instructions
  README.md
Owners: @DSD-DBS/se-toolchain

Standardize layer definitions
  capellambse/model/layers/ctx.py
  capellambse/model/layers/oa.py
  capellambse/model/layers/pa.py
  tests/data/melodymodel/5_0/MelodyModelTest.aird
  tests/data/melodymodel/5_0/MelodyModelTest.capella
  tests/test_model_layers.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

Add `GenericElement.__setattr__()` and `.__getattr__()`
  capellambse/model/common/element.py
  capellambse/model/crosslayer/information.py
  capellambse/model/layers/ctx.py
  tests/test_model_layers.py
  tests/test_reqif.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

Small update to CONTRBTING
  CONTRIBUTING.md
Owners: @DSD-DBS/se-toolchain

aird: Only enumerate actual diagrams in `enumerate_diagrams()`
  capellambse/aird/parser/__init__.py
  capellambse/model/layers/ctx.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

Fix test cases for Windows
  tests/data/parser/TestItems.json
  tests/data/parser/TestItems.repr.txt
  tests/data/parser/TestItems.txt
  tests/test_aird_parser.py
Owners: @DSD-DBS/se-toolchain

tests: Fix one more missing EOL
  tests/data/parser/TestItems.repr.txt
Owners: @DSD-DBS/se-toolchain

Add PyPI publishing steps
  .github/workflows/build-test-publish.yml
Owners: @DSD-DBS/se-toolchain

Fix content type for long description
  setup.cfg
Owners: @DSD-DBS/se-toolchain

Provide proper name for publish job
  .github/workflows/build-test-publish.yml
Owners: @DSD-DBS/se-toolchain

Distribute with build and twine
  .github/workflows/build-test-publish.yml
Owners: @DSD-DBS/se-toolchain

Do installation step separately for publish
  .github/workflows/build-test-publish.yml
Owners: @DSD-DBS/se-toolchain

More explicit version tag
  .github/workflows/build-test-publish.yml
Owners: @DSD-DBS/se-toolchain

Fix reference to README
  setup.cfg
Owners: @DSD-DBS/se-toolchain

Also publish artifacts with the build results
  .github/workflows/build-test-publish.yml
  setup.cfg
Owners: @DSD-DBS/se-toolchain

Update docs: project name and copyright
  docs/source/conf.py
Owners: @DSD-DBS/se-toolchain

Remove docs/api-module
  docs/api-model/.project
  docs/api-model/.settings/stylesheets.xmi
  docs/api-model/Python-Capella-MBSE-API.di
  docs/api-model/Python-Capella-MBSE-API.notation
  docs/api-model/Python-Capella-MBSE-API.uml
  docs/api-model/model.profile.di
  docs/api-model/model.profile.notation
  docs/api-model/model.profile.uml
  docs/api-model/style.css
Owners: @DSD-DBS/se-toolchain

Add a bit of docs for the high-level API
  docs/source/api.rst
  docs/source/api/la.rst
  docs/source/api/model.rst
  docs/source/api/oa.rst
  docs/source/api/pa.rst
  docs/source/api/sa.rst
  docs/source/index.rst
Owners: @DSD-DBS/se-toolchain

Add diagram directive example to sphinx module docstring
  capellambse/sphinx.py
Owners: @DSD-DBS/se-toolchain

diagram example is a code block
  capellambse/sphinx.py
Owners: @DSD-DBS/se-toolchain

updated layout of OA ORM
  docs/capella-python-api/capella-python-api.aird
  docs/capella-python-api/capella-python-api.capella
Owners: @DSD-DBS/se-toolchain

model: Provide `name` and `uuid` of the model root on `MelodyModel`
  capellambse/model/__init__.py
Owners: @Wuestengecko

Simplify owner attribute & improve layer structure
  capellambse/model/layers/ctx.py
  capellambse/model/layers/la.py
  capellambse/model/layers/oa.py
  capellambse/model/layers/pa.py
Owners: @Wuestengecko

model: Add dict-like `keys()`, `items()`, `values()` to ElementList
  capellambse/model/common/element.py
Owners: @Wuestengecko

model: Add dict-like `get()` to ElementList
  capellambse/model/common/element.py
Owners: @Wuestengecko

.github/CODEOWNERS:

*	@DSD-DBS/se-toolchain

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko

/capellambse/svg/	@ewuerger
