Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DSD-DBS/se-toolchain, @Wuestengecko, @ewuerger

auditing: Remove complexity for treating recursion
  capellambse/auditing.py
Owners: @DSD-DBS/se-toolchain

Resolve last review change requests
  capellambse/auditing.py
  tests/test_auditing.py
Owners: @DSD-DBS/se-toolchain

_filters: Move remove logic to the right place
  capellambse/aird/parser/_filters/__init__.py
Owners: @DSD-DBS/se-toolchain

model.diagram: Resolve review change requests
  capellambse/model/diagram.py
Owners: @Wuestengecko

Resolve last review change requests
  capellambse/aird/parser/_filters/__init__.py
  capellambse/model/diagram.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

Resolve last review change requests
  capellambse/aird/parser/_filters/__init__.py
  capellambse/model/diagram.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

ci: Pin pylint to 2.13.9
  .github/workflows/lint.yml
Owners: @DSD-DBS/se-toolchain

ci: Pin pylint to 2.13.9
  .github/workflows/lint.yml
Owners: @DSD-DBS/se-toolchain

Fixes #92
  capellambse/model/crosslayer/fa.py
  capellambse/model/layers/oa.py
  tests/data/melodymodel/5_2/Melody Model Test.aird
  tests/data/melodymodel/5_2/Melody Model Test.capella
  tests/test_model_layers.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

fix(auditing): Fix typo
  capellambse/auditing.py
Owners: @DSD-DBS/se-toolchain

fa: Add UUIDs to FChainInvolvementLink names
  capellambse/model/crosslayer/fa.py
  tests/test_model_layers.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

tests/data: Update test model
  tests/data/melodymodel/5_2/Melody Model Test.capella
Owners: @DSD-DBS/se-toolchain

aird.parser: Remove unused logger in _filters
  capellambse/aird/parser/_filters/__init__.py
Owners: @DSD-DBS/se-toolchain

model.diagram: Resolve review change requests
  capellambse/model/diagram.py
Owners: @Wuestengecko

model.diagram: Remove unused attribute
  capellambse/model/diagram.py
Owners: @Wuestengecko

model.diagram: Refactor filters setter
  capellambse/model/diagram.py
Owners: @Wuestengecko

test_aird_filters: Don't rely on aird-UUIDs
  tests/test_aird_filters.py
Owners: @DSD-DBS/se-toolchain

helpers: Remove unused imports
  tests/test_helpers.py
Owners: @DSD-DBS/se-toolchain

Add whitespace before UUID
  capellambse/model/crosslayer/fa.py
  tests/test_model_layers.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

refactor(aird): Fully disable isort in `aird/__init__.py`
  capellambse/aird/__init__.py
Owners: @DSD-DBS/se-toolchain

Add FunctionalChainInvolvementFunction
  capellambse/model/crosslayer/fa.py
  tests/test_model_layers.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

crosslayers.capellacommon: Add trace attribute to GenericElement
  capellambse/model/crosslayer/capellacommon.py
  tests/data/melodymodel/5_2/Melody Model Test.capella
  tests/test_model_layers.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

crosslayers.fa: Fix docstring
  capellambse/model/crosslayer/fa.py
Owners: @Wuestengecko

Update tests/test_model_layers.py
  tests/test_model_layers.py
Owners: @DSD-DBS/se-toolchain

test_model_layers: Remove redundant docstring
  tests/test_model_layers.py
Owners: @DSD-DBS/se-toolchain

tests/data: Rename test classes
  tests/data/melodymodel/5_2/Melody Model Test.capella
Owners: @DSD-DBS/se-toolchain

model: Add Capability extends and includes attributes
  capellambse/model/crosslayer/interaction.py
  capellambse/model/layers/ctx.py
  capellambse/model/layers/oa.py
  tests/data/melodymodel/5_2/Melody Model Test.aird
  tests/test_model_layers.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

tests: Add test cases for Capability generalizations
  tests/test_model_layers.py
Owners: @DSD-DBS/se-toolchain

refactor(aird): Make "invalid diagram" errors more concise
  capellambse/aird/parser/__init__.py
Owners: @DSD-DBS/se-toolchain

refactor(git): Optimize default value
  capellambse/loader/filehandler/gitfilehandler.py
Owners: @Wuestengecko

svg.symbols: Reduce GeneralizationMark size
  capellambse/svg/symbols.py
Owners: @ewuerger

aird.capstyle: Add missing stroke defaults for [OCB]
  capellambse/aird/capstyle.py
Owners: @DSD-DBS/se-toolchain

ci: Fix errors on pylint 2.14+
  .github/workflows/lint.yml
  capellambse/aird/parser/_box_factories.py
  capellambse/loader/filehandler/__init__.py
  capellambse/loader/filehandler/http.py
  pyproject.toml
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

ci: Use latest pylint again
  .github/workflows/lint.yml
Owners: @DSD-DBS/se-toolchain

svg.drawing: Refactor label drawing
  capellambse/svg/drawing.py
Owners: @ewuerger

svg.drawing: Refactor _draw_label
  capellambse/svg/drawing.py
Owners: @ewuerger

svg.decorations: Add missing docstrings
  capellambse/svg/decorations.py
Owners: @ewuerger

svg.drawing: Refactor _draw_label
  capellambse/svg/drawing.py
Owners: @ewuerger

svg.generate: Add filename parameter to save_drawing
  capellambse/svg/generate.py
Owners: @ewuerger

model.diagram: Refactor filters attribute
  capellambse/model/diagram.py
Owners: @Wuestengecko

.github/CODEOWNERS:

*	@DSD-DBS/se-toolchain

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko

/capellambse/svg/	@ewuerger
