Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Wuestengecko, @vik378, @ewuerger

docs(readme): Add capella-polarion to Related Projects
  README.md
Owners: @Wuestengecko, @vik378

feat(pvmt): Rework the PVMT extension
  capellambse/extensions/pvmt.py
  capellambse/extensions/pvmt/__init__.py
  capellambse/extensions/pvmt/_config.py
  capellambse/extensions/pvmt/_objects.py
  capellambse/model/__init__.py
  capellambse/pvmt/__init__.py
  capellambse/pvmt/core.py
  capellambse/pvmt/exceptions.py
  capellambse/pvmt/model.py
  capellambse/pvmt/types.py
  capellambse/pvmt/validation.py
  docs/source/examples/08 Property Values.ipynb
  tests/data/pvmt/expected-output/apply.capella
  tests/test_model_creation_deletion.py
  tests/test_model_pvmt.py
  tests/test_pvmt.py
Owners: @Wuestengecko, @vik378

feat(model): Add `Enumeration.domain_type`
  capellambse/model/crosslayer/information/datatype.py
Owners: @Wuestengecko

build: Make "breaking changes" their own section in changelogs
  scripts/mkchangelog.py
Owners: @Wuestengecko, @vik378

fix: Remove unneeded type-checking imports
  capellambse/filehandler/abc.py
  capellambse/filehandler/memory.py
  capellambse/helpers.py
Owners: @Wuestengecko, @vik378

fix: Fix marker styling
  capellambse/diagram/capstyle.py
  capellambse/svg/drawing.py
  capellambse/svg/symbols.py
Owners: @Wuestengecko, @vik378, @ewuerger

fix(model): Remove bad attributes from EnumerationLiteral and -Reference
  capellambse/model/crosslayer/information/datavalue.py
Owners: @Wuestengecko

fix: Improve rendering for xAB diagrams
  capellambse/_diagram_cache.py
  capellambse/diagram/_icons.py
  capellambse/helpers.py
  capellambse/svg/drawing.py
  capellambse/svg/helpers.py
Owners: @Wuestengecko, @vik378, @ewuerger

fix: Remove NotFoundSymbol
  capellambse/diagram/_icons.py
  tests/test_svg.py
Owners: @Wuestengecko, @vik378

chore!: Clean out deprecated features
  capellambse/aird/__init__.py
  capellambse/aird/diagram.py
  capellambse/decl.py
  capellambse/loader/core.py
  capellambse/loader/filehandler.py
  capellambse/loader/xmltools.py
  capellambse/model/__init__.py
  capellambse/model/common/accessors.py
  capellambse/model/common/element.py
  capellambse/model/crosslayer/cs.py
  capellambse/model/crosslayer/fa.py
  capellambse/model/crosslayer/information/__init__.py
  capellambse/model/diagram.py
  capellambse/model/layers/la.py
  capellambse/model/layers/oa.py
  capellambse/model/layers/pa.py
  capellambse/model/modeltypes.py
  capellambse/svg/generate.py
Owners: @Wuestengecko, @vik378, @ewuerger

fix: Improve icon placement
  capellambse/helpers.py
  capellambse/svg/decorations.py
  capellambse/svg/drawing.py
  tests/test_svg.py
Owners: @Wuestengecko, @vik378, @ewuerger

refactor!: Disallow non-None 'arch' in `@xtype_handler`
  capellambse/extensions/reqif/_capellareq.py
  capellambse/extensions/reqif/_requirements.py
  capellambse/model/_descriptors.py
  capellambse/model/_obj.py
  capellambse/model/_xtype.py
Owners: @Wuestengecko, @vik378

refactor(metrics): Use metamodel classes instead of strings
  capellambse/extensions/metrics/collector.py
Owners: @Wuestengecko, @vik378

docs: Fix broken Github icon in footer
  docs/source/_static/img/github-logo.svg
  docs/source/conf.py
Owners: @Wuestengecko, @vik378

feat(model): Add `Enumeration.domain_type`
  capellambse/metamodel/information/datatype.py
Owners: @Wuestengecko, @vik378

fix(model): Remove bad attributes from EnumerationLiteral and -Reference
  capellambse/metamodel/information/datavalue.py
Owners: @Wuestengecko, @vik378

ci: Switch to official mypy pre-commit hook
  .pre-commit-config.yaml
Owners: @Wuestengecko, @vik378

docs: Add migration guide for v0.6
  docs/source/index.rst
  docs/source/start/migrating-0.6.rst
Owners: @Wuestengecko, @vik378

fix(model): Search the root Project in all primary fragments
  capellambse/model/_model.py
Owners: @Wuestengecko

docs: Add migration info for ReqIF extension
  docs/source/start/migrating-0.6.rst
Owners: @Wuestengecko, @vik378

fix(git): More strongly type the HandlerInfo
  capellambse/filehandler/abc.py
  capellambse/filehandler/git.py
Owners: @Wuestengecko, @vik378

fix(decl): Don't constrain `!new_object` type hints any more
  capellambse/decl.py
Owners: @Wuestengecko, @vik378

fix: Improve rendering for xAB diagrams
  capellambse/_diagram_cache.py
  capellambse/diagram/_icons.py
  capellambse/helpers.py
  capellambse/svg/decorations.py
  capellambse/svg/drawing.py
  capellambse/svg/helpers.py
  tests/test_svg.py
Owners: @Wuestengecko, @vik378, @ewuerger

build: Declare compatibility with Python 3.13
  pyproject.toml
Owners: @Wuestengecko, @vik378

fix(model): Disallow creating objects through DeepProxyAccessor
  capellambse/model/_descriptors.py
  tests/test_metamodel_cs.py
  tests/test_model_layers.py
Owners: @Wuestengecko, @vik378

fix(model): Strictly check RoleTagAccessor's classes
  capellambse/model/_descriptors.py
Owners: @Wuestengecko

docs: Fix broken link to build_xtype
  docs/source/start/migrating-0.6.rst
Owners: @Wuestengecko, @vik378

fix(metamodel): Fix annotation for AbstractRequirementsAttribute.value
  capellambse/extensions/reqif/_requirements.py
Owners: @Wuestengecko, @vik378

docs: Fix intersphinx inventory links
  docs/source/conf.py
Owners: @Wuestengecko, @vik378

fix: Fix positioning of "always top" labels
  capellambse/svg/drawing.py
Owners: @ewuerger

fix(model): Follow into fragments in RoleTagAccessor
  capellambse/model/_descriptors.py
Owners: @Wuestengecko

fix(model): Follow out of fragments during `search(below=...)`
  capellambse/model/_model.py
Owners: @Wuestengecko

feat(model): Make Accessor typevars covariant
  capellambse/model/__init__.py
  capellambse/model/_descriptors.py
Owners: @Wuestengecko

refactor: Rename GenericElement to ModelElement
  capellambse/decl.py
  capellambse/extensions/filtering.py
  capellambse/extensions/metrics/collector.py
  capellambse/extensions/pvmt/__init__.py
  capellambse/extensions/pvmt/_config.py
  capellambse/extensions/pvmt/_objects.py
  capellambse/extensions/reqif/_capellareq.py
  capellambse/extensions/reqif/_glue.py
  capellambse/extensions/reqif/_requirements.py
  capellambse/extensions/validation/__init__.py
  capellambse/extensions/validation/_validate.py
  capellambse/extensions/validation/rules.py
  capellambse/helpers.py
  capellambse/metamodel/__init__.py
  capellambse/metamodel/capellacommon.py
  capellambse/metamodel/capellacore.py
  capellambse/metamodel/capellamodeller.py
  capellambse/metamodel/cs.py
  capellambse/metamodel/fa.py
  capellambse/metamodel/information/__init__.py
  capellambse/metamodel/information/datatype.py
  capellambse/metamodel/information/datavalue.py
  capellambse/metamodel/interaction.py
  capellambse/metamodel/la.py
  capellambse/metamodel/modellingcore.py
  capellambse/metamodel/oa.py
  capellambse/metamodel/pa.py
  capellambse/metamodel/sa.py
  capellambse/model/__init__.py
  capellambse/model/_descriptors.py
  capellambse/model/_model.py
  capellambse/model/_obj.py
  capellambse/model/_styleclass.py
  capellambse/model/diagram.py
  docs/source/development/low-level-api.rst
  docs/source/examples/03 Data Values.ipynb
  tests/static_assertions.py
  tests/test_model_layers.py
  tests/test_reqif.py
Owners: @Wuestengecko, @vik378

fix: Initialize `_last_render_params` in Diagram.from_model
  capellambse/model/diagram.py
Owners: @Wuestengecko

fix: Use full converter chains in `Diagram._repr_mimebundle_`
  capellambse/model/diagram.py
Owners: @Wuestengecko

fix(model): Always go by 'xsi:type' for ParentAccessor
  capellambse/metamodel/information/__init__.py
  capellambse/metamodel/information/datavalue.py
  capellambse/model/_descriptors.py
Owners: @Wuestengecko, @vik378

fix(git): Always use worktree-local git hooks for remote repos
  capellambse/filehandler/git.py
  tests/test_model_loading.py
Owners: @Wuestengecko, @vik378

feat(model): Add required and provided interfaces to ComponentPort
  capellambse/model/crosslayer/fa.py
Owners: @Wuestengecko

feat(model): Add required and provided interfaces to ComponentPort
  capellambse/metamodel/fa.py
Owners: @Wuestengecko, @vik378

.github/CODEOWNERS:

# SPDX-FileCopyrightText: Copyright DB InfraGO AG
# SPDX-License-Identifier: CC0-1.0

*	@Wuestengecko @vik378

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko
/capellambse/repl.py	@Wuestengecko

/capellambse/svg/	@ewuerger

# vim:set ts=32 sw=0 noet:
