Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DSD-DBS/se-toolchain, @Wuestengecko, @ewuerger

test.test_model_layers: Resolve review change request
  tests/test_model_layers.py
Owners: @DSD-DBS/se-toolchain

model: Add Involvements and exploitations
  capellambse/model/crosslayer/fa.py
  capellambse/model/crosslayer/interaction.py
  capellambse/model/diagram.py
  capellambse/model/layers/ctx.py
  capellambse/model/layers/oa.py
Owners: @Wuestengecko

Add styling of [MCB] diagrams
  capellambse/aird/capstyle.py
  capellambse/svg/style.py
Owners: @DSD-DBS/se-toolchain, @ewuerger

feat(git): Keep local caches shallow
  capellambse/loader/filehandler/gitfilehandler.py
Owners: @Wuestengecko

feat(git): Make shallow-cloning optional
  capellambse/loader/filehandler/gitfilehandler.py
Owners: @Wuestengecko

fix(git): Eagerly resolve the `revision` with remote's help
  capellambse/loader/filehandler/gitfilehandler.py
Owners: @Wuestengecko

fix(git): Fix local cache creation
  capellambse/loader/filehandler/gitfilehandler.py
Owners: @Wuestengecko

fix(git): Avoid a git warning when initializing caches
  capellambse/loader/filehandler/gitfilehandler.py
Owners: @Wuestengecko

fix(git): Use the object name when preparing the worktree
  capellambse/loader/filehandler/gitfilehandler.py
Owners: @Wuestengecko

aird.capstyle: Add default styling for SystemActor and SystemHumanActor
  capellambse/aird/capstyle.py
Owners: @DSD-DBS/se-toolchain

svg.symbols: Fix OperationalCapability symbol
  capellambse/svg/symbols.py
Owners: @ewuerger

tests: Fix pylint trailing whitespace
  tests/test_model_layers.py
Owners: @DSD-DBS/se-toolchain

aird.capstyle: Add missing default style for MissionInvolvements
  capellambse/aird/capstyle.py
Owners: @DSD-DBS/se-toolchain

Resolve review change requests
  capellambse/model/crosslayer/fa.py
  capellambse/model/diagram.py
  capellambse/model/layers/ctx.py
  capellambse/model/layers/la.py
  capellambse/svg/decorations.py
  capellambse/svg/drawing.py
  capellambse/svg/generate.py
Owners: @Wuestengecko, @ewuerger

Update capellambse/model/layers/ctx.py
  capellambse/model/layers/ctx.py
Owners: @Wuestengecko

Update drawing.py
  capellambse/svg/drawing.py
Owners: @ewuerger

fix: Improve errors for roundtrip-unsafe values
  capellambse/loader/xmltools.py
Owners: @Wuestengecko

fix(svg): Fix missing space in docstring
  capellambse/svg/decorations.py
Owners: @ewuerger

aird.parser: Fix `show_name_and_exchangeitems_fex` trailing whitespace
  capellambse/aird/parser/_filters/global.py
Owners: @DSD-DBS/se-toolchain

Add PVMT intro notebook
  capellambse/extensions/pvmt.py
  capellambse/model/__init__.py
  examples/08 Introduction to PVMT.ipynb
  tests/data/melodymodel/5_2/Melody Model Test.aird
  tests/data/melodymodel/5_2/Melody Model Test.capella
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

docs: Update code style
  CONTRIBUTING.md
Owners: @DSD-DBS/se-toolchain

docs: Add more documentation to GitFileHandler
  capellambse/loader/filehandler/__init__.py
  capellambse/loader/filehandler/gitfilehandler.py
Owners: @Wuestengecko

Fix _short_repr_ of `ReqIFElement`s
  capellambse/extensions/reqif/elements.py
  capellambse/model/common/element.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

loader: Fix stderr decode handling
  capellambse/loader/filehandler/gitfilehandler.py
Owners: @Wuestengecko

reqif: Fix AttributeValue repr in ElementLists
  capellambse/extensions/reqif/elements.py
Owners: @DSD-DBS/se-toolchain

refactor: Implement `_repr_mimebundle_` on model Diagrams
  capellambse/model/diagram.py
Owners: @Wuestengecko

feat: Make `_repr_mimebundle_` more generic
  capellambse/model/diagram.py
Owners: @Wuestengecko

examples: Fix typo
  examples/08 Introduction to PVMT.ipynb
Owners: @DSD-DBS/se-toolchain

examples: Fix typo
  examples/08 Introduction to PVMT.ipynb
Owners: @DSD-DBS/se-toolchain

examples: Fix typo
  examples/08 Introduction to PVMT.ipynb
Owners: @DSD-DBS/se-toolchain

bug: added test case to reproduce issue #108
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain

feat: created example notebook for context diag
  examples/08 Context Diagrams.ipynb
Owners: @DSD-DBS/se-toolchain

doc: added some more context-diag examples
  examples/08 Context Diagrams.ipynb
Owners: @DSD-DBS/se-toolchain

doc: added jupyter hint for images to render
  examples/08 Context Diagrams.ipynb
Owners: @DSD-DBS/se-toolchain

doc: restart and run all to apply jupyter hint
  examples/08 Context Diagrams.ipynb
Owners: @DSD-DBS/se-toolchain

Solves #108: Fix default attribute setting
  capellambse/loader/xmltools.py
  capellambse/model/common/accessors.py
  tests/test_reqif.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

Remove hardcoupling of _short_repr_
  capellambse/extensions/reqif/elements.py
  capellambse/model/common/element.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

test_reqif: Add datetime without tzinfo parameter
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain

xmltools: Fix DatetimeAttributeProperty setter
  capellambse/loader/xmltools.py
Owners: @Wuestengecko

docs: Regenerate images in example notebooks [skip ci]
  examples/01 Introduction.ipynb
  examples/02 Intro to Physical Architecture API.ipynb
  examples/03 Data Values.ipynb
  examples/04 Intro to Jinja templating.ipynb
  examples/05 Introduction to Libraries.ipynb
  examples/06 Introduction to Requirement access and management.ipynb
  examples/07 Code Generation.ipynb
Owners: @DSD-DBS/se-toolchain

.github/CODEOWNERS:

*	@DSD-DBS/se-toolchain

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko

/capellambse/svg/	@ewuerger
