Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Wuestengecko, @vik378, @ewuerger

feat: Add support for embedded images
  capellambse/extensions/pvmt/_config.py
  capellambse/model/_pods.py
Owners: @Wuestengecko, @vik378

feat(ci-templates): Use virtual environment
  ci-templates/gitlab/filter-derive.yml
Owners: @Wuestengecko, @vik378

refactor(validation): Use `element.layer` instead of a custom function
  capellambse/extensions/validation/rules.py
Owners: @Wuestengecko, @vik378

fix(validation): Ignore Rule-006 entirely on non-PA layers
  capellambse/extensions/validation/rules.py
Owners: @Wuestengecko, @vik378

fix(loader): Ignore unknown file types when loading a model
  capellambse/loader/core.py
Owners: @Wuestengecko

feat(metamodel): Add pre-/postcondition to FunctionalChain
  capellambse/metamodel/fa.py
  tests/data/melodymodel/5_0/Melody Model Test.capella
  tests/test_model_layers.py
Owners: @Wuestengecko, @vik378

feat(metamodel): Add 'related_functions' on Scenario
  capellambse/metamodel/fa.py
  capellambse/metamodel/interaction.py
  tests/conftest.py
  tests/data/melodymodel/6_0/Melody Model Test.aird
  tests/data/melodymodel/6_0/Melody Model Test.capella
  tests/test_model_layers.py
Owners: @Wuestengecko, @vik378

feat(metamodel): Add ExchangeItemInstance support
  capellambse/metamodel/information/__init__.py
Owners: @Wuestengecko, @vik378

fix: Parse 'hlink://' URIs as proper URIs
  capellambse/helpers.py
Owners: @Wuestengecko, @vik378

fix(decl): Don't warn about missing metadata in non-strict mode
  capellambse/decl.py
  tests/test_decl.py
Owners: @Wuestengecko, @vik378

docs: Update and rerun example notebooks
  docs/source/examples/01 Introduction.ipynb
  docs/source/examples/02 Intro to Physical Architecture API.ipynb
  docs/source/examples/03 Data Values.ipynb
  docs/source/examples/04 Intro to Jinja templating.ipynb
  docs/source/examples/05 Introduction to Libraries.ipynb
  docs/source/examples/06 Introduction to Requirement access and management.ipynb
  docs/source/examples/07 Code Generation.ipynb
  docs/source/examples/08 Property Values.ipynb
  docs/source/examples/09 Context Diagrams.ipynb
  docs/source/examples/10 Declarative Modeling.ipynb
  docs/source/examples/11 Complexity Assessment.ipynb
Owners: @Wuestengecko, @vik378

docs: Gitignore files produced by the example notebooks
  docs/source/examples/.gitignore
Owners: @Wuestengecko, @vik378

ci: Move docs build job to general code QA workflow
  .github/workflows/code-qa.yml
  .github/workflows/docs.yml
Owners: @Wuestengecko, @vik378

ci: Run the example notebooks during CI
  .github/workflows/code-qa.yml
Owners: @Wuestengecko, @vik378

refactor: Rename basic Accessors to make their roles clearer
  capellambse/extensions/filtering.py
  capellambse/extensions/pvmt/_config.py
  capellambse/extensions/reqif/_capellareq.py
  capellambse/extensions/reqif/_requirements.py
  capellambse/metamodel/__init__.py
  capellambse/metamodel/capellacommon.py
  capellambse/metamodel/capellacore.py
  capellambse/metamodel/capellamodeller.py
  capellambse/metamodel/cs.py
  capellambse/metamodel/fa.py
  capellambse/metamodel/information/__init__.py
  capellambse/metamodel/information/datatype.py
  capellambse/metamodel/information/datavalue.py
  capellambse/metamodel/interaction.py
  capellambse/metamodel/la.py
  capellambse/metamodel/modellingcore.py
  capellambse/metamodel/oa.py
  capellambse/metamodel/pa.py
  capellambse/metamodel/sa.py
  capellambse/model/__init__.py
  capellambse/model/_descriptors.py
  capellambse/model/_model.py
  capellambse/model/_obj.py
  tests/test_model_creation_deletion.py
Owners: @Wuestengecko, @vik378

fix(metamodel): Allow multiple FEX categories
  capellambse/metamodel/fa.py
Owners: @Wuestengecko, @vik378

fix(svg): Support small labels
  capellambse/svg/helpers.py
Owners: @ewuerger

refactor: Deprecate old, now-unused functions
  capellambse/loader/core.py
  capellambse/model/__init__.py
  capellambse/model/_descriptors.py
  capellambse/model/_obj.py
Owners: @Wuestengecko

feat: Migrate and extend metamodel to namespace discovery
  capellambse/extensions/reqif/_requirements.py
  capellambse/metamodel/__init__.py
  capellambse/metamodel/activity.py
  capellambse/metamodel/behavior.py
  capellambse/metamodel/capellacommon.py
  capellambse/metamodel/capellacore.py
  capellambse/metamodel/capellamodeller.py
  capellambse/metamodel/cs.py
  capellambse/metamodel/epbs.py
  capellambse/metamodel/fa.py
  capellambse/metamodel/information/__init__.py
  capellambse/metamodel/information/communication.py
  capellambse/metamodel/information/datatype.py
  capellambse/metamodel/information/datavalue.py
  capellambse/metamodel/interaction.py
  capellambse/metamodel/la.py
  capellambse/metamodel/libraries.py
  capellambse/metamodel/modellingcore.py
  capellambse/metamodel/modeltypes.py
  capellambse/metamodel/namespaces.py
  capellambse/metamodel/oa.py
  capellambse/metamodel/pa.py
  capellambse/metamodel/re.py
  capellambse/metamodel/sa.py
  capellambse/metamodel/sharedmodel.py
  capellambse/model/_descriptors.py
  capellambse/model/_obj.py
  pyproject.toml
Owners: @Wuestengecko, @vik378

ci: Run remaining example notebooks on failure
  .github/workflows/code-qa.yml
Owners: @Wuestengecko, @vik378

build: Add a more complete ecore parsing script
  scripts/ecore2py.py
  scripts/generate_enums.py
Owners: @Wuestengecko, @vik378

chore: Update pre-commit hooks
  .pre-commit-config.yaml
  pyproject.toml
Owners: @Wuestengecko, @vik378

fix(exs): Don't convert tabs to entities outside of attributes
  capellambse/loader/exs.py
Owners: @Wuestengecko

feat: Add an envvar to generate deterministic UUIDs
  capellambse/loader/core.py
  docs/source/start/envvars.rst
  tests/data/pvmt/expected-output/apply.capella
  tests/test_model_pvmt.py
Owners: @Wuestengecko, @vik378

feat(mm): Add Scenario realization links
  capellambse/metamodel/interaction.py
Owners: @Wuestengecko, @vik378

style: Fix HTML repr styling
  capellambse/model/_obj.py
Owners: @Wuestengecko

chore: Update pre-commit hooks
  .pre-commit-config.yaml
  pyproject.toml
Owners: @Wuestengecko, @vik378

fix(exs): Don't convert tabs to entities outside of attributes
  capellambse/loader/exs.py
Owners: @Wuestengecko

feat: Add an envvar to generate deterministic UUIDs
  capellambse/loader/core.py
  docs/source/start/envvars.rst
  tests/data/pvmt/expected-output/apply.capella
  tests/test_model_pvmt.py
Owners: @Wuestengecko, @vik378

build: Add a more complete ecore parsing script
  scripts/ecore2py.py
  scripts/generate_enums.py
Owners: @Wuestengecko, @vik378

feat: Migrate and extend metamodel to namespace discovery
  capellambse/extensions/reqif/_requirements.py
  capellambse/metamodel/__init__.py
  capellambse/metamodel/activity.py
  capellambse/metamodel/behavior.py
  capellambse/metamodel/capellacommon.py
  capellambse/metamodel/capellacore.py
  capellambse/metamodel/capellamodeller.py
  capellambse/metamodel/cs.py
  capellambse/metamodel/epbs.py
  capellambse/metamodel/fa.py
  capellambse/metamodel/information/__init__.py
  capellambse/metamodel/information/communication.py
  capellambse/metamodel/information/datatype.py
  capellambse/metamodel/information/datavalue.py
  capellambse/metamodel/interaction.py
  capellambse/metamodel/la.py
  capellambse/metamodel/libraries.py
  capellambse/metamodel/modellingcore.py
  capellambse/metamodel/modeltypes.py
  capellambse/metamodel/namespaces.py
  capellambse/metamodel/oa.py
  capellambse/metamodel/pa.py
  capellambse/metamodel/re.py
  capellambse/metamodel/sa.py
  capellambse/metamodel/sharedmodel.py
  capellambse/model/_descriptors.py
  capellambse/model/_obj.py
  pyproject.toml
Owners: @Wuestengecko, @vik378

refactor: Deprecate old, now-unused functions
  capellambse/loader/core.py
  capellambse/model/__init__.py
  capellambse/model/_descriptors.py
  capellambse/model/_obj.py
Owners: @Wuestengecko

chore: Update pre-commit hooks
  .pre-commit-config.yaml
  capellambse/aird/__init__.py
  capellambse/aird/_filters/__init__.py
  capellambse/decl.py
  capellambse/diagram/_diagram.py
  capellambse/diagram/_vector2d.py
  capellambse/diagram/capstyle.py
  capellambse/filehandler/abc.py
  capellambse/filehandler/git.py
  capellambse/filehandler/memory.py
  capellambse/model/_descriptors.py
  capellambse/model/_obj.py
  capellambse/model/_pods.py
  capellambse/model/diagram.py
  pyproject.toml
Owners: @Wuestengecko, @vik378

revert: Don't remove unneeded namespace declarations
  capellambse/loader/core.py
Owners: @Wuestengecko

fix(exs): Don't convert tabs to entities outside of attributes
  capellambse/loader/exs.py
Owners: @Wuestengecko

feat: Add an envvar to generate deterministic UUIDs
  capellambse/loader/core.py
  docs/source/start/envvars.rst
  tests/data/pvmt/expected-output/apply.capella
  tests/test_model_pvmt.py
Owners: @Wuestengecko, @vik378

fix(pvmt): Set type on applied EnumerationPropertyValue
  capellambse/extensions/pvmt/_config.py
  tests/test_model_pvmt.py
Owners: @Wuestengecko, @vik378

fix(pvmt): Fix access to types defined on a PVMT domain
  capellambse/extensions/pvmt/_config.py
Owners: @Wuestengecko, @vik378

feat: Add owned_features to Component
  capellambse/metamodel/cs.py
  docs/source/examples/01 Introduction.ipynb
  docs/source/examples/02 Intro to Physical Architecture API.ipynb
Owners: @Wuestengecko, @vik378

refactor: Put some newlines in `__html__()`
  capellambse/extensions/pvmt/_objects.py
  capellambse/model/_obj.py
  docs/source/examples/01 Introduction.ipynb
  docs/source/examples/02 Intro to Physical Architecture API.ipynb
  docs/source/examples/03 Data Values.ipynb
  docs/source/examples/05 Introduction to Libraries.ipynb
  docs/source/examples/06 Introduction to Requirement access and management.ipynb
  docs/source/examples/07 Code Generation.ipynb
  docs/source/examples/08 Property Values.ipynb
Owners: @Wuestengecko, @vik378

.github/CODEOWNERS:

# SPDX-FileCopyrightText: Copyright DB InfraGO AG
# SPDX-License-Identifier: CC0-1.0

*	@Wuestengecko @vik378

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko
/capellambse/repl.py	@Wuestengecko

/capellambse/svg/	@ewuerger

# vim:set ts=32 sw=0 noet:
