Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DSD-DBS/se-toolchain, @Wuestengecko, @ewuerger

.github/CODEOWNERS:

*	@DSD-DBS/se-toolchain

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko

/capellambse/svg/	@ewuerger

_namespaces: Add convenience dunder __str__
  capellambse/_namespaces.py
Owners: @DSD-DBS/se-toolchain

_filters: Add filter XML element add and remove
  capellambse/aird/parser/_filters/__init__.py
  capellambse/aird/parser/_filters/global.py
Owners: @DSD-DBS/se-toolchain

aird: Remove obsolete render parameter
  capellambse/aird/__init__.py
Owners: @DSD-DBS/se-toolchain

Add activated_filters and add/remove function
  capellambse/model/diagram.py
  tests/data/melodymodel/5_2/Melody Model Test.aird
  tests/test_aird_filters.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

fix(filehandler): Fix typing on `_git` method
  capellambse/loader/filehandler/gitfilehandler.py
Owners: @Wuestengecko

test_aird_filters: Fix weird pipeline error
  tests/test_aird_filters.py
Owners: @DSD-DBS/se-toolchain

docs(model): Add a hint about Github to `MelodyModel(jupyter_untrusted=...)`
  capellambse/model/__init__.py
Owners: @Wuestengecko

fix(model): Fix typing around Diagram format converters
  capellambse/model/diagram.py
Owners: @Wuestengecko

fix(model): Fix missing space in error message
  capellambse/model/diagram.py
Owners: @Wuestengecko

build: Restore order in setup.cfg
  setup.cfg
Owners: @DSD-DBS/se-toolchain

Do entry points loading in `__init__` of MelodyModel
  capellambse/__init__.py
  capellambse/model/__init__.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

fix(docs): Fix wrong version number in generated docs
  .github/workflows/docs.yml
Owners: @DSD-DBS/se-toolchain

loader: return infinity if value is equal to '*'
  capellambse/loader/xmltools.py
Owners: @Wuestengecko

feat(xmltools): Extend the NumericAttributeProperty docstring
  capellambse/loader/xmltools.py
Owners: @Wuestengecko

feat(xmltools): Optionally disallow floats in NumericAttributeProperty
  capellambse/loader/xmltools.py
  capellambse/model/crosslayer/information/datavalue.py
Owners: @Wuestengecko

svg: improve fine arrow marker
  capellambse/svg/symbols.py
Owners: @ewuerger

refactor: Rename SpecialAttributeProperty to NumericAttributeProperty
  capellambse/loader/xmltools.py
  capellambse/model/crosslayer/information/datavalue.py
Owners: @Wuestengecko

add AttributeProperty that handles special character
  capellambse/loader/xmltools.py
  capellambse/model/crosslayer/information/datavalue.py
Owners: @Wuestengecko

refactor: Improve super delegation in NumericAttributeProperty
  capellambse/loader/xmltools.py
Owners: @Wuestengecko

Rebuild diagram
  examples/06 Code Generation.ipynb
  tests/data/melodymodel/5_0/Melody Model Test.aird
  tests/data/melodymodel/5_0/Melody Model Test.capella
Owners: @DSD-DBS/se-toolchain

examples: add diagram and simplify functions
  examples/06 Code Generation.ipynb
Owners: @DSD-DBS/se-toolchain

examples: create a notebook showing how to generate automatically code from class diagrams
  examples/06 Code Generation.ipynb
  tests/data/melodymodel/5_0/Melody Model Test.aird
  tests/data/melodymodel/5_0/Melody Model Test.capella
Owners: @DSD-DBS/se-toolchain

feat(git): Complain if the user doesn't close files
  capellambse/loader/filehandler/gitfilehandler.py
Owners: @Wuestengecko

feat: Export the `FileHandler` class from top-level
  capellambse/__init__.py
Owners: @DSD-DBS/se-toolchain

helpers: Remove unused function
  capellambse/helpers.py
  tests/test_helpers.py
Owners: @DSD-DBS/se-toolchain

Add filters attribute correctly
  capellambse/aird/__init__.py
  capellambse/aird/diagram.py
  capellambse/aird/parser/__init__.py
  capellambse/aird/parser/_common.py
  capellambse/aird/parser/_filters/__init__.py
  capellambse/aird/parser/_filters/global.py
  capellambse/model/diagram.py
  tests/test_aird_filters.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

Fix test imports
  capellambse/model/diagram.py
  tests/test_aird_filters.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

Rename show ExchangeItems filter
  capellambse/aird/parser/_filters/global.py
Owners: @DSD-DBS/se-toolchain

_namespaces: Refactor __str__
  capellambse/_namespaces.py
Owners: @DSD-DBS/se-toolchain

_filters: Remove obsolete comment
  capellambse/aird/parser/_filters/global.py
Owners: @DSD-DBS/se-toolchain

aird: Fix import order
  capellambse/aird/__init__.py
Owners: @DSD-DBS/se-toolchain

Support python3.8
  capellambse/aird/parser/_filters/__init__.py
Owners: @DSD-DBS/se-toolchain

Fix with black
  capellambse/model/diagram.py
Owners: @Wuestengecko

Remove obsolete dunders and fix fresh rendering
  capellambse/aird/parser/_filters/__init__.py
  capellambse/model/diagram.py
  tests/test_aird_filters.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

feat(git): Create a worktree per model
  capellambse/loader/filehandler/gitfilehandler.py
Owners: @Wuestengecko

_filters: Resolve review changes
  capellambse/aird/parser/_filters/__init__.py
Owners: @DSD-DBS/se-toolchain

Remove unused imports
  capellambse/model/crosslayer/__init__.py
Owners: @Wuestengecko

Update tests/test_aird_filters.py
  tests/test_aird_filters.py
Owners: @DSD-DBS/se-toolchain

_filters: Refactor add in ActiveFilters
  capellambse/aird/parser/_filters/__init__.py
Owners: @DSD-DBS/se-toolchain

Rename global
  tests/test_aird_filters.py
Owners: @DSD-DBS/se-toolchain
