Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DSD-DBS/se-toolchain, @Wuestengecko, @ewuerger

generate: Fix type annotation
  capellambse/svg/generate.py
Owners: @ewuerger

Overall improvement
  tests/test_svg.py
Owners: @DSD-DBS/se-toolchain

svg: Add generic symbol style class solving
  capellambse/svg/decorations.py
  capellambse/svg/drawing.py
  capellambse/svg/style.py
  tests/test_svg.py
Owners: @ewuerger, @DSD-DBS/se-toolchain

decorations: Add OAct and PhysComp to always_top
  capellambse/svg/decorations.py
Owners: @ewuerger

Register PDFB and missing PAB styles
  capellambse/aird/capstyle.py
  tests/data/melodymodel/5_0/Melody Model Test.aird
  tests/data/melodymodel/5_0/Melody Model Test.capella
Owners: @DSD-DBS/se-toolchain

oa: Add inputs, outputs and exchanges to Ent/Acts
  capellambse/model/layers/oa.py
Owners: @Wuestengecko

fa: Rename attributes
  capellambse/model/crosslayer/fa.py
  capellambse/model/layers/oa.py
Owners: @Wuestengecko

Deprecate broken AttrProxyAccessor functionality
  capellambse/model/common/accessors.py
Owners: @Wuestengecko

model: Extend `build_xtype` with package name mapping
  capellambse/model/common/__init__.py
Owners: @Wuestengecko

model: Extend build_xtype
  capellambse/model/common/__init__.py
  capellambse/model/common/accessors.py
Owners: @Wuestengecko

model: Follow fragment links back in `ParentAccessor`
  capellambse/model/common/accessors.py
Owners: @Wuestengecko

model: Add `GenericElement.parent`
  capellambse/model/common/__init__.py
  capellambse/model/common/element.py
Owners: @Wuestengecko

model: Fix TypeError in ParentAccessor
  capellambse/model/common/accessors.py
Owners: @Wuestengecko

Improve stacktrace for FutureWarnings
  capellambse/model/crosslayer/fa.py
Owners: @Wuestengecko

model: Re-add lost `exchange_items` on `CommunicationMean`
  capellambse/model/layers/oa.py
Owners: @Wuestengecko

model: Avoid listing deprecated properties
  capellambse/model/crosslayer/fa.py
Owners: @Wuestengecko

Fix pylint warning
  capellambse/aird/vector2d.py
Owners: @DSD-DBS/se-toolchain

Add missing references and improve structure
  capellambse/model/layers/pa.py
  tests/test_model_layers.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

Add allocating_component_exchange attribute to FE
  capellambse/model/crosslayer/fa.py
  tests/data/melodymodel/5_0/Melody Model Test.aird
  tests/data/melodymodel/5_0/Melody Model Test.capella
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

cs: Add missing references on ComponentExchange
  capellambse/model/crosslayer/cs.py
Owners: @Wuestengecko

fa: Extend FunctionalExchange owner attribute
  capellambse/model/crosslayer/fa.py
Owners: @Wuestengecko

fa: Add ComponentExchange owner attribute
  capellambse/model/crosslayer/fa.py
  tests/data/melodymodel/5_0/Melody Model Test.aird
  tests/data/melodymodel/5_0/Melody Model Test.capella
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

fa: Add ComponentExchange owner attribute
  capellambse/model/crosslayer/fa.py
  tests/data/melodymodel/5_0/Melody Model Test.aird
  tests/data/melodymodel/5_0/Melody Model Test.capella
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

Make StringyEnum values hashable
  capellambse/model/modeltypes.py
Owners: @Wuestengecko

Add PhysicalFunctionSymbol and improve FncSymbol
  capellambse/svg/style.py
  capellambse/svg/symbols.py
Owners: @ewuerger

Rename test for consistency
  tests/test_model_layers.py
Owners: @DSD-DBS/se-toolchain

Remove write support for now
  capellambse/model/crosslayer/fa.py
Owners: @Wuestengecko

[WIP] Add tests for CompEx owner attribute
  tests/data/melodymodel/5_0/Melody Model Test.aird
  tests/data/melodymodel/5_0/Melody Model Test.capella
  tests/test_model_layers.py
Owners: @DSD-DBS/se-toolchain

Add attribute chain solving to ReferenceSearchingAccessor
  capellambse/model/common/accessors.py
  capellambse/model/crosslayer/cs.py
  capellambse/model/crosslayer/fa.py
  capellambse/model/layers/oa.py
Owners: @Wuestengecko

Add Interface Context
  tests/data/melodymodel/5_0/Melody Model Test.aird
  tests/data/melodymodel/5_0/Melody Model Test.capella
Owners: @DSD-DBS/se-toolchain

Add missing SAB stylings
  capellambse/aird/capstyle.py
Owners: @DSD-DBS/se-toolchain

Remove obsolete test
  tests/test_model_layers.py
Owners: @DSD-DBS/se-toolchain

Register missing Symbols in SAB diagrams
  capellambse/svg/style.py
Owners: @ewuerger

Remove duplicated exchanges
  capellambse/model/layers/oa.py
Owners: @Wuestengecko

aird: Add tests for vector snapping (and fix bugs)
  capellambse/aird/vector2d.py
  tests/test_aird_vector2d.py
Owners: @DSD-DBS/se-toolchain

Remove trailing underscore from function name
  capellambse/extensions/reqif.py
  capellambse/model/common/element.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

examples: Add ReqType mutation and creation
  examples/Introduction to Requirement access and management with ReqIF extension.ipynb
Owners: @DSD-DBS/se-toolchain

[WIP] _short_html_ if else dropping
  capellambse/model/common/element.py
Owners: @Wuestengecko

examples: Add Requirement excel export showcase
  examples/Introduction to Requirement access and management with ReqIF extension.ipynb
Owners: @DSD-DBS/se-toolchain

reqif: Split up `RequirementsAttribute`
  capellambse/extensions/reqif.py
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain

.github/CODEOWNERS:

*	@DSD-DBS/se-toolchain

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko

/capellambse/svg/	@ewuerger
