Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DSD-DBS/se-toolchain, @Wuestengecko, @ewuerger

Fix extensions
  capellambse/extensions/reqif.py
Owners: @DSD-DBS/se-toolchain

More typing fixes for diagram module
  capellambse/svg/drawing.py
Owners: @ewuerger

Fix typing issue when calling base class
  capellambse/pvmt/core.py
Owners: @DSD-DBS/se-toolchain

Silence pvmt typing errors
  capellambse/pvmt/model.py
  capellambse/pvmt/types.py
Owners: @DSD-DBS/se-toolchain

Only issues in drawing.py
  capellambse/svg/drawing.py
Owners: @ewuerger

More type fixes
  capellambse/model/common/accessors.py
  docs/source/conf.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

Fix the remaining typing errors
  .pre-commit-config.yaml
  capellambse/svg/generate.py
  capellambse/svg/style.py
  tests/test_pvmt.py
  tests/test_svg.py
Owners: @DSD-DBS/se-toolchain, @ewuerger

Add MyPy as pre-commit hook
  .pre-commit-config.yaml
Owners: @DSD-DBS/se-toolchain

Fix iterating elements lists for non-hashable types
  capellambse/model/common/element.py
  tests/test_model_loading.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

Run pre-commit instead of separate linter steps
  .github/workflows/lint.yml
Owners: @DSD-DBS/se-toolchain

Fix additional dependencies for mypy
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Owners: @DSD-DBS/se-toolchain

Fix really the latest type error
  capellambse/model/layers/pa.py
Owners: @Wuestengecko

Fix lint job name
  .github/workflows/lint.yml
Owners: @DSD-DBS/se-toolchain

Add job for generating docs
  .github/workflows/docs.yml
Owners: @DSD-DBS/se-toolchain

Add requirements file for docs
  docs/requirements.txt
Owners: @DSD-DBS/se-toolchain

First attempt at generating docs
  .github/workflows/docs.yml
Owners: @DSD-DBS/se-toolchain

I think this sets just enough permissions to push our changes
  .github/workflows/docs.yml
Owners: @DSD-DBS/se-toolchain

Install the project
  .github/workflows/docs.yml
Owners: @DSD-DBS/se-toolchain

Fix the branch checkout
  .github/workflows/docs.yml
Owners: @DSD-DBS/se-toolchain

Also getch gh-pages branch
  .github/workflows/docs.yml
Owners: @DSD-DBS/se-toolchain

Add sha, so we know where it's built from
  .github/workflows/docs.yml
Owners: @DSD-DBS/se-toolchain

Only commit if there are changes (working copy is dirty)
  .github/workflows/docs.yml
Owners: @DSD-DBS/se-toolchain

Only publish docs from master
  .github/workflows/docs.yml
Owners: @DSD-DBS/se-toolchain

Fix default value handling in getter and setter
  capellambse/extensions/reqif.py
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain

Extend search function
  capellambse/model/__init__.py
Owners: @Wuestengecko

model: Fix default `__str__` representation of specifications
  capellambse/model/common/accessors.py
Owners: @Wuestengecko

Remove branch and add revision in modelinfo
  capellambse/loader/filehandler/gitfilehandler.py
  capellambse/loader/filehandler/localfilehandler.py
  capellambse/loader/modelinfo.py
Owners: @Wuestengecko

loader: Create framework for supporting write transactions
  capellambse/loader/filehandler/__init__.py
  capellambse/loader/filehandler/gitfilehandler.py
  capellambse/loader/filehandler/localfilehandler.py
Owners: @Wuestengecko

model, loader: Use write transactions in `save()`
  capellambse/loader/core.py
  capellambse/model/__init__.py
Owners: @Wuestengecko

Add tests for Attribute setting and creation
  capellambse/extensions/reqif.py
  tests/data/melodymodel/5_0/MelodyModelTest.capella
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain

Fix creation and deletion of outgoing relations
  capellambse/extensions/reqif.py
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain

Merge attribute and data_type definitions
  capellambse/extensions/reqif.py
Owners: @DSD-DBS/se-toolchain

model: Accept `LinkedText` GUI label in specifications
  capellambse/model/common/accessors.py
Owners: @Wuestengecko

helpers: Fix `unescape_linked_text()` with cross-file links
  capellambse/helpers.py
Owners: @DSD-DBS/se-toolchain

model: Only interpret `capella:linkedText` as linked text
  capellambse/model/common/accessors.py
  tests/test_model_layers.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

model: Remove redundant `text` property on specifications
  capellambse/model/common/accessors.py
  tests/test_model_layers.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

model: Reverse specification LinkedText transformations in `__setitem__`
  capellambse/helpers.py
  capellambse/model/common/accessors.py
  tests/data/melodymodel/5_0/MelodyModelTest.capella
  tests/test_model_layers.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

Fix escaping of description html
  capellambse/helpers.py
Owners: @DSD-DBS/se-toolchain

Install linters and their deps with the `test` extra
  setup.cfg
Owners: @DSD-DBS/se-toolchain

model: Use `hlink://` format in LinkedText
  capellambse/helpers.py
  tests/test_model_layers.py
Owners: @DSD-DBS/se-toolchain

.github/CODEOWNERS:

*	@DSD-DBS/se-toolchain

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko

/capellambse/svg/	@ewuerger
