Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Wuestengecko, @vik378, @ewuerger

.github/CODEOWNERS:

# SPDX-FileCopyrightText: Copyright DB Netz AG and the capellambse contributors
# SPDX-License-Identifier: CC0-1.0

*	@Wuestengecko @vik378

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko
/capellambse/repl.py	@Wuestengecko

/capellambse/svg/	@ewuerger

# vim:set ts=32 sw=0 noet:

feat(declarative-modelling): Add modification from mapping
  capellambse/decl.py
  capellambse/extensions/reqif/elements.py
  capellambse/model/common/accessors.py
  tests/data/melodymodel/5_2/Melody Model Test.capella
  tests/test_decl.py
Owners: @Wuestengecko, @vik378

docs(decl): Document modification handling of mappings
  docs/source/start/declarative.rst
Owners: @Wuestengecko, @vik378

chore(test): Clean out unused Scenarios from test model
  tests/data/melodymodel/5_0/Melody Model Test.aird
  tests/data/melodymodel/5_0/Melody Model Test.capella
Owners: @Wuestengecko, @vik378

fix(model): Don't invent names for unnamed elements
  capellambse/model/common/element.py
Owners: @Wuestengecko

refactor(loader): Deprecate `find_by_xsi_type` in favor of `iterall_xt`
  capellambse/loader/core.py
Owners: @Wuestengecko

feat(model): Export GenericElement and ElementList on capellambse.model
  capellambse/model/__init__.py
Owners: @Wuestengecko

feat(model): Make `elemclass` optional in `ElementList`
  capellambse/model/common/element.py
Owners: @Wuestengecko

fix(model): Remove legacy `__str__` from ElementList
  capellambse/model/common/element.py
Owners: @Wuestengecko

docs: Document the "low-level" model API
  README.rst
  capellambse/loader/core.py
  docs/source/development/low-level-api.rst
  docs/source/index.rst
Owners: @Wuestengecko, @vik378

docs: Add LXML to intersphinx mapping
  docs/source/conf.py
Owners: @Wuestengecko, @vik378

fix: Fix `_short_html_` for broken RequirementRelations
  capellambse/model/common/element.py
  tests/data/melodymodel/5_2/Melody Model Test.capella
  tests/test_reqif.py
Owners: @Wuestengecko, @vik378

feat(model): Implement Scenario and related classes
  capellambse/model/crosslayer/cs.py
  capellambse/model/crosslayer/interaction.py
  capellambse/model/modeltypes.py
  tests/data/melodymodel/5_0/Melody Model Test.aird
  tests/data/melodymodel/5_0/Melody Model Test.capella
Owners: @Wuestengecko, @vik378

feat(reqif): Recognize `datetime` as alias for `DateValueAttribute`
  capellambse/extensions/reqif/elements.py
Owners: @Wuestengecko, @vik378

fix(reqif): Fix incorrect format for DateValueAttribute
  capellambse/extensions/reqif/elements.py
  capellambse/loader/xmltools.py
  tests/test_reqif.py
Owners: @Wuestengecko, @vik378

feat(model): Enable writing on more model elements
  capellambse/model/crosslayer/interaction.py
  capellambse/model/layers/ctx.py
  capellambse/model/layers/la.py
  capellambse/model/layers/oa.py
Owners: @Wuestengecko

feat(model): Enforce uniqueness on lists of links
  capellambse/model/__init__.py
  capellambse/model/common/accessors.py
  tests/test_model_layers.py
Owners: @Wuestengecko, @vik378

test: Call the right dunder-method in test
  tests/test_reqif.py
Owners: @Wuestengecko, @vik378

refactor: Restructure filehandler subpackage
  capellambse/__init__.py
  capellambse/cli_helpers.py
  capellambse/filehandler/__init__.py
  capellambse/filehandler/git.py
  capellambse/filehandler/git_askpass.py
  capellambse/filehandler/http.py
  capellambse/filehandler/local.py
  capellambse/loader/__init__.py
  capellambse/loader/core.py
  capellambse/loader/filehandler.py
  capellambse/model/__init__.py
  pyproject.toml
  tests/test_model_loading.py
Owners: @Wuestengecko, @vik378

refactor: Remove legacy cache directory migration
  capellambse/__init__.py
Owners: @Wuestengecko, @vik378

refactor: Restructure diagram related modules
  capellambse/aird/__init__.py
  capellambse/aird/_box_factories.py
  capellambse/aird/_common.py
  capellambse/aird/_edge_factories.py
  capellambse/aird/_filters/__init__.py
  capellambse/aird/_filters/composite.py
  capellambse/aird/_filters/global.py
  capellambse/aird/_semantic.py
  capellambse/aird/_styling.py
  capellambse/aird/_visual.py
  capellambse/aird/diagram.py
  capellambse/aird/parser/__init__.py
  capellambse/diagram/__init__.py
  capellambse/diagram/_diagram.py
  capellambse/diagram/_json_enc.py
  capellambse/diagram/_vector2d.py
  capellambse/diagram/capstyle.py
  capellambse/model/diagram.py
  capellambse/svg/drawing.py
  capellambse/svg/style.py
  tests/test_aird_filters.py
  tests/test_aird_parser.py
  tests/test_aird_vector2d.py
  tests/test_vector2d.py
Owners: @Wuestengecko, @vik378, @ewuerger

refactor: Fix bad type error about GenericElement.diagrams
  capellambse/model/common/element.py
  capellambse/model/layers/oa.py
  tests/test_model_layers.py
Owners: @Wuestengecko, @vik378

feat(diagram): Publish `StyleOverrides` type
  capellambse/diagram/_diagram.py
Owners: @Wuestengecko, @vik378

fix(model): Add missing `PhysicalPort.exchanges`
  capellambse/model/crosslayer/cs.py
Owners: @Wuestengecko

test(model): Fix naming of `cs` test cases
  tests/test_xlayer_cs.py
Owners: @Wuestengecko, @vik378

refactor(model): Untangle calls between Accessor and coupled ElementList
  capellambse/decl.py
  capellambse/model/common/accessors.py
Owners: @Wuestengecko, @vik378

fix(model): Fix class-level access to DeprecatedAccessor
  capellambse/model/common/accessors.py
Owners: @Wuestengecko

feat(model): Implement the special logic for `PhysicalLink.ends`
  capellambse/model/common/accessors.py
  capellambse/model/crosslayer/cs.py
  tests/test_xlayer_cs.py
Owners: @Wuestengecko, @vik378

Solved bug in ComponentExchange.exchange_items
  capellambse/model/crosslayer/fa.py
Owners: @Wuestengecko

fix(model): Solved bug in ComponentExchange.exchange_items
  capellambse/model/crosslayer/fa.py
Owners: @Wuestengecko

feat(repl): Accept a JSON string as model argument
  capellambse/repl.py
Owners: @Wuestengecko

fix(git): Don't silence errors during worktree creation
  capellambse/filehandler/git.py
Owners: @Wuestengecko, @vik378

refactor(git): Simplify log levels of subprocess calls
  capellambse/filehandler/git.py
Owners: @Wuestengecko, @vik378

fix(filehandler): Simplify PathLike handling in split_protocol
  capellambse/filehandler/__init__.py
Owners: @Wuestengecko, @vik378

refactor: Remove an unused import
  capellambse/model/crosslayer/information/__init__.py
Owners: @Wuestengecko

refactor: Remove unused xtype from globals
  capellambse/model/layers/oa.py
Owners: @Wuestengecko

feat(diagram): Added `get_style_class` function
  capellambse/diagram/__init__.py
  capellambse/diagram/_styleclass.py
  capellambse/model/crosslayer/_abstract.py
  capellambse/model/crosslayer/capellacommon.py
  capellambse/model/crosslayer/fa.py
  capellambse/model/crosslayer/information/__init__.py
  capellambse/model/modeltypes.py
Owners: @Wuestengecko, @vik378

refactor: Remove an unused import
  capellambse/model/crosslayer/information/__init__.py
Owners: @Wuestengecko

refactor: Remove unused xtype from globals
  capellambse/model/layers/oa.py
Owners: @Wuestengecko

feat(model): Add `ControlNode` to `fa` crosslayer
  capellambse/model/crosslayer/fa.py
  capellambse/model/modeltypes.py
  tests/test_model_layers.py
Owners: @Wuestengecko, @vik378

feat(model): Add `members` attribute to `information.Association`
  capellambse/model/crosslayer/information/__init__.py
Owners: @Wuestengecko
