Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DSD-DBS/se-toolchain, @Wuestengecko, @ewuerger

.github/CODEOWNERS:

*	@DSD-DBS/se-toolchain

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko

/capellambse/svg/	@ewuerger

Fix ControlNodeSymbols in svg exports
  capellambse/aird/parser/_edge_factories.py
  capellambse/svg/style.py
  capellambse/svg/symbols.py
Owners: @DSD-DBS/se-toolchain, @ewuerger

model: Refactor `create_role_tag_getter` as Accessor
  capellambse/model/common/accessors.py
  capellambse/model/crosslayer/information.py
Owners: @Wuestengecko

model: Use floats in LiteralNumericValue.value
  capellambse/model/crosslayer/information.py
  tests/test_xlayer_information.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

model: Improve coverage of ComplexValue related objects
  capellambse/model/crosslayer/information.py
Owners: @Wuestengecko

Improve and extend tests for new ontology
  tests/test_xlayer_information.py
Owners: @DSD-DBS/se-toolchain

Add FunctionalChainDescription support
  capellambse/aird/capstyle.py
  capellambse/aird/parser/_box_factories.py
  capellambse/aird/parser/_edge_factories.py
  capellambse/svg/style.py
  capellambse/svg/symbols.py
  tests/data/melodymodel/5_0/Melody Model Test.aird
  tests/data/melodymodel/5_0/Melody Model Test.capella
Owners: @DSD-DBS/se-toolchain, @ewuerger

fixed residual issues induced by merge of #45
  capellambse/model/common/element.py
  examples/02_Datavalues.ipynb
  examples/03 Data Values.ipynb
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

xmltools: Rework bad-value behavior of `EnumAttributeProperty`
  capellambse/loader/xmltools.py
  capellambse/model/layers/pa.py
  capellambse/model/modeltypes.py
  tests/test_model_layers.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

_box_factories: Striptags of Constraint labels
  capellambse/aird/parser/_box_factories.py
  tests/data/melodymodel/5_0/Melody Model Test.aird
  tests/data/melodymodel/5_0/Melody Model Test.capella
Owners: @DSD-DBS/se-toolchain

Implements missing link for #48
  capellambse/model/crosslayer/fa.py
  docs/capella-python-api/capella-python-api.aird
  docs/capella-python-api/capella-python-api.capella
  examples/01_Introduction.ipynb
  tests/data/melodymodel/5_0/Melody Model Test.capella
  tests/test_xlayer_fa.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

Implemented functionality for #49
  capellambse/model/crosslayer/cs.py
  capellambse/model/layers/pa.py
  docs/capella-python-api/capella-python-api.aird
  docs/capella-python-api/capella-python-api.capella
  tests/test_layers_pa.py
  tests/test_xlayer_cs.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

Improve structure and consistency
  capellambse/model/crosslayer/cs.py
  capellambse/model/crosslayer/fa.py
  capellambse/model/layers/pa.py
Owners: @Wuestengecko

Make tests for `PhysicalLink`/`PhysicalPath` stricter
  tests/test_xlayer_cs.py
Owners: @DSD-DBS/se-toolchain

model: Fix `@xtype_handler` of PhysicalPath
  capellambse/model/crosslayer/cs.py
Owners: @Wuestengecko

Remove "_" from filename
  examples/01 Introduction.ipynb
Owners: @DSD-DBS/se-toolchain

[WIP] Add notebook
  examples/04 Intro to Jinja templating.ipynb
Owners: @DSD-DBS/se-toolchain

Add content
  examples/04 Intro to Jinja templating.ipynb
Owners: @DSD-DBS/se-toolchain

Add 5.2 test model and loading test
  tests/conftest.py
  tests/data/melodymodel/5_2/.project
  tests/data/melodymodel/5_2/Melody Model Test.afm
  tests/data/melodymodel/5_2/Melody Model Test.aird
  tests/data/melodymodel/5_2/Melody Model Test.capella
  tests/test_model_layers.py
Owners: @DSD-DBS/se-toolchain

[Not Important] Changed for field-test
  tests/data/melodymodel/1_3/MelodyModelTest.[MSM] States of Functional Human Being.json
  tests/test_aird_parser.py
Owners: @DSD-DBS/se-toolchain

Moved pa tests to the test_model_layers tests
  tests/test_layers_pa.py
  tests/test_model_layers.py
Owners: @DSD-DBS/se-toolchain

test_aird_parser: Change msm parser test objective
  tests/test_aird_parser.py
Owners: @DSD-DBS/se-toolchain

Solves #34 - Add example for jinja templating
  examples/04 Intro to Jinja templating.ipynb
Owners: @DSD-DBS/se-toolchain

Add attributes for realizing and realized states
  capellambse/model/crosslayer/capellacommon.py
  tests/data/melodymodel/5_0/Melody Model Test.capella
  tests/test_xlayer_common.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

Fix region test
  tests/test_model_layers.py
Owners: @DSD-DBS/se-toolchain

Improve pylint messages
  capellambse/aird/parser/_edge_factories.py
  pyproject.toml
Owners: @DSD-DBS/se-toolchain

test: Minor readability enhancements
  tests/test_aird_parser.py
Owners: @DSD-DBS/se-toolchain

test: Don't test for conditions that can't happen anyways
  tests/test_aird_parser.py
Owners: @DSD-DBS/se-toolchain

test: Consistency in import statements
  tests/test_aird_parser.py
Owners: @DSD-DBS/se-toolchain

Extending the _repr_html_ appearance for ReqIF
  capellambse/extensions/reqif.py
  capellambse/model/common/element.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

model: Remove now-unused set of "pseudostates"
  capellambse/model/crosslayer/capellacommon.py
Owners: @Wuestengecko

Add introduction notebook to ReqIF extension
  examples/Introduction to Requirement access and management with ReqIF extension.ipynb
Owners: @DSD-DBS/se-toolchain

Remove cyclic-import from default pylint output
  pyproject.toml
Owners: @DSD-DBS/se-toolchain

layers: Generalize functions
  capellambse/model/crosslayer/fa.py
  capellambse/model/layers/ctx.py
  capellambse/model/layers/la.py
  capellambse/model/layers/oa.py
  capellambse/model/layers/pa.py
Owners: @Wuestengecko

crosslayer: Add missing port reference
  capellambse/model/crosslayer/cs.py
  capellambse/model/layers/la.py
Owners: @Wuestengecko

data: Add SAB
  tests/data/melodymodel/5_0/Melody Model Test.aird
  tests/data/melodymodel/5_0/Melody Model Test.capella
Owners: @DSD-DBS/se-toolchain

crosslayer: Add PhysicalPort reference to Comp
  capellambse/model/crosslayer/cs.py
  capellambse/model/layers/pa.py
  capellambse/svg/drawing.py
  tests/test_model_layers.py
Owners: @Wuestengecko, @ewuerger, @DSD-DBS/se-toolchain

aird: Rework and fix vector snapping
  capellambse/aird/diagram.py
  capellambse/aird/vector2d.py
Owners: @DSD-DBS/se-toolchain

capstyle: Register SAB styling
  capellambse/aird/capstyle.py
  tests/data/melodymodel/5_0/Melody Model Test.aird
  tests/data/melodymodel/5_0/Melody Model Test.capella
Owners: @DSD-DBS/se-toolchain

model: Factor out attribute equality testing of certain types
  capellambse/extensions/reqif.py
  capellambse/model/common/element.py
  capellambse/model/crosslayer/information.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

style: Register OAIB diagrams
  capellambse/aird/capstyle.py
  capellambse/svg/style.py
Owners: @DSD-DBS/se-toolchain, @ewuerger
