Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Wuestengecko, @vik378, @ewuerger

.github/CODEOWNERS:

# SPDX-FileCopyrightText: Copyright DB Netz AG and the capellambse contributors
# SPDX-License-Identifier: CC0-1.0

*	@Wuestengecko @vik378

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko
/capellambse/repl.py	@Wuestengecko

/capellambse/svg/	@ewuerger

# vim:set ts=32 sw=0 noet:

fix(diagram): Fix association styleclass
  capellambse/diagram/_styleclass.py
Owners: @Wuestengecko, @vik378

feat: Add missing attributes and default styling
  capellambse/diagram/_styleclass.py
Owners: @Wuestengecko, @vik378

fix(diagram): Fix association styleclass
  capellambse/diagram/_styleclass.py
Owners: @Wuestengecko, @vik378

fix: Fix false-positive error about missing symbols
  capellambse/svg/drawing.py
Owners: @ewuerger

feat(cli_helpers): Add a small CLI to dump info about known_models
  capellambse/cli_helpers.py
Owners: @Wuestengecko, @vik378

docs: Improve docs on how to specify models for CLIs
  capellambse/cli_helpers.py
  docs/source/conf.py
  docs/source/index.rst
  docs/source/start/specifying-models.rst
Owners: @Wuestengecko, @vik378

docs: Fix some broken links
  capellambse/model/__init__.py
Owners: @Wuestengecko

fix: Use the correct kind for Association
  capellambse/diagram/_styleclass.py
Owners: @Wuestengecko, @vik378

fix(svg): Feature text alignment
  capellambse/svg/drawing.py
  capellambse/svg/helpers.py
Owners: @ewuerger

docs: Add a "Related projects" section to README
  README.rst
Owners: @Wuestengecko, @vik378

fix(model): Fix definitions of PhysicalComponent nature and kind
  capellambse/model/layers/pa.py
  capellambse/model/modeltypes.py
  tests/test_model_layers.py
Owners: @Wuestengecko, @vik378

build: Update supported Python versions
  .github/workflows/code-qa.yml
  .github/workflows/docs.yml
  capellambse/__init__.py
  capellambse/filehandler/__init__.py
  capellambse/model/diagram.py
  pyproject.toml
  tests/test_model_loading.py
Owners: @Wuestengecko, @vik378

fix(model): Change `LiteralNumericValue.value` to a string field
  capellambse/model/crosslayer/information/datavalue.py
Owners: @Wuestengecko

ci: Switch to commitlint
  .commitlintrc.yml
  .pre-commit-config.yaml
  git-conventional-commits.json
  git-conventional-commits.json.license
Owners: @Wuestengecko, @vik378

test: Fix tests using wrong assumptions
  tests/test_auditing.py
  tests/test_model_layers.py
  tests/test_xlayer_information.py
Owners: @Wuestengecko, @vik378

chore: Update Python version in myBinder environment
  environment.yml
Owners: @Wuestengecko, @vik378
