Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DSD-DBS/se-toolchain, @Wuestengecko, @ewuerger

.github/CODEOWNERS:

*	@DSD-DBS/se-toolchain

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko

/capellambse/svg/	@ewuerger

Fix type checks for Version class
  capellambse/_namespaces.py
Owners: @DSD-DBS/se-toolchain

Fix (or silence) type errors in model.common.element
  capellambse/model/common/__init__.py
  capellambse/model/common/element.py
Owners: @Wuestengecko

Fix edgemarkers on CapabilityInvolvements in CC-Diagrams
  capellambse/aird/capstyle.py
Owners: @DSD-DBS/se-toolchain

aird: Fix Requirement text
  capellambse/aird/parser/_box_factories.py
Owners: @DSD-DBS/se-toolchain

Remove unused type-ignore statements
  capellambse/sphinx.py
Owners: @DSD-DBS/se-toolchain

Remove unneeded generic types
  capellambse/loader/xmltools.py
Owners: @Wuestengecko

Move TypeVar's in the module they're used
  capellambse/model/common/__init__.py
  capellambse/model/common/accessors.py
  capellambse/model/common/element.py
Owners: @Wuestengecko

Add some more type annotations
  capellambse/model/common/accessors.py
  capellambse/model/common/element.py
Owners: @Wuestengecko

Fix ElementList iterator
  capellambse/model/common/element.py
Owners: @Wuestengecko

Examples: updated readme and added introduction
  README.md
  examples/01_Introduction.ipynb
  examples/01_intro_actor_functions.xlsx
Owners: @DSD-DBS/se-toolchain

Type some lowhanging fruits in svg module
  capellambse/svg/decorations.py
  capellambse/svg/style.py
Owners: @ewuerger

Add types to Diagram properties
  capellambse/model/diagram.py
Owners: @Wuestengecko

Silence all (default) errors coming from MyPy
  capellambse/model/common/__init__.py
  capellambse/model/common/accessors.py
  capellambse/model/common/element.py
Owners: @Wuestengecko

Relax typing rules
  capellambse/model/common/__init__.py
  capellambse/model/common/accessors.py
  capellambse/model/common/element.py
  mypy.ini
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

Model package is now type checked
  capellambse/loader/xmltools.py
  capellambse/model/common/accessors.py
  capellambse/model/crosslayer/fa.py
  capellambse/model/crosslayer/information.py
  capellambse/model/layers/ctx.py
  capellambse/model/layers/la.py
  capellambse/model/layers/oa.py
Owners: @Wuestengecko

Fix typing in loader package
  capellambse/loader/core.py
  capellambse/loader/xmltools.py
  mypy.ini
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

Fix tests
  capellambse/model/common/accessors.py
Owners: @Wuestengecko

Fix datevalue type
  capellambse/extensions/reqif.py
Owners: @DSD-DBS/se-toolchain

Add missing xmltags
  capellambse/extensions/reqif.py
Owners: @DSD-DBS/se-toolchain

Fix value accessors
  capellambse/extensions/reqif.py
Owners: @DSD-DBS/se-toolchain

Fix name > long_name
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain

ci: Make pylint less strict in CI
  .github/workflows/lint.yml
Owners: @DSD-DBS/se-toolchain

Add CONTRIBUTING.md and MAINTAINERS.md
  CONTRIBUTING.md
  MAINTAINERS.md
  README.md
Owners: @DSD-DBS/se-toolchain

README: Remove mention of removed functionality
  README.md
Owners: @DSD-DBS/se-toolchain

setup: Update project name to match repo name
  setup.cfg
Owners: @DSD-DBS/se-toolchain

Fix FixMe to FIXME
  capellambse/model/common/accessors.py
Owners: @Wuestengecko

Be more concise on elementfinder() signature
  capellambse/model/common/accessors.py
Owners: @Wuestengecko

Be more concise on matchtransform() signature
  capellambse/model/common/accessors.py
Owners: @Wuestengecko

CONTRIBUTING: Mention use of Numpy docstring style
  CONTRIBUTING.md
Owners: @DSD-DBS/se-toolchain

CONTRIBUTING: Add isort config for VSC
  CONTRIBUTING.md
Owners: @DSD-DBS/se-toolchain

CONTRIBUTING: Install local project in "editable mode"
  CONTRIBUTING.md
Owners: @DSD-DBS/se-toolchain

Remove redundant method and please test
  capellambse/svg/style.py
  tests/test_svg.py
Owners: @ewuerger, @DSD-DBS/se-toolchain

Fix DateValue and BoolValue attribute-setting
  capellambse/extensions/reqif.py
Owners: @DSD-DBS/se-toolchain

docs: Remove possibly copyrighted icons
  docs/source/_static/Capthon_logo.svg
  docs/source/_static/PyCap_logo2.svg
  docs/source/_static/PyCap_logo3.svg
  docs/source/_static/PyCaplogo4.svg
  docs/source/conf.py
Owners: @DSD-DBS/se-toolchain

Silence Sphinx typing errors
  capellambse/sphinx.py
Owners: @DSD-DBS/se-toolchain

Type capellambse.svg.generate
  capellambse/svg/generate.py
Owners: @ewuerger

Revert moving typevars in modules
  capellambse/model/common/__init__.py
  capellambse/model/common/accessors.py
  capellambse/model/common/element.py
Owners: @Wuestengecko

Fix/work around typing issues in aird package
  capellambse/aird/diagram.py
  capellambse/aird/parser/_common.py
  capellambse/aird/parser/_styling.py
Owners: @DSD-DBS/se-toolchain

Fix a bunch of typing errors in diagram module
  capellambse/svg/drawing.py
  tests/test_svg.py
Owners: @ewuerger, @DSD-DBS/se-toolchain

Extend DiagramMetadataDict
  capellambse/svg/generate.py
Owners: @ewuerger
