Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Wuestengecko, @vik378, @ewuerger

.github/CODEOWNERS:

# SPDX-FileCopyrightText: Copyright DB InfraGO AG
# SPDX-License-Identifier: CC0-1.0

*	@Wuestengecko @vik378

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko
/capellambse/repl.py	@Wuestengecko

/capellambse/svg/	@ewuerger

# vim:set ts=32 sw=0 noet:

feat(loader): Automate namespace management
  capellambse/loader/core.py
  capellambse/model/common/element.py
  tests/test_model_creation_deletion.py
Owners: @Wuestengecko, @vik378

fix(model): Modify existing object instead of replacing for RoleTagAccessor
  capellambse/model/common/accessors.py
Owners: @Wuestengecko

feat(decl): Resolve promises for sync find
  capellambse/decl.py
Owners: @Wuestengecko, @vik378

perf(glart): Only look up the cache once
  capellambse/filehandler/gitlab_artifacts.py
Owners: @Wuestengecko, @vik378

fix(readme): Fix second link to intro notebook
  README.md
Owners: @Wuestengecko, @vik378

fix(svg): Fix symbol label wrapping
  capellambse/svg/decorations.py
  capellambse/svg/drawing.py
Owners: @ewuerger

fix(model): Ignore missing follow in LinkAccessor
  capellambse/model/common/accessors.py
Owners: @Wuestengecko

feat(model): Forward diagram XML objects to Diagram
  capellambse/aird/__init__.py
  capellambse/model/diagram.py
Owners: @Wuestengecko, @vik378

fix(model): Declare R/O diagram attributes statically R/O
  capellambse/model/diagram.py
Owners: @Wuestengecko

refactor(model): Use Accessor for OperationalActivity inputs/outputs
  capellambse/model/layers/oa.py
Owners: @Wuestengecko

refactor(model): Adjust Enums to match metamodel
  capellambse/model/crosslayer/fa.py
  capellambse/model/crosslayer/information/__init__.py
  capellambse/model/modeltypes.py
Owners: @Wuestengecko

feat(model): Import all Enums from the metamodel
  capellambse/model/modeltypes.py
  scripts/generate_enums.py
Owners: @Wuestengecko, @vik378

feat(model): Use enum's value for XML
  capellambse/model/common/properties.py
Owners: @Wuestengecko

fix: Add Capella nature to test project
  tests/data/melodymodel/6_0/.project
Owners: @Wuestengecko, @vik378

docs: Fix broken anchor for "Specifying models"
  docs/source/start/specifying-models.rst
Owners: @Wuestengecko, @vik378

revert(model): Remove stop-gap to use old diagram IDs again
  capellambse/model/diagram.py
Owners: @Wuestengecko

feat(model): Specify format converter dependencies
  capellambse/model/diagram.py
Owners: @Wuestengecko

ci: Update to types-lxml stable release
  .pre-commit-config.yaml
Owners: @Wuestengecko, @vik378

fix(model): Fix rare exception in ElementList dir()
  capellambse/model/common/element.py
Owners: @Wuestengecko

fix(model): Expect >1 involving functional chain
  capellambse/model/crosslayer/fa.py
Owners: @Wuestengecko

fix(model): Make DataType.pattern optional
  capellambse/model/crosslayer/information/datatype.py
Owners: @Wuestengecko

feat(model): Don't show `all_*` contents in repr
  capellambse/model/common/element.py
Owners: @Wuestengecko

fix(model): Ignore UUID dups within AIRD fragments
  capellambse/loader/core.py
Owners: @Wuestengecko

fix(git): Keep cache locked during init
  capellambse/filehandler/git.py
Owners: @Wuestengecko, @vik378

fix: Fix duplicate elements issue
  capellambse/decl.py
  capellambse/model/common/accessors.py
  tests/test_decl.py
Owners: @Wuestengecko, @vik378

fix(diagram): Ignore labels with transforms
  capellambse/diagram/_diagram.py
Owners: @Wuestengecko, @vik378

fix(model): Deduplicate `ElementList.map()` output
  capellambse/model/common/element.py
Owners: @Wuestengecko

fix(reqif): Ignore one-sided relations
  capellambse/extensions/reqif/_capellareq.py
  capellambse/model/common/element.py
Owners: @Wuestengecko, @vik378

fix: Add tag for allocated_functional_exchanges accessor
  capellambse/model/crosslayer/fa.py
Owners: @Wuestengecko

feat: Crop SVG diagrams to content
  capellambse/_diagram_cache.py
Owners: @Wuestengecko, @vik378

fix(model): Improve typing around ElementList
  capellambse/extensions/filtering.py
  capellambse/model/common/accessors.py
  capellambse/model/common/element.py
Owners: @Wuestengecko, @vik378

fix(model): Make less assumptions about IDs
  capellambse/decl.py
  capellambse/extensions/filtering.py
  capellambse/helpers.py
Owners: @Wuestengecko, @vik378

refactor: Use QName instead of manually parsing tags
  capellambse/helpers.py
Owners: @Wuestengecko, @vik378

fix(model): Round namespace versions
  capellambse/_namespaces.py
  capellambse/loader/core.py
  tests/test_model_loading.py
Owners: @Wuestengecko, @vik378

feat(diagram): Add styleclass handler for `Entity`
  capellambse/diagram/_styleclass.py
Owners: @Wuestengecko, @vik378

refactor(diagram): Simplify some styleclass mappers
  capellambse/diagram/_styleclass.py
Owners: @Wuestengecko, @vik378

fix(loader): Reuse old namespaces for unknown plugins
  capellambse/loader/core.py
Owners: @Wuestengecko

fix(namespaces): Tie 're' namespace to core viewpoint
  capellambse/_namespaces.py
Owners: @Wuestengecko, @vik378

fix(exs): Ensure namespaces are sorted properly
  capellambse/loader/exs.py
Owners: @Wuestengecko

docs: Document supported environment variables
  docs/source/index.rst
  docs/source/start/envvars.rst
Owners: @Wuestengecko, @vik378
