Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Wuestengecko, @vik378, @ewuerger

test: Check that invalid Git URLs fail to load
  tests/test_model_loading.py
Owners: @Wuestengecko, @vik378

fix(loader): Use POSIX APIs with PurePosixPath
  capellambse/loader/core.py
Owners: @Wuestengecko

fix(loader): Fix creating links to files in parent dir
  capellambse/helpers.py
  capellambse/loader/core.py
Owners: @Wuestengecko, @vik378

fix(git): Use shorter cache dir hashes
  capellambse/filehandler/git.py
Owners: @Wuestengecko, @vik378

fix(git): Improve handling of local repositories
  capellambse/filehandler/git.py
Owners: @Wuestengecko, @vik378

feat(git): Use exact ref match if one exists
  capellambse/filehandler/git.py
Owners: @Wuestengecko, @vik378

fix(loader): Don't fall back to making a random UUID
  capellambse/loader/core.py
Owners: @Wuestengecko

feat(http): Add a hint about 'git+' to iterdir error
  capellambse/filehandler/http.py
Owners: @Wuestengecko, @vik378

fix(model): Deduplicate allocations
  capellambse/model/common/accessors.py
Owners: @Wuestengecko

fix(svg): Avoid class="context-" on empty context
  capellambse/svg/drawing.py
Owners: @ewuerger

fix(model): Add missing `sub="..."` backlink to Generalization
  capellambse/model/crosslayer/information/__init__.py
Owners: @Wuestengecko

ci: Update Github actions
  .github/workflows/code-qa.yml
  .github/workflows/docs.yml
Owners: @Wuestengecko, @vik378

ci: Check PRs for conventional commits compliance
  .github/workflows/commits.yml
Owners: @Wuestengecko, @vik378

docs(contributing): Actually describe the pre-commit setup
  CONTRIBUTING.rst
Owners: @Wuestengecko, @vik378

docs: Syntax-highlight all the code blocks!
  CONTRIBUTING.rst
  README.rst
Owners: @Wuestengecko, @vik378

docs(readme): Remove note about SVG stylesheets
  README.rst
Owners: @Wuestengecko, @vik378

fix(diagram): Call FEX 'OperationalExchange' on OA
  capellambse/aird/_edge_factories.py
  capellambse/aird/_semantic.py
  capellambse/diagram/_styleclass.py
  capellambse/diagram/capstyle.py
Owners: @Wuestengecko, @vik378

fix(svg): Switch to representational attributes for fonts
  capellambse/svg/drawing.py
  capellambse/svg/symbols.py
Owners: @ewuerger

refactor(svg): Get rid of style="..." attributes
  capellambse/aird/_styling.py
  capellambse/diagram/capstyle.py
  capellambse/svg/drawing.py
  capellambse/svg/style.py
  capellambse/svg/symbols.py
  tests/test_svg.py
Owners: @Wuestengecko, @vik378, @ewuerger

fix(svg): Write context of all element types to SVG
  capellambse/diagram/_diagram.py
  capellambse/diagram/_json_enc.py
  capellambse/svg/drawing.py
  tests/test_svg.py
Owners: @Wuestengecko, @vik378, @ewuerger

chore: Remove XXX comment that no longer applies
  capellambse/svg/drawing.py
Owners: @ewuerger

fix(diagram): Correctly capitalize Association classes
  capellambse/diagram/_styleclass.py
Owners: @Wuestengecko, @vik378

feat(model): Add ability to upscale rendered PNGs
  capellambse/model/diagram.py
Owners: @Wuestengecko

feat(model): Auto-generate diagram filenames
  capellambse/model/diagram.py
Owners: @Wuestengecko

feat(repl): Allow starting a REPL without a model
  .vscode/launch.json
  capellambse/repl.py
Owners: @Wuestengecko, @vik378

chore: Update pre-commit hooks
  .pre-commit-config.yaml
  capellambse/_namespaces.py
  capellambse/aird/_box_factories.py
  capellambse/aird/_common.py
  capellambse/diagram/_vector2d.py
  capellambse/extensions/filtering.py
  capellambse/extensions/reqif/_capellareq.py
  capellambse/extensions/reqif/exporter.py
  capellambse/filehandler/abc.py
  capellambse/filehandler/git.py
  capellambse/helpers.py
  capellambse/loader/core.py
  capellambse/loader/exs.py
  capellambse/loader/xmltools.py
  capellambse/model/common/__init__.py
  capellambse/model/common/accessors.py
  capellambse/model/common/element.py
  capellambse/model/common/properties.py
  capellambse/model/diagram.py
  capellambse/pvmt/types.py
  capellambse/svg/style.py
  tests/test_model_loading.py
Owners: @Wuestengecko, @vik378, @ewuerger

ci: Ignore D1xx warnings globally
  .pre-commit-config.yaml
  pyproject.toml
Owners: @Wuestengecko, @vik378

ci: Update pre-commit hooks once more
  .pre-commit-config.yaml
Owners: @Wuestengecko, @vik378

fix(svg): Remove invalid Path attributes
  capellambse/svg/symbols.py
Owners: @ewuerger

fix(model): Fix CapabilityRealization.involved_components
  capellambse/model/crosslayer/capellacommon.py
  capellambse/model/layers/la.py
Owners: @Wuestengecko

ci: Use custom fork of 'reuse' tool
  .pre-commit-config.yaml
Owners: @Wuestengecko, @vik378

fix(filehandler): Normalize 'self.subdir'
  capellambse/filehandler/abc.py
Owners: @Wuestengecko, @vik378

feat(repl): Improve help text and banner
  capellambse/repl.py
Owners: @Wuestengecko

feat(diagram): Add styling for primitive `Class`es
  capellambse/diagram/_styleclass.py
  capellambse/diagram/capstyle.py
  capellambse/svg/decorations.py
Owners: @Wuestengecko, @vik378, @ewuerger

fix(svg): Add dependency for LogicalHumanActorSymbol
  capellambse/svg/symbols.py
Owners: @ewuerger

ci: Use upstream pylint hook
  .pre-commit-config.yaml
Owners: @Wuestengecko, @vik378

docs: Repair broken sphinx references
  capellambse/aird/__init__.py
  capellambse/aird/_filters/__init__.py
  capellambse/extensions/pvmt.py
  capellambse/extensions/reqif/_requirements.py
  capellambse/filehandler/abc.py
  capellambse/filehandler/git.py
  capellambse/filehandler/http.py
  capellambse/filehandler/memory.py
  capellambse/helpers.py
  capellambse/loader/core.py
  capellambse/model/__init__.py
  capellambse/model/common/__init__.py
  capellambse/model/common/accessors.py
  capellambse/model/common/element.py
  capellambse/model/diagram.py
  capellambse/model/modeltypes.py
  capellambse/pvmt/__init__.py
  capellambse/pvmt/core.py
  capellambse/pvmt/types.py
  capellambse/svg/generate.py
  docs/source/conf.py
  docs/source/development/how-to-explore-capella-mm.rst
Owners: @Wuestengecko, @vik378, @ewuerger

docs: Fix some more docs-related issues
  capellambse/helpers.py
  capellambse/loader/core.py
Owners: @Wuestengecko, @vik378

docs: Remove make.bat
  docs/make.bat
Owners: @Wuestengecko, @vik378

docs: Don't generate APIDOC for deprecated modules
  docs/Makefile
Owners: @Wuestengecko, @vik378

.github/CODEOWNERS:

# SPDX-FileCopyrightText: Copyright DB InfraGO AG
# SPDX-License-Identifier: CC0-1.0

*	@Wuestengecko @vik378

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko
/capellambse/repl.py	@Wuestengecko

/capellambse/svg/	@ewuerger

# vim:set ts=32 sw=0 noet:
