Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DSD-DBS/se-toolchain, @Wuestengecko, @ewuerger

.github/CODEOWNERS:

# SPDX-FileCopyrightText: Copyright DB Netz AG and the capellambse contributors
# SPDX-License-Identifier: CC0-1.0

*	@DSD-DBS/se-toolchain

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko
/capellambse/repl.py	@Wuestengecko

/capellambse/svg/	@ewuerger

docs: Add intersphinx for linking to stdlib
  docs/source/conf.py
  docs/source/start/declarative.rst
Owners: @DSD-DBS/se-toolchain

docs: Add missing docstrings
  capellambse/svg/drawing.py
Owners: @ewuerger

fix: Fix duplication of docstrings in MelodyModel
  docs/source/conf.py
Owners: @DSD-DBS/se-toolchain

docs: Fix formatting in declarative-modelling docs
  docs/source/start/declarative.rst
Owners: @DSD-DBS/se-toolchain

docs: Switch to Furo theme
  docs/source/_static/img/github-logo.svg
  docs/source/conf.py
  pyproject.toml
Owners: @DSD-DBS/se-toolchain

docs: Add how-tos page and remove prerequisites
  .github/workflows/docs.yml
  README.rst
  capellambse/repl.py
  docs/source/_ext/jinja_in_rst.py
  docs/source/_templates/layout.html
  docs/source/conf.py
  docs/source/examples/01 Introduction.ipynb
  docs/source/examples/01 Introduction.ipynb.license
  docs/source/examples/02 Intro to Physical Architecture API.ipynb
  docs/source/examples/02 Intro to Physical Architecture API.ipynb.license
  docs/source/examples/03 Data Values.ipynb
  docs/source/examples/03 Data Values.ipynb.license
  docs/source/examples/04 Intro to Jinja templating.ipynb
  docs/source/examples/04 Intro to Jinja templating.ipynb.license
  docs/source/examples/05 Introduction to Libraries.ipynb
  docs/source/examples/05 Introduction to Libraries.ipynb.license
  docs/source/examples/06 Introduction to Requirement access and management.ipynb
  docs/source/examples/06 Introduction to Requirement access and management.ipynb.license
  docs/source/examples/07 Code Generation.ipynb
  docs/source/examples/07 Code Generation.ipynb.license
  docs/source/examples/09 Context Diagrams.ipynb
  docs/source/examples/09 Context Diagrams.ipynb.license
  docs/source/examples/10 Declarative Modeling.ipynb
  docs/source/examples/10 Declarative Modeling.ipynb.license
  docs/source/howtos/howtos.rst
  docs/source/index.rst
  docs/source/start/prerequisites.rst
  examples/01 Introduction.ipynb
  examples/02 Intro to Physical Architecture API.ipynb
  examples/05 Introduction to Libraries.ipynb
  examples/07 Code Generation.ipynb
  examples/09 Context Diagrams.ipynb
  pyproject.toml
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

docs: Update installation guide
  docs/source/start/installation.rst
Owners: @DSD-DBS/se-toolchain

docs: Improve developing docs
  docs/source/development/developing-docs.rst
Owners: @DSD-DBS/se-toolchain

fix: Fix broken links in README and examples
  README.rst
  docs/source/examples/02 Intro to Physical Architecture API.ipynb
Owners: @DSD-DBS/se-toolchain

fix(loader): Reject invalid entrypoints
  capellambse/loader/core.py
  tests/test_model_loading.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

feat(model): Add reverse attributes to Capabilities and Missions
  capellambse/model/crosslayer/interaction.py
  capellambse/model/layers/ctx.py
  capellambse/model/layers/oa.py
Owners: @Wuestengecko

fix(aird): Fall back to `<target>` if there are no `<semanticElements>`
  capellambse/aird/parser/_semantic.py
Owners: @DSD-DBS/se-toolchain
