Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Wuestengecko, @vik378, @ewuerger

.github/CODEOWNERS:

# SPDX-FileCopyrightText: Copyright DB Netz AG and the capellambse contributors
# SPDX-License-Identifier: CC0-1.0

*	@Wuestengecko @vik378

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko
/capellambse/repl.py	@Wuestengecko

/capellambse/svg/	@ewuerger

# vim:set ts=32 sw=0 noet:

fix(model): Fix `AbstractDiagram.nodes`
  capellambse/model/diagram.py
Owners: @Wuestengecko

fix: Add newline to model badge svg
  capellambse/extensions/metrics/composer.py
Owners: @Wuestengecko, @vik378

ci: Configure `coverage.py`
  pyproject.toml
Owners: @Wuestengecko, @vik378

refactor(decl): Remove redundant parts of the algorithm
  capellambse/decl/__init__.py
  capellambse/decl/__main__.py
  capellambse/decl/_decl.py
  capellambse/decl/diff.py
  tests/data/decl/right model/.project
  tests/data/decl/right model/.project.license
  tests/data/decl/right model/empty_project_52.afm
  tests/data/decl/right model/empty_project_52.afm.license
  tests/data/decl/right model/empty_project_52.aird
  tests/data/decl/right model/empty_project_52.aird.license
  tests/data/decl/right model/empty_project_52.capella
  tests/data/decl/right model/empty_project_52.capella.license
  tests/data/melodymodel/6_0/Melody Model Test.aird
  tests/test_decl_diff.py
Owners: @Wuestengecko, @vik378

feat(model): Add `exchange_items` and `associations` to DataPkg
  capellambse/model/crosslayer/information/__init__.py
Owners: @Wuestengecko

chore: Fix type errors in CI
  .pre-commit-config.yaml
  capellambse/extensions/filtering.py
  capellambse/filehandler/git.py
  capellambse/filehandler/http.py
  capellambse/filehandler/memory.py
  capellambse/model/common/element.py
Owners: @Wuestengecko, @vik378

feat(native): Copy files into / out of docker container
  capellambse/_native.py
Owners: @Wuestengecko, @vik378

feat(filehandler): Add `read/write_file` convenience methods
  capellambse/filehandler/abc.py
Owners: @Wuestengecko, @vik378

refactor(filehandler): Move abstract `FileHandler` into submodule
  capellambse/filehandler/__init__.py
  capellambse/filehandler/abc.py
  capellambse/filehandler/git.py
  capellambse/filehandler/gitlab_artifacts.py
  capellambse/filehandler/http.py
  capellambse/filehandler/local.py
  capellambse/filehandler/memory.py
Owners: @Wuestengecko, @vik378

docs: Normalize whitespace in docstrings and comments
  capellambse/aird/_box_factories.py
  capellambse/aird/_edge_factories.py
  capellambse/aird/_filters/__init__.py
  capellambse/aird/_filters/composite.py
  capellambse/aird/_semantic.py
  capellambse/aird/_visual.py
  capellambse/diagram/_diagram.py
  capellambse/diagram/capstyle.py
  capellambse/filehandler/__init__.py
  capellambse/filehandler/git.py
  capellambse/filehandler/http.py
  capellambse/helpers.py
  capellambse/loader/__init__.py
  capellambse/loader/core.py
  capellambse/loader/exs.py
  capellambse/loader/xmltools.py
  capellambse/model/common/__init__.py
  capellambse/model/common/accessors.py
  capellambse/model/common/element.py
  capellambse/model/common/properties.py
  capellambse/pvmt/__init__.py
  capellambse/pvmt/model.py
  capellambse/pvmt/types.py
  capellambse/sphinx.py
  capellambse/svg/style.py
  docs/source/conf.py
Owners: @Wuestengecko, @vik378, @ewuerger

feat(filehandler): Add support for listing files
  capellambse/filehandler/abc.py
  capellambse/filehandler/git.py
  capellambse/filehandler/local.py
  capellambse/filehandler/memory.py
  tests/test_filehandler_memory.py
Owners: @Wuestengecko, @vik378

feat(filehandler): Convert `file://` URLs to `Path` objects
  capellambse/filehandler/__init__.py
  tests/test_model_loading.py
Owners: @Wuestengecko, @vik378

chore(known_models): Update 'coffee-machine' known model
  capellambse/known_models/coffee-machine.json
Owners: @Wuestengecko, @vik378

feat(loader): Derive entrypoint from filehandler's listing
  capellambse/loader/core.py
  tests/test_model_loading.py
Owners: @Wuestengecko, @vik378

fix(model): Display name of element in `__html__` heading
  capellambse/model/common/element.py
Owners: @Wuestengecko

fix(loader): Pass `**kwargs` on to `get_filehandler`
  capellambse/loader/core.py
Owners: @Wuestengecko

fix(filehandler): Ignore Git `credential.helper` for passed credentials
  capellambse/filehandler/git.py
Owners: @Wuestengecko, @vik378

feat(model): Add missing realization links
  capellambse/model/common/accessors.py
  capellambse/model/crosslayer/cs.py
  capellambse/model/crosslayer/fa.py
  capellambse/model/layers/ctx.py
  capellambse/model/layers/la.py
  capellambse/model/layers/pa.py
Owners: @Wuestengecko

feat(model): Add TypecastAccessor
  capellambse/model/common/accessors.py
Owners: @Wuestengecko

fix(model): Fix diagram rich display in JupyterLab
  capellambse/model/diagram.py
  pyproject.toml
  tests/test_svg.py
Owners: @Wuestengecko, @vik378

feat(model): Allow multiple CEX -> PhysicalPath allocations
  capellambse/model/crosslayer/cs.py
  capellambse/model/crosslayer/fa.py
  tests/data/melodymodel/5_0/Melody Model Test.aird
  tests/data/melodymodel/5_0/Melody Model Test.capella
  tests/test_model_layers.py
Owners: @Wuestengecko, @vik378

feat(model): Add realizations to ComponentExchange
  capellambse/model/crosslayer/fa.py
Owners: @Wuestengecko

feat(model): Add missing `post-/pre-condition` to `Scenario`
  capellambse/model/crosslayer/interaction.py
Owners: @Wuestengecko

feat(cli_helpers): Add helpers for loading info about a model
  capellambse/cli_helpers.py
  capellambse/repl.py
Owners: @Wuestengecko, @vik378

feat(cli_helpers): Recognize local directories in `loadcli`
  capellambse/cli_helpers.py
Owners: @Wuestengecko, @vik378

feat(ci-templates): Add Github Action for model badge generation
  ci-templates/README.rst
  ci-templates/github/README.rst
  ci-templates/github/model-complexity-badge/action.yml
Owners: @Wuestengecko, @vik378

test: Add more convenience launch profiles
  .vscode/launch.json
Owners: @Wuestengecko, @vik378

feat(native): Expose data to scripts via envvars
  capellambse/_native.py
Owners: @Wuestengecko, @vik378

feat(decl): Return resolved promises from `apply`
  capellambse/decl.py
Owners: @Wuestengecko, @vik378

perf(filehandler): Use a Session for Gitlab Artifacts
  capellambse/filehandler/gitlab_artifacts.py
Owners: @Wuestengecko, @vik378

perf(git): Prefetch is_dir/is_file results
  capellambse/filehandler/git.py
Owners: @Wuestengecko, @vik378

feat(cli_helpers): Log when starting to load a model
  capellambse/cli_helpers.py
Owners: @Wuestengecko, @vik378

feat(model): Resolve diagram-links in descriptions
  capellambse/model/common/properties.py
  tests/conftest.py
  tests/data/melodymodel/6_0/Melody Model Test.aird
  tests/data/melodymodel/6_0/Melody Model Test.capella
  tests/test_diagram.py
  tests/test_reqif.py
Owners: @Wuestengecko, @vik378

feat(model): Resolve diagram references in setting an `HTMLAttribute`
  capellambse/helpers.py
  capellambse/model/common/properties.py
  tests/test_diagram.py
Owners: @Wuestengecko, @vik378

feat(model): Add `input/output_exchanges` to `fa.Function`
  capellambse/model/crosslayer/fa.py
Owners: @Wuestengecko

fix: Don't block Capella on error in native client
  capellambse/_native.py
Owners: @Wuestengecko, @vik378

feat: Add white background if needed to diagram cache svg
  capellambse/_diagram_cache.py
  capellambse/diagram_cache.py
  capellambse/model/__init__.py
Owners: @Wuestengecko, @vik378

fix(svg): Fix crash when drawing port labels
  capellambse/svg/drawing.py
Owners: @ewuerger

fix(reqif): Fix creation of `Relation`s from a `Requirement`
  capellambse/extensions/reqif/_capellareq.py
  tests/test_reqif.py
Owners: @Wuestengecko, @vik378

feat(glart): Work around Gitlab bug #414807
  capellambse/filehandler/gitlab_artifacts.py
Owners: @Wuestengecko, @vik378
