Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Wuestengecko, @vik378, @ewuerger

feat(model): Optionally enforce XHTML
  capellambse/model/common/properties.py
  docs/source/start/envvars.rst
Owners: @Wuestengecko, @vik378

feat(modelv2): Add experimental new model implementation
  .pre-commit-config.yaml
  capellambse/metamodel/__init__.py
  capellambse/metamodel/activity.py
  capellambse/metamodel/behavior.py
  capellambse/metamodel/capellacommon.py
  capellambse/metamodel/capellacore.py
  capellambse/metamodel/capellamodeller.py
  capellambse/metamodel/cs.py
  capellambse/metamodel/epbs.py
  capellambse/metamodel/fa.py
  capellambse/metamodel/information.py
  capellambse/metamodel/information_communication.py
  capellambse/metamodel/information_datatype.py
  capellambse/metamodel/information_datavalue.py
  capellambse/metamodel/interaction.py
  capellambse/metamodel/la.py
  capellambse/metamodel/libraries.py
  capellambse/metamodel/modellingcore.py
  capellambse/metamodel/modeltypes.py
  capellambse/metamodel/namespaces.py
  capellambse/metamodel/oa.py
  capellambse/metamodel/pa.py
  capellambse/metamodel/pa_deployment.py
  capellambse/metamodel/sa.py
  capellambse/modelv2/__init__.py
  capellambse/modelv2/_meta.py
  capellambse/modelv2/_model.py
  capellambse/modelv2/_obj.py
  capellambse/modelv2/_xml.py
  capellambse/repl.py
  docs/source/development/extensions.rst
  docs/source/development/model-loading.rst
  docs/source/index.rst
  pyproject.toml
  tests/test_modelv2.py
Owners: @Wuestengecko, @vik378

feat(model): Evaluate REPR_DRAW on any first read
  capellambse/model/diagram.py
Owners: @Wuestengecko

feat(model): Add function to convert between diagram formats
  capellambse/model/diagram.py
Owners: @Wuestengecko

feat(model): Show object icon HTML and text repr
  capellambse/helpers.py
  capellambse/model/common/element.py
Owners: @Wuestengecko, @vik378

feat: Add functions to retrieve object icons
  capellambse/diagram/__init__.py
  capellambse/diagram/_icons.py
  capellambse/model/common/element.py
  capellambse/model/diagram.py
  capellambse/svg/decorations.py
  capellambse/svg/drawing.py
  capellambse/svg/symbols.py
  tests/test_svg.py
Owners: @Wuestengecko, @vik378, @ewuerger

refactor(svg): Fully decouple markers and symbols
  capellambse/svg/decorations.py
  capellambse/svg/drawing.py
  capellambse/svg/symbols.py
Owners: @ewuerger

fix: Move some warnings to "DEBUG" level
  capellambse/aird/_filters/__init__.py
Owners: @Wuestengecko, @vik378

test: Fix name of test module for `model.diagram`
  tests/test_model_diagram.py
Owners: @Wuestengecko, @vik378

fix: Add box styling for Physical Actors
  capellambse/diagram/capstyle.py
Owners: @Wuestengecko, @vik378

refactor: Simplify PhysicalComponent styleclass generator
  capellambse/diagram/_styleclass.py
Owners: @Wuestengecko, @vik378

fix(model): Don't show an empty box if there's no icon
  capellambse/model/common/element.py
Owners: @Wuestengecko

feat: improve states and modes
  capellambse/model/crosslayer/capellacommon.py
Owners: @Wuestengecko

docs(model): Fix docstring for `_get_icon()`
  capellambse/model/common/element.py
Owners: @Wuestengecko

fix: Prefer local over remote Docker images
  capellambse/_native.py
Owners: @Wuestengecko, @vik378

build: Maintain dependency versions
  .pre-commit-config.yaml
  pyproject.toml
Owners: @Wuestengecko, @vik378

feat: Implement modelling rules and validation
  .pre-commit-config.yaml
  capellambse/extensions/validation/__init__.py
  capellambse/extensions/validation/__main__.py
  capellambse/extensions/validation/_validate.py
  capellambse/extensions/validation/report-template.html.jinja
  capellambse/extensions/validation/rules.py
  capellambse/model/common/__init__.py
  capellambse/model/layers/la.py
  pyproject.toml
  tests/test_validation.py
Owners: @Wuestengecko, @vik378

ci: Switch to PyPI trusted publishing
  .github/workflows/code-qa.yml
Owners: @Wuestengecko, @vik378

docs(readme): Add capella-ros-tools as related project
  README.md
Owners: @Wuestengecko, @vik378

fix: Use Traversable from new location on Py 3.11+
  capellambse/filehandler/abc.py
Owners: @Wuestengecko, @vik378

refactor: Use PEP-702 `@deprecated` to mark deprecations
  .pre-commit-config.yaml
  capellambse/aird/__init__.py
  capellambse/decl.py
  capellambse/loader/core.py
  capellambse/model/common/accessors.py
  capellambse/model/common/element.py
  capellambse/model/crosslayer/fa.py
  capellambse/svg/generate.py
  pyproject.toml
Owners: @Wuestengecko, @vik378, @ewuerger

fix: Solve most deprecation warnings
  capellambse/loader/core.py
  tests/test_aird_parser.py
  tests/test_decl.py
  tests/test_xlayer_information.py
Owners: @Wuestengecko, @vik378

test: Remove tests that assert hashability
  tests/test_reqif.py
Owners: @Wuestengecko, @vik378

chore: Deprecate directly hashing model objects
  capellambse/extensions/validation/rules.py
  capellambse/model/common/element.py
  tests/test_model_layers.py
Owners: @Wuestengecko, @vik378

feat(decl): Accept !find in sync:*:find
  capellambse/decl.py
Owners: @Wuestengecko, @vik378

fix(exs): Write xsi:type first
  capellambse/loader/exs.py
Owners: @Wuestengecko

fix(validation): Use correct field names in Result repr
  capellambse/extensions/validation/_validate.py
Owners: @Wuestengecko, @vik378

fix(model): Fix `Interface` `exchange_item_allocations`
  capellambse/model/crosslayer/cs.py
Owners: @Wuestengecko

feat(diagram_cache): Allow specifying CLI options via envvars
  capellambse/diagram_cache.py
Owners: @Wuestengecko, @vik378

feat(model): Add diagram cache metadata to Model.info
  capellambse/model/__init__.py
Owners: @Wuestengecko

feat(glart): Allow packing project/branch/job into path
  capellambse/filehandler/gitlab_artifacts.py
  pyproject.toml
Owners: @Wuestengecko, @vik378

fix: Map dotted ElementList.map() args separately
  capellambse/model/common/element.py
  pyproject.toml
Owners: @Wuestengecko, @vik378

build: Ignore Sphinx errors on master builds
  .github/workflows/docs.yml
Owners: @Wuestengecko, @vik378

revert: Don't publish pre-releases to PyPI (#433)
  .github/workflows/code-qa.yml
  pyproject.toml
Owners: @Wuestengecko, @vik378

fix: Fix filter `FEX_OR_EX`
  capellambse/aird/_filters/global.py
Owners: @Wuestengecko, @vik378

refactor(aird): Remove wrong type hint
  capellambse/aird/_filters/global.py
Owners: @Wuestengecko, @vik378

refactor(glart): Use requests' Link header parser
  capellambse/filehandler/gitlab_artifacts.py
Owners: @Wuestengecko, @vik378

fix: Map dotted ElementList.map() args separately
  capellambse/model/common/element.py
  pyproject.toml
Owners: @Wuestengecko, @vik378

fix(model): Do format conversion when loading from cache
  capellambse/model/diagram.py
Owners: @Wuestengecko

feat(glart): Allow specifying subdir in path as well
  capellambse/filehandler/gitlab_artifacts.py
  tests/test_model_loading.py
Owners: @Wuestengecko, @vik378

.github/CODEOWNERS:

# SPDX-FileCopyrightText: Copyright DB InfraGO AG
# SPDX-License-Identifier: CC0-1.0

*	@Wuestengecko @vik378

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko
/capellambse/repl.py	@Wuestengecko

/capellambse/svg/	@ewuerger

# vim:set ts=32 sw=0 noet:
