Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DSD-DBS/se-toolchain, @Wuestengecko, @ewuerger

.github/CODEOWNERS:

*	@DSD-DBS/se-toolchain

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko

/capellambse/svg/	@ewuerger

Setup.cfg: Rename package to capellambse
  setup.cfg
Owners: @DSD-DBS/se-toolchain

gitfilehandler: Implement write transactions
  capellambse/loader/filehandler/gitfilehandler.py
Owners: @Wuestengecko

gitfilehandler: Rename `__git` to `_git`
  capellambse/loader/filehandler/gitfilehandler.py
Owners: @Wuestengecko

filehandler: Implement transactions for local directories
  capellambse/loader/filehandler/localfilehandler.py
Owners: @Wuestengecko

gitfilehandler: Log normal stderr with INFO level
  capellambse/loader/filehandler/gitfilehandler.py
Owners: @Wuestengecko

filehandler: Add the `TransactionClosedError` class
  capellambse/loader/filehandler/__init__.py
Owners: @Wuestengecko

ci: Don't matrix-test on Mac OS
  .github/workflows/build-test-publish.yml
Owners: @DSD-DBS/se-toolchain

ci: Add Python 3.10 to the test matrix
  .github/workflows/build-test-publish.yml
Owners: @DSD-DBS/se-toolchain

Gitattributes: Set EOL to LF for .sh and .py files
  .gitattributes
Owners: @DSD-DBS/se-toolchain

solve code review comments
  capellambse/extensions/reqif.py
  capellambse/loader/filehandler/localfilehandler.py
  tests/__init__.py
  tests/data/melodymodel/5_0/MelodyModelTest.capella
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

gitfilehandler: Fix special char handling in filenames
  capellambse/loader/filehandler/gitfilehandler.py
Owners: @Wuestengecko

[WIP] Add filtering by type tests
  tests/data/melodymodel/5_0/MelodyModelTest.capella
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain

Use abstract for class check for reltype filtering
  capellambse/extensions/reqif.py
Owners: @DSD-DBS/se-toolchain

Change list comp to for loop acc. to style guide
  capellambse/extensions/reqif.py
Owners: @DSD-DBS/se-toolchain

Use BooleanAttributeProperty instead of supercls
  capellambse/extensions/reqif.py
Owners: @DSD-DBS/se-toolchain

Fix path encoding and move tests to test_model_loading
  capellambse/loader/filehandler/gitfilehandler.py
  tests/test_model_layers.py
  tests/test_model_loading.py
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

reqif: Rework how `RelationsList`s work
  capellambse/extensions/reqif.py
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain

reqif: Remove unnecessary cast
  capellambse/extensions/reqif.py
Owners: @DSD-DBS/se-toolchain

Add filtering_by_type via strings
  capellambse/extensions/reqif.py
  capellambse/model/common/element.py
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

Remove tests for inserting/removing relations
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain

Remove redundant works on test names
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain

Remove tests and implementation for unsupported operations
  capellambse/extensions/reqif.py
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain

Add relationslist slicing test
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain

Remove redundant pylint-ignore comment
  capellambse/loader/exs.py
Owners: @Wuestengecko

reqif: Fix minor style and typing issues
  capellambse/extensions/reqif.py
  tests/test_reqif.py
Owners: @DSD-DBS/se-toolchain

gitfilehandler: Use a default commit_msg if none was given
  capellambse/loader/filehandler/gitfilehandler.py
Owners: @Wuestengecko

gitfilehandler: Improve documentation on transaction errors
  capellambse/loader/filehandler/gitfilehandler.py
Owners: @Wuestengecko

model: Beautify Jupyter notebooks
  capellambse/model/common/accessors.py
  capellambse/model/common/element.py
  capellambse/model/diagram.py
Owners: @Wuestengecko

model: Fix HTML representation when `None`s are around
  capellambse/model/common/element.py
Owners: @Wuestengecko

model: Improve documentation on model loading
  capellambse/model/__init__.py
Owners: @Wuestengecko

localfilehandler: Fix missing import
  capellambse/loader/filehandler/localfilehandler.py
Owners: @Wuestengecko

loader: Move `entrypoint` from FileHandler to MelodyLoader
  capellambse/loader/core.py
  capellambse/loader/filehandler/__init__.py
  capellambse/loader/filehandler/gitfilehandler.py
  capellambse/loader/filehandler/localfilehandler.py
Owners: @Wuestengecko

Gitfilehandler: Move push options directly after Git Push command Otherwise Git tries to use the push-option as src refspec ('src refspec --push-option=X does not match any')
  capellambse/loader/filehandler/gitfilehandler.py
Owners: @Wuestengecko

Add styling for associations
  capellambse/aird/capstyle.py
Owners: @DSD-DBS/se-toolchain

loader: Add some convenience exports
  capellambse/loader/__init__.py
  capellambse/model/__init__.py
Owners: @Wuestengecko

loader: Add a simple HTTP file handler
  .pre-commit-config.yaml
  capellambse/loader/filehandler/http.py
  setup.cfg
Owners: @DSD-DBS/se-toolchain, @Wuestengecko

model: Add external diagram caching
  capellambse/model/__init__.py
  capellambse/model/diagram.py
  setup.cfg
Owners: @Wuestengecko, @DSD-DBS/se-toolchain

gitfilehandler: Properly raise FileNotFoundError for missing files
  capellambse/loader/filehandler/gitfilehandler.py
Owners: @Wuestengecko

reqif: Fix Python 3.8 compatibility
  capellambse/extensions/reqif.py
Owners: @DSD-DBS/se-toolchain

tests: Fix formatting
  tests/test_model_layers.py
Owners: @DSD-DBS/se-toolchain
