Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Wuestengecko, @vik378, @ewuerger

docs(glart): Improve documentation and error messages
  capellambse/filehandler/gitlab_artifacts.py
Owners: @Wuestengecko, @vik378

fix(diagram_cache): Change default to white background
  capellambse/diagram_cache.py
  capellambse/model/__init__.py
Owners: @Wuestengecko, @vik378

build(docs): Also clean generated apidocs with 'make clean'
  docs/Makefile
Owners: @Wuestengecko, @vik378

build(docs): Blacklist early Sphinx 7.2 version
  pyproject.toml
Owners: @Wuestengecko, @vik378

feat(ci-templates): Make pushing the complexity badge optional in Gitlab
  ci-templates/gitlab/model-badge.yml
Owners: @Wuestengecko, @vik378

feat(ci-templates): Allow specifying JSON as `ENTRYPOINT` everywhere
  ci-templates/gitlab/model-badge.yml
Owners: @Wuestengecko, @vik378

feat: Export cli_helpers.loadinfo
  capellambse/cli_helpers.py
Owners: @Wuestengecko, @vik378

refactor: Avoid some 'type: ignore' cases
  capellambse/_namespaces.py
  capellambse/aird/_common.py
  capellambse/cli_helpers.py
Owners: @Wuestengecko, @vik378

docs(filtering): Fix wrong CLI flags in docstring
  capellambse/extensions/filtering.py
Owners: @Wuestengecko, @vik378

fix(ci-templates): Fix broken model badge template
  ci-templates/gitlab/model-badge.yml
Owners: @Wuestengecko, @vik378

chore: Update pre-commit hooks
  .pre-commit-config.yaml
  capellambse/filehandler/abc.py
Owners: @Wuestengecko, @vik378

fix(docs): Add instructions to `README`
  README.rst
Owners: @Wuestengecko, @vik378

fix(notebooks): Temporary fix of PA Notebook
  docs/source/examples/02 Intro to Physical Architecture API.ipynb
Owners: @Wuestengecko, @vik378

feat(model): Add filter and map methods to ElementList
  capellambse/model/common/element.py
Owners: @Wuestengecko

docs: Use new methods in PA demo notebook
  docs/source/examples/02 Intro to Physical Architecture API.ipynb
Owners: @Wuestengecko, @vik378

fix(docs): Add missing notebooks to README
  README.rst
Owners: @Wuestengecko, @vik378

docs: Update demo notebooks
  docs/source/examples/01 Introduction.ipynb
  docs/source/examples/02 Intro to Physical Architecture API.ipynb
  docs/source/examples/03 Data Values.ipynb
  docs/source/examples/04 Intro to Jinja templating.ipynb
  docs/source/examples/05 Introduction to Libraries.ipynb
  docs/source/examples/06 Introduction to Requirement access and management.ipynb
  docs/source/examples/07 Code Generation.ipynb
  docs/source/examples/08 Property Values.ipynb
  docs/source/examples/09 Context Diagrams.ipynb
  docs/source/examples/10 Declarative Modeling.ipynb
  docs/source/examples/11 Complexity Assessment.ipynb
Owners: @Wuestengecko, @vik378

build: Add JupyterLab's `.virtual_documents` to gitignore
  .gitignore
Owners: @Wuestengecko, @vik378

docs: Fix instructions for `CairoSVG`
  README.rst
Owners: @Wuestengecko, @vik378

fix(exs): Serialize known `xmi:*` attributes in the correct order
  capellambse/loader/exs.py
Owners: @Wuestengecko

docs(model): Fix description of DeepProxyAccessor
  capellambse/model/common/accessors.py
Owners: @Wuestengecko

feat(model): Add a `get_children` method
  capellambse/model/common/element.py
Owners: @Wuestengecko

Initial commit
  capellambse/diagram/capstyle.py
  capellambse/svg/drawing.py
  capellambse/svg/style.py
Owners: @Wuestengecko, @vik378, @ewuerger

docs: Update demo notebooks
  docs/source/examples/01 Introduction.ipynb
  docs/source/examples/02 Intro to Physical Architecture API.ipynb
  docs/source/examples/03 Data Values.ipynb
  docs/source/examples/04 Intro to Jinja templating.ipynb
  docs/source/examples/05 Introduction to Libraries.ipynb
  docs/source/examples/06 Introduction to Requirement access and management.ipynb
  docs/source/examples/07 Code Generation.ipynb
  docs/source/examples/08 Property Values.ipynb
  docs/source/examples/09 Context Diagrams.ipynb
  docs/source/examples/10 Declarative Modeling.ipynb
  docs/source/examples/11 Complexity Assessment.ipynb
Owners: @Wuestengecko, @vik378

docs: Use new methods in PA demo notebook
  docs/source/examples/02 Intro to Physical Architecture API.ipynb
Owners: @Wuestengecko, @vik378

fix(exs): Serialize known `xmi:*` attributes in the correct order
  capellambse/loader/exs.py
Owners: @Wuestengecko

fix(docs): Add missing notebooks to README
  README.rst
Owners: @Wuestengecko, @vik378

fix(docs): Add instructions to `README`
  README.rst
Owners: @Wuestengecko, @vik378

feat(model): Add filter and map methods to ElementList
  capellambse/model/common/element.py
Owners: @Wuestengecko

docs: Fix instructions for `CairoSVG`
  README.rst
Owners: @Wuestengecko, @vik378

docs(model): Fix description of DeepProxyAccessor
  capellambse/model/common/accessors.py
Owners: @Wuestengecko

build: Add JupyterLab's `.virtual_documents` to gitignore
  .gitignore
Owners: @Wuestengecko, @vik378

fix(svg): Remove SVG Stylesheet
  capellambse/diagram/capstyle.py
  capellambse/svg/drawing.py
  capellambse/svg/style.py
  tests/test_svg.py
Owners: @Wuestengecko, @vik378, @ewuerger

fix(model): EnumerationReference.name isn't mandatory
  capellambse/model/crosslayer/information/datavalue.py
Owners: @Wuestengecko

fix: Ignore None here
  capellambse/model/common/element.py
Owners: @Wuestengecko

refactor(svg): Don't use a stylesheet in SVGs
  capellambse/diagram/capstyle.py
  capellambse/model/__init__.py
  capellambse/model/diagram.py
  capellambse/svg/drawing.py
  capellambse/svg/style.py
  docs/source/examples/01 Introduction.ipynb
  docs/source/examples/02 Intro to Physical Architecture API.ipynb
  docs/source/examples/03 Data Values.ipynb
  docs/source/examples/04 Intro to Jinja templating.ipynb
  docs/source/examples/05 Introduction to Libraries.ipynb
  docs/source/examples/06 Introduction to Requirement access and management.ipynb
  docs/source/examples/07 Code Generation.ipynb
  docs/source/examples/08 Property Values.ipynb
  docs/source/examples/09 Context Diagrams.ipynb
  docs/source/examples/10 Declarative Modeling.ipynb
  docs/source/examples/11 Complexity Assessment.ipynb
  tests/test_svg.py
Owners: @Wuestengecko, @vik378, @ewuerger

docs: Re-render notebooks
  docs/source/examples/01 Introduction.ipynb
  docs/source/examples/02 Intro to Physical Architecture API.ipynb
  docs/source/examples/04 Intro to Jinja templating.ipynb
  docs/source/examples/05 Introduction to Libraries.ipynb
  docs/source/examples/07 Code Generation.ipynb
  docs/source/examples/09 Context Diagrams.ipynb
  docs/source/examples/10 Declarative Modeling.ipynb
Owners: @Wuestengecko, @vik378

fix(aird): Fix crash in iter_visible when a semantic element was deleted
  capellambse/aird/__init__.py
Owners: @Wuestengecko, @vik378

feat(model): Add 'kind' to FunctionalChain
  capellambse/model/crosslayer/fa.py
  capellambse/model/modeltypes.py
Owners: @Wuestengecko

feat(diagram-cache): Expose the `IndexEntry` typed dict
  capellambse/_diagram_cache.py
  capellambse/diagram_cache.py
Owners: @Wuestengecko, @vik378

.github/CODEOWNERS:

# SPDX-FileCopyrightText: Copyright DB Netz AG and the capellambse contributors
# SPDX-License-Identifier: CC0-1.0

*	@Wuestengecko @vik378

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko
/capellambse/repl.py	@Wuestengecko

/capellambse/svg/	@ewuerger

# vim:set ts=32 sw=0 noet:
