Repository DSD-DBS/py-capellambse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Wuestengecko, @vik378, @ewuerger

feat(scripts): Add a script to generate changelogs from Git
  scripts/mkchangelog.py
Owners: @Wuestengecko, @vik378

chore(validation): Drop spacy processing
  capellambse/extensions/validation/rules.py
Owners: @Wuestengecko, @vik378

ci: Auto-push the 'release-X' branch
  .github/workflows/code-qa.yml
Owners: @Wuestengecko, @vik378

ci: Update workflows
  .github/workflows/commits.yml
  .github/workflows/docs.yml
Owners: @Wuestengecko, @vik378

feat(model): Add a way back to an element's layer
  capellambse/model/common/element.py
Owners: @Wuestengecko

fix(model): Leave a margin around terminal icons
  capellambse/model/common/element.py
Owners: @Wuestengecko

perf(model): Cache rendered object icons
  capellambse/model/common/element.py
Owners: @Wuestengecko

refactor(git): Check out the work tree
  capellambse/filehandler/git.py
Owners: @Wuestengecko, @vik378

fix(git): Don't create empty commits
  capellambse/filehandler/git.py
Owners: @Wuestengecko, @vik378

feat(validation): Enable validation of an entire layer
  capellambse/extensions/validation/__init__.py
  capellambse/extensions/validation/_validate.py
Owners: @Wuestengecko, @vik378

fix(validation): Only look at non-None activity owners
  capellambse/extensions/validation/rules.py
Owners: @Wuestengecko, @vik378

ci: Update commitlint hook
  .commitlintrc.yml
  .pre-commit-config.yaml
Owners: @Wuestengecko, @vik378

feat(loader): Add the actual `entrypoint` to ModelInfo
  capellambse/loader/core.py
  capellambse/loader/modelinfo.py
Owners: @Wuestengecko

fix(model): Hide deprecated attributes from `dir()`
  capellambse/model/common/element.py
Owners: @Wuestengecko

feat(model): Allow mapkey without mapvalue
  capellambse/model/common/element.py
Owners: @Wuestengecko

feat(validate): Add new rules from @MS34449
  capellambse/extensions/validation/rules.py
Owners: @Wuestengecko, @vik378

ci: Push the release-X branch from the build job
  .github/workflows/code-qa.yml
Owners: @Wuestengecko, @vik378

fix(model): Allow filtering lists '.by_' list attributes
  capellambse/model/common/element.py
Owners: @Wuestengecko

perf(aird): Use a hashmap for style lookups in iter_visible
  capellambse/aird/__init__.py
Owners: @Wuestengecko, @vik378

feat(model): Add `Diagram.semantic_nodes`
  capellambse/model/diagram.py
Owners: @Wuestengecko

feat(model): Add `Diagram.semantic_nodes`
  capellambse/model/diagram.py
Owners: @Wuestengecko

fix(model): Remove no longer needed `__dir__` overrides
  capellambse/model/crosslayer/fa.py
Owners: @Wuestengecko

fix(model): Deduplicate CEX exchange items
  capellambse/model/crosslayer/fa.py
Owners: @Wuestengecko

feat: Capella 7.0 support
  capellambse/_namespaces.py
Owners: @Wuestengecko, @vik378

chore: Deprecate the current PVMT extension
  capellambse/extensions/pvmt.py
  capellambse/model/__init__.py
  tests/test_model_creation_deletion.py
Owners: @Wuestengecko, @vik378

feat(model): Add a non-deprecated "Alias" accessor
  capellambse/model/common/accessors.py
  capellambse/model/common/element.py
Owners: @Wuestengecko

feat(model): Allow specifying list extra args directly
  capellambse/extensions/reqif/_requirements.py
  capellambse/model/common/accessors.py
  capellambse/model/crosslayer/capellacore.py
  capellambse/model/crosslayer/information/datatype.py
Owners: @Wuestengecko, @vik378

chore(model): Fix some type annotations
  capellambse/model/common/accessors.py
Owners: @Wuestengecko

fix(model): Set the UUID first when creating elements
  capellambse/model/common/element.py
Owners: @Wuestengecko

feat(model): Present `by_nodes` in `dir(some_ElementList)`
  capellambse/model/common/element.py
Owners: @Wuestengecko

chore(model): Remove blank lines around overloads
  capellambse/aird/_box_factories.py
  capellambse/aird/_common.py
  capellambse/diagram/_vector2d.py
  capellambse/extensions/filtering.py
  capellambse/extensions/reqif/_capellareq.py
  capellambse/filehandler/git.py
  capellambse/helpers.py
  capellambse/loader/xmltools.py
  capellambse/model/common/accessors.py
  capellambse/model/common/element.py
  capellambse/model/common/properties.py
  capellambse/model/diagram.py
  capellambse/svg/drawing.py
Owners: @Wuestengecko, @vik378, @ewuerger

fix(model): Avoid showing full object values in `_short_html_`
  capellambse/model/common/element.py
Owners: @Wuestengecko

feat(model): Allow using an alternate form in RoleTagAccessor
  capellambse/model/common/accessors.py
Owners: @Wuestengecko

fix(svg): Fall back to ErrorSymbol if no symbol found
  capellambse/svg/drawing.py
Owners: @ewuerger

chore: Deprecate the broken auditing feature
  capellambse/__init__.py
  capellambse/auditing.py
  docs/source/start/audit-events.rst
  tests/conftest.py
  tests/test_auditing.py
Owners: @Wuestengecko, @vik378

chore!: Remove auditing feature
  capellambse/__init__.py
  capellambse/auditing.py
  capellambse/extensions/filtering.py
  capellambse/extensions/reqif/_capellareq.py
  capellambse/extensions/validation/_validate.py
  capellambse/loader/xmltools.py
  capellambse/model/__init__.py
  capellambse/model/common/accessors.py
  capellambse/model/common/element.py
  capellambse/model/common/properties.py
  capellambse/model/diagram.py
  docs/source/index.rst
  docs/source/start/audit-events.rst
Owners: @Wuestengecko, @vik378

ci: Enable black on Jupyter notebooks
  .pre-commit-config.yaml
  docs/source/examples/01 Introduction.ipynb
  docs/source/examples/02 Intro to Physical Architecture API.ipynb
  docs/source/examples/03 Data Values.ipynb
  docs/source/examples/04 Intro to Jinja templating.ipynb
  docs/source/examples/05 Introduction to Libraries.ipynb
  docs/source/examples/06 Introduction to Requirement access and management.ipynb
  docs/source/examples/07 Code Generation.ipynb
  docs/source/examples/10 Declarative Modeling.ipynb
Owners: @Wuestengecko, @vik378

refactor!: Change how "model info" is presented
  capellambse/filehandler/abc.py
  capellambse/filehandler/git.py
  capellambse/filehandler/gitlab_artifacts.py
  capellambse/filehandler/http.py
  capellambse/filehandler/local.py
  capellambse/filehandler/memory.py
  capellambse/filehandler/zip.py
  capellambse/loader/core.py
  capellambse/loader/modelinfo.py
  capellambse/model/__init__.py
Owners: @Wuestengecko, @vik378

chore!: Remove deprecated aliases and attributes
  capellambse/extensions/reqif/__init__.py
  capellambse/extensions/reqif/elements.py
  capellambse/filehandler/git.py
Owners: @Wuestengecko, @vik378

docs: Fix documentation build errors
  capellambse/aird/_filters/__init__.py
  capellambse/cli_helpers.py
  capellambse/extensions/reqif/_capellareq.py
  capellambse/filehandler/gitlab_artifacts.py
  capellambse/helpers.py
  capellambse/loader/exs.py
  capellambse/loader/modelinfo.py
  capellambse/model/__init__.py
  capellambse/model/common/__init__.py
  capellambse/model/common/accessors.py
  capellambse/model/common/element.py
  capellambse/model/crosslayer/fa.py
  capellambse/model/diagram.py
  docs/source/conf.py
  docs/source/development/developing-docs.rst
  pyproject.toml
Owners: @Wuestengecko, @vik378

.github/CODEOWNERS:

# SPDX-FileCopyrightText: Copyright DB InfraGO AG
# SPDX-License-Identifier: CC0-1.0

*	@Wuestengecko @vik378

/capellambse/loader/	@Wuestengecko
/capellambse/model/	@Wuestengecko
/capellambse/repl.py	@Wuestengecko

/capellambse/svg/	@ewuerger

# vim:set ts=32 sw=0 noet:
